@use "../breakpoints" as *;
@use "../mixins" as *;
@import "../constants";


//- General

.desc {
  &-root {
    background: #f7f7f7;
    min-height: calc(100vh - 71px);
  }

  &-hero {
    & {
      display: flex;
      height: 300px;

      @include superimposed-children();
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-contents {
      align-self: end;
      padding: 2rem var(--side-margin);
    }

    h1 {
      color: #fff;
      font-size: 3rem;
      text-shadow: 0 0 2px #000;
    }
  }

  &-body {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 260px 1fr;

    padding: 2rem var(--side-margin);
  }
}


//- Side navigation

.sidenav {
  & {
    position: sticky;
    top: 0;
  }

  h3 {
    padding-top: 2rem;
    margin-bottom: 0.8rem;

    color: #999;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &-toc {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;
    }

    @at-root :not(&) > .sidenav-toc-list {
      margin-top: 0.6rem;
      padding-left: 1rem;
    }

    &-link {
      color: #666;
      font-weight: 500;
      line-height: 1.2;

      &:hover {
        color: #333;
      }

      &._active {
        color: $accent-color;
      }
    }
  }
}


//- Contents

.desc-contents {
  h2 {
    margin: 1.8rem 0 1rem 0;
    font-size: 2rem;
  }

  h3 {
    margin: 1.2rem 0 0.8rem 0;
    font-size: 1.4rem;
  }

  h1, h2, h3, h4, h5, h6 /* .header-nav-ul > li > a, .header-item-title */ {
    font-family: $font-headings;
  }

  h2:target, h3:target {
    position: relative;

    &::before {
      content: "›";

      position: absolute;
      left: -1em;

      color: #666;
    }
  }

  a:not(.ref):not(.ref-link) {
    color: $second-color;

    &:hover {
      text-decoration: underline;
    }

    // External links
    &[href^="http"] {
      & {
        display: inline-flex;
        column-gap: 0.2rem;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;

        align-self: center;

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path xmlns="http://www.w3.org/2000/svg" d="M14 5C13.4477 5 13 4.55228 13 4C13 3.44772 13.4477 3 14 3H20C20.2652 3 20.5196 3.10536 20.7071 3.29289C20.8946 3.48043 21 3.73478 21 4L21 10C21 10.5523 20.5523 11 20 11C19.4477 11 19 10.5523 19 10L19 6.41422L9.70711 15.7071C9.31658 16.0976 8.68342 16.0976 8.29289 15.7071C7.90237 15.3166 7.90237 14.6834 8.29289 14.2929L17.5858 5H14ZM3 7C3 5.89543 3.89543 5 5 5H10C10.5523 5 11 5.44772 11 6C11 6.55228 10.5523 7 10 7H5V19H17V14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14V19C19 20.1046 18.1046 21 17 21H5C3.89543 21 3 20.1046 3 19V7Z" fill="#{encode-color($second-color)}" /></svg>');
        background-position: center;
        background-repeat: no-repeat;

        /* display: inline-block;
        content: "↗︎";
        margin-left: 0.4ch;
        font-size: 0.9em;
        text-decoration: none; */
      }
    }
  }

  p {
    margin: 1em 0;

    line-height: 1.4;
    text-align: justify;

    a:not(.ref) {
      // border-bottom: 1px dotted currentColor;

      &:hover {
        // border-bottom-style: solid;
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;

    margin: 1rem 0 1rem 3rem;

    > li {
      padding-left: 0.4rem;

      list-style-position: outside;
      list-style-type: decimal;

      &::marker {
        // font-variant-numeric: tabular-nums;
        font-weight: 600;
      }
    }

    ol {
      margin-left: 1rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    margin: 1.6rem 0 1.6rem 1.6rem;

    > li {
      display: list-item;
      padding-left: 0.4rem;

      list-style-type: disc;
    }
  }
}


//- Mobile

@include media-breakpoint-down(lg) {
  .desc-body {
    display: revert;
  }

  .sidenav-container {
    display: none;
  }

  .desc-contents p {
    text-align: left;
  }
}



//- References

.ref {
  & {
    display: inline;

    color: $accent-color;
    font-size: 0.8em;
    font-weight: 500;

    // &::before { content: "["; }
    // &::after { content: "]"; }

    &:hover {
      text-decoration: underline;
    }
  }

  &-group, :not(&-group) > & {
    margin-left: 0.2em;
    // vertical-align: top;

    position: relative;
    top: -0.4em;
  }


  &-list {
    row-gap: 1.4rem !important;
  }

  &-item {
    line-height: 1.5;

    > :not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }

  &-authors {
    // margin-bottom: 0.4rem;
  }

  &-title {
    font-family: Merriweather, serif;
    font-size: 1.05rem;
    font-weight: 700;
  }

  &-journal {
    // margin: 0.4rem 0;
  }

  &-links {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
  }

  &-link {
    font-weight: 500;
    text-decoration: underline $accent-color 2px;

    position: relative;

    &::before {
      content: "";

      width: 100%;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;

      transform: scale(1.1, 1);
    }

    &:focus-visible::before, &:hover::before {
      background-color: #0001;
    }

    &:active::before {
      background-color: $accent-color;
    }
  }
}


//- Table


.table {
  margin: 2rem 0;

  th {
    padding-bottom: 0.6rem;
    vertical-align: bottom;

    border-bottom: 2px solid #aaa;

    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  td:nth-child(3) {
    font-weight: 600;
  }

  td {
    padding: 0.8rem 2rem 0.8rem 0;
    vertical-align: top;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
  }

  a {
    display: inline;
    color: $apple-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    white-space: nowrap;
  }


  li & {
    margin: 1rem 0;
  }
}

.compat {
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  &-item {
    display: flex;
    align-items: center;
    column-gap: 1ch;

    svg {
      width: 1em;
      height: 1em;
      font-size: 1rem;
    }

    svg {
      padding: 0.1rem;
      border-radius: 50%;

      font-size: 0.9rem;
    }

    path { fill: #fff; }

    &._ok svg { background-color: #2ecc40; }
    &:not(._ok) svg { background-color: #ff4136; }
  }
}
