@use "../breakpoints" as *;
@import "../constants";


.lab-exp {
  header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
  }

  header :nth-child(2) {
    color: #666;
    font-size: 1.05rem;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }


  p strong {
    margin-right: 0.8ch;

    font-weight: 500;
    text-decoration: underline $accent-color;
    text-decoration-thickness: 2px;
  }

  figure {
    margin: 1.4rem 0;
  }

  img {
    max-width: 100%; // 500px;
    max-height: 400px;
  }

  table {
    margin: 1.4rem 0;

    caption {
      caption-side: bottom;
    }

    th {
      border-bottom: 2px solid #ccc;
      font-weight: 500;
    }

    td {
      border-bottom: 1px solid #ccc;
    }

    th, td {
      padding: 0.6rem 1rem;
    }
  }

  caption {
    margin: 0 auto;
  }

  caption, figcaption {
    margin-top: 1rem;
    line-height: 1.3;

    @include media-breakpoint-up(md) {
      max-width: 80%;
    }

    > :first-child {
      margin-right: 1rem;

      color: $accent-color;
      // font-variant: small-caps;
      font-size: 1.05rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    > :nth-child(2) {
      // font-family: $font-refs;
      font-weight: 600;
    }

    > :nth-child(3) {
      &::before {
        content: " ";
      }
    }
  }
}
