@use "../breakpoints" as *;
@use "../constants" as *;
@use "../mixins" as *;


.lab-exp {
  header {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
  }

  header > :nth-child(2) {
    color: #666;
    font-size: 1.05rem;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }


  p strong {
    margin-right: 0.8ch;

    @include underline($color: $accent-color, $thickness: 2px);
    font-weight: 600;
  }

  table {
    margin: 1.4rem 0;

    caption {
      caption-side: bottom;
    }

    th {
      border-bottom: 2px solid #ccc;
      font-weight: 500;
    }

    td {
      border-bottom: 1px solid #ccc;
    }

    th, td {
      padding: 0.6rem 1rem;
    }
  }
}
