extends _layout

block contents
  main.desc-root
    .hero
      block hero
        img.hero-image(src="assets/background/description.jpg")
        .hero-contents: h1 Title

    .desc-body
      aside.sidenav-container
        .sidenav
          h3 Contents
          .sidenav-toc
            toc

      .desc-contents(toc-contents)
        block description
