.header-brand
  a(href="index.html"): include ../../internal-assets/logo.svg
  a(href="https://epfl.ch" target="_blank"): svg: use(href="assets/icons.svg#epfl")

button(type="button").header-menu: svg: use(href="assets/icons.svg#menu")

nav.header-nav
  ul.header-nav-ul
    li
      a(href="#") Project
      .header-preview(style="--height: 600px;")
        ul
          li: a(href="Description.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#description")
            .header-item-title Description
            .header-item-desc Project background, inspiration, etc.

          li: a(href="Background.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#background")
            .header-item-title Background
            .header-item-desc Quantification of the problem

          li: a(href="Design.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#design")
            .header-item-title Design
            .header-item-desc Monomer and dimer design

          li: a(href="Model.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#model")
            .header-item-title Modelling
            .header-item-desc Bioreactor fluid mechanics models

          li: a(href="Results.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#results")
            .header-item-title Results
            .header-item-desc Main results of the project

          li: a(href="Engineering_Success.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#engineering-success")
            .header-item-title Engineering Success
            .header-item-desc Design, build, test, learn

          li: a(href="Implementation.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#implementation")
            .header-item-title Implementation
            .header-item-desc Bioreactor

          li: a(href="Proof_Of_Concept.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#demonstration")
            .header-item-title Proof of Concept
            .header-item-desc Showing yeast captures copper

          li: a(href="Contribution.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#contribution")
            .header-item-title Contribution
            .header-item-desc Contribution to future teams

          li: a(href="Safety.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#safety")
            .header-item-title Safety
            .header-item-desc Contribution to future teams

          li: a(href="Protocols.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#protocols")
            .header-item-title Protocols
            .header-item-desc PCR, Western Blot, transformation, etc.

          li: a(href="Notebook.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#notebook")
            .header-item-title Notebook
            .header-item-desc Detailed records of all experiments

          //- li: a(href="Discussion.html").header-item
          //-   .header-item-icon: svg: use(href="assets/icons.svg#discussion")
          //-   .header-item-title Discussion

    li
      a(href="#") People
      .header-preview(style="--height: 250px;")
        ul
          li: a(href="Team.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#team")
            .header-item-title Team

          li: a(href="Attributions.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#attributions")
            .header-item-title Attributions

          li: a(href="Collaborations.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#collaborations")
            .header-item-title Collaborations

    li
      a(href="#") Parts
      .header-preview(style="--height: 150px;")
        ul
          li: a(href="Parts_Overview.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#parts-overview")
            .header-item-title Parts Overview

          li: a(href="Parts_Collection.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#parts")
            .header-item-title Parts Collection

    li
      a(href="#") Human Practices
      .header-preview(style="--height: 250px;")
        ul
          li: a(href="Human_Practices.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#hp")
            .header-item-title Human Practices

          li: a(href="Integrated.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#ihp")
            .header-item-title Integrated Human Practices

          li: a(href="Communication.html").header-item
            .header-item-icon: svg: use(href="assets/icons.svg#communication")
            .header-item-title Education &amp; Communication

    li: a(href="Medals_and_Awards.html") Medals
