.header-brand
  a(href="index.html"): include ../../internal-assets/logo.svg
  a(href="https://epfl.ch" target="_blank"): include ../../assets/epfl.svg

button(type="button").header-menu: include ../../internal-assets/icons/menu.svg

nav.header-nav
  ul.header-nav-ul
    li
      a(href="#") Project
      .header-preview(style="--height: 500px;")
        ul
          li: a(href="Description.html").header-item
            .header-item-icon: include ../../internal-assets/icons/description.svg
            .header-item-title Description
            .header-item-desc Project background, inspiration, etc.

          li: a(href="Protocols.html").header-item
            .header-item-icon: include ../../internal-assets/icons/microscope.svg
            .header-item-title Protocols
            .header-item-desc PCR, Western Blot, transformation, etc.

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/modeling.svg
            .header-item-title Modeling
            .header-item-desc Bioreactor fluid mechanics models

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/design.svg
            .header-item-title Design
            .header-item-desc Monomer and dimer design

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/safety.svg
            .header-item-title Safety

          li: a(href="notebook.html").header-item
            .header-item-icon: include ../../internal-assets/icons/lab_book.svg
            .header-item-title Lab Book
            .header-item-desc Detailed records of all experiments

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/results.svg
            .header-item-title Results

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/demonstration.svg
            .header-item-title Demonstration

    li
      a(href="biology.html") People
      .header-preview(style="--height: 250px;")
        ul
          li: a(href="team.html").header-item
            .header-item-icon: include ../../internal-assets/icons/team.svg
            .header-item-title Team

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/attributions.svg
            .header-item-title Attributions

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/share.svg
            .header-item-title Collaborations

    li
      a(href="#") Parts
      .header-preview(style="--height: 150px;")
        ul
          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/parts_overview.svg
            .header-item-title Parts overview

          li: a._disabled.header-item
            .header-item-icon: include ../../internal-assets/icons/basic_parts.svg
            .header-item-title Basic parts

    li: a._disabled Human Practices
    li: a(href="Medals_and_awards.html") Medals
