a(href="index.html").header-brand
  include ../../internal-assets/logo.svg

button(type="button").header-menu: include ../../internal-assets/icons/menu.svg

nav.header-nav
  ul.header-nav-ul
    li
      a(href="#") Project
      .header-preview(style="--height: 500px;")
        ul
          li: a(href="description.html").header-item
            .header-item-icon: include ../../internal-assets/icons/description.svg
            .header-item-title Description
            .header-item-desc Description of our project, background, etc.

          li: a(href="protocols.html").header-item
            .header-item-icon: include ../../internal-assets/icons/microscope.svg
            .header-item-title Protocols
            .header-item-desc PCR, Western Blot protocols, etc.

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/modeling.svg
            .header-item-title Modeling
            .header-item-desc Yeast growth and hardware fluid mechanics models

          li: a(href="design.html").header-item
            .header-item-icon: include ../../internal-assets/icons/design.svg
            .header-item-title Design

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/safety.svg
            .header-item-title Safety

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/lab_book.svg
            .header-item-title Lab Book

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/results.svg
            .header-item-title Results

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/demonstration.svg
            .header-item-title Demonstration

    li
      a(href="biology.html") People
      .header-preview(style="--height: 250px;")
        ul
          li: a(href="team.html").header-item
            .header-item-icon: include ../../internal-assets/icons/team.svg
            .header-item-title Team

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/attributions.svg
            .header-item-title Attributions

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/share.svg
            .header-item-title Collaborations

    li
      a(href="#") Parts
      .header-preview(style="--height: 150px;")
        ul
          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/parts_overview.svg
            .header-item-title Parts overview

          li: a(href="#").header-item
            .header-item-icon: include ../../internal-assets/icons/basic_parts.svg
            .header-item-title Basic parts

    li: a(href="#") Human Practices
    li: a(href="#") Medals
