html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="styles.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Secular+One&display=swap" rel="stylesheet")

    block head

  body
    block header
      header.header: include header.pug

    block contents

    block footer
      footer.footer
        .footer-brand
          include ../../internal-assets/logo.svg

        nav.footer-sitemap
          a(href="#") Home
          a(href="#") Biology
          a(href="#") Implementation
          a(href="#") Human Practices

        nav.footer-social
          a(href="https://www.instagram.com/igem_epfl/")
            img(src="assets/social/instagram.png" alt="Instagram logo")
            div @igem_epfl

          a(href="https://www.facebook.com/igemepfl")
            img(src="assets/social/facebook.png" alt="Facebook logo")
            div @igemepfl

          a(href="https://twitter.com/EPFL_iGEM")
            img(src="assets/social/twitter.png" alt="Twitter logo")
            div @EPFL_iGEM

    .overlay

    script.
      document.title = 'CuRe - EPFL iGEM 2021';

      let link = document.querySelector("link[rel~='icon']");

      if (link) {
        link.href = 'https://2021.igem.org/wiki/images/3/37/T--EPFL--favicon.png';
      } else {
        link = document.createElement('link');
        link.href = 'assets/favicon.png';
        link.rel = 'icon';
        document.getElementsByTagName('head')[0].appendChild(link);
      }

    script(src="assets/scripts/header.js")
