html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="styles.css" rel="stylesheet")
    script(src="scripts.js" defer)

    block head

  body
    block header
      header.header: include header.pug

    block contents

    block footer
      footer.footer
        .footer-brand
          include ../../internal-assets/logo.svg

        nav.footer-sitemap
          a(href="#") Home
          a(href="#") Biology
          a(href="#") Implementation
          a(href="#") Human Practices

        nav.footer-social
          a(href="https://www.instagram.com/igem_epfl/")
            img(src="assets/social/instagram.webp" alt="Instagram logo" loading="lazy")
            div @igem_epfl

          a(href="https://www.facebook.com/igemepfl")
            img(src="assets/social/facebook.webp" alt="Facebook logo" loading="lazy")
            div @igemepfl

          a(href="https://twitter.com/EPFL_iGEM")
            img(src="assets/social/twitter.webp" alt="Twitter logo" loading="lazy")
            div @EPFL_iGEM

    .overlay

    script.
      let root = document.querySelector('#mw-context-text') || document.body;

      Promise.all([
        document.fonts.load('1em Inter'),
      ]).then(() => void root.classList.add('fonts-loaded'));
