@use "sass:math";

@use "../breakpoints" as *;
@use "../constants" as *;
@use "../mixins" as *;


.home-root {
  --vert-margin: 4rem;

  @include media-breakpoint-down(md) {
    --vert-margin: 2rem;
  }


  .fadein:not(._visible) .fadein-target {
    opacity: 0;
    transform: translateY(14px);
  }

  .fadein._visible .fadein-target {
    $base-delay: 200ms;
    $duration: 600ms;

    & {
      transition: opacity $duration $base-delay, transform $duration $base-delay;
    }

    @for $i from 1 to 3 {
      &[data-delay="#{$i}"] {
        transition-delay: $base-delay + $i * 150ms;
      }
    }
  }


  figure {
    display: flex;
    flex-direction: column;
  }

  figcaption {
    margin: 0 auto;
    padding: 1rem;

    color: #999;
    font-size: 0.9rem;

    a {
      display: inline;
    }
  }

  .ref {
    color: inherit;
    opacity: 0.8;
  }
}


%home-section {
  h2 {
    margin: 0.2rem 0 0.4rem 0;

    color: $accent-color;
    font-size: 2.0rem;
  }

  .subtext {
    color: #333;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    margin: 1rem 0;

    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;

    &:first-of-type {
      margin-top: 1.8rem;
    }
  }

  p ~ a {
    display: flex;

    width: max-content;
    padding: 0.3rem 0;

    font-size: 1.1rem;
    font-weight: 500;
    @include underline($thickness: 2px);

    transition: color 300ms;

    &::after {
      @extend %chevron;

      transform: rotate(-90deg);
      transition: color 300ms, opacity 300ms, transform 300ms;
    }

    &:not(:hover)::after {
      opacity: 0;
    }

    &:hover::after {
      transform: translateX(0.6ch) rotate(-90deg);
    }
  }
}


// ----


.home-hero {
  @include superimposed-children();

  height: 100vh;
  min-height: 500px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-contents {
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    padding: 10rem var(--side-margin);

    background-image: linear-gradient(#0003 0%, transparent 100px, transparent 100%);

    color: #fff;
  }

  h1 {
    width: 3.5 * 4rem;
    height: 4rem;

    color: #fff;
    filter: drop-shadow($text-shadow);

    svg {
      fill: currentColor;
      height: 100%;
    }
  }

  p {
    margin-top: 1.4rem;

    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: $text-shadow;
  }
}


// Section 1 - The problem

.section1 {
  &-root {
    @extend %home-section;

    display: grid;
    align-items: center;
    gap: 2rem 4rem;
    grid-template-columns: 1fr 1fr;

    height: 100vh;
    max-height: 600px;
    min-height: 500px;
    padding: var(--vert-margin) var(--side-margin);
  }

  &-right img {
    object-fit: contain;
  }

  @include media-breakpoint-down(lg) {
    &-root {
      grid-template-columns: 1fr;
      height: unset;
      max-height: unset;
    }

    &-right img {
      max-height: 300px;
    }
  }
}


%image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%white-text {
  color: #fff;
  text-shadow: $text-shadow;
}


// Section 2 - Human Practices

.section2 {
  &-root {
    @include superimposed-children();

    height: 100vh;
    max-height: 600px;

    img {
      @extend %image-cover;
      filter: brightness(80%);
    }
  }

  &-contents {
    display: flex;
    flex-direction: column;
    justify-content: end;

    z-index: 2;

    @extend %home-section, %white-text;
    padding: var(--vert-margin) var(--side-margin);

    h2 {
      color: #fff;
    }

    p {
      max-width: 700px;
    }

    @include media-breakpoint-down(md) {
      justify-content: start;
    }
  }
}


// Section 3 - Citation

.section3 {
  padding: 3rem var(--side-margin);
  background-color: #eee;

  p {
    max-width: 700px;

    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
  }

  cite {
    margin-top: 0.8rem;
    color: #666;

    &::before {
      content: "— ";
    }
  }
}


// Section 4 - Communication

.section4 {
  & {
    @include superimposed-children();

    height: 100vh;
    max-height: 600px;

    img {
      @extend %image-cover;
      filter: brightness(80%);
    }
  }

  &-contents {
    display: flex;
    flex-direction: column;
    justify-content: end;

    z-index: 2;

    @extend %home-section, %white-text;
    padding: var(--vert-margin) var(--side-margin);

    h2 {
      color: #fff;
    }

    p {
      max-width: 700px;
    }

    @include media-breakpoint-down(md) {
      justify-content: start;
    }
  }
}


// Section 5 - Facts

.section5 {
  padding: 4rem var(--side-margin);

  background-color: #eee;

  .fact {
    &-list {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: auto auto;
      justify-content: space-around;
      row-gap: 0.4rem;

      width: 100%;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
      }
    }

    &-text {
      width: 240px;

      color: #666;
      font-size: 0.95rem;
      font-weight: 500;
      line-height: 1.3;

      &-bottom {
        grid-row: 3;
      }
    }

    &-value {
      grid-row: 2;

      font-size: 2rem;
      font-weight: 600;

      @include media-breakpoint-down(md) {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}


// Section 6 - Meet CUP1

.section6 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  padding: var(--vert-margin) var(--side-margin);
  background-color: #000;

  color: #fff;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  &-contents {
    @extend %home-section;
  }

  h2 strong {
    color: $accent-color;
  }

  p strong {
    @include underline($color: $second-color, $thickness: 3px);

    &::before {
      content: "";
      display: inline-block;
      width: 1ch;
      height: 1ch;
      background-color: $second-color;
      border: 1px solid #fff3;
      border-radius: 50%;

      margin: 0 0.8ch 0 0.6ch;
    }
  }
}


// Section 7 - Using and improving CUP1

.section7 {
  @include superimposed-children();

  height: 100vh;
  max-height: 600px;

  &-contents {
    @extend %home-section;
    padding: var(--vert-margin) var(--side-margin);
  }

  video {
    @extend %image-cover;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  &-items {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 2rem;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  p {
    max-width: 500px;
    margin: 1rem 0;

    font-size: 1.05rem;
    font-weight: 500;
  }
}


// Section 8 - Explore our experiments

.section8 {
  @include superimposed-children();

  height: 100vh;
  max-height: 600px;

  background-color: #000;

  img {
    @extend %image-cover;
  }

  &-contents {
    @extend %home-section;

    display: flex;
    flex-direction: column;

    max-width: calc(600px + var(--side-margin) * 2);
    padding: var(--vert-margin) var(--side-margin);

    background-image: linear-gradient(to right, #000, #0001);
    color: #fff;

    // h2 strong {
    //   background: -webkit-linear-gradient(45deg, rgb(0, 102, 255), rgb(0, 83, 160));
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    // }

    figcaption {
      margin: auto 0 0 0;
      padding: 1rem 0 0 0;
    }
  }
}


// Section 9 - References

.section9 {
  padding: var(--vert-margin) var(--side-margin);
  background-color: #fafafa;

  h2 {
    display: flex;
    @include flex-column-gap(1rem);

    margin-bottom: 1rem;
    font-size: 2rem;

    cursor: pointer;

    &::before {
      @extend %chevron;
      transform: translateY(-2px);
    }
  }

  &:not([open]) summary h2::before {
    transform: translateY(-2px) rotate(-90deg);
  }

  .ref-list {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    margin: 1rem 0 1rem 3.6rem;

    a[target="_blank"]:not(.discrete) {
      &::after {
        content: "";

        margin-left: 0.3rem;
        padding-right: 1.85ch;
        vertical-align: 0.1em;

        background-color: currentColor;
        clip-path: url(#link);
      }
    }
  }
}


// Section 10 - CuRe

.section10 {
  padding: var(--vert-margin) var(--side-margin);

  .subtext {
    color: #333;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2rem;

    strong {
      color: $accent-color;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }
  }

  p {
    max-width: 700px;

    margin: 1rem 0;

    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;
  }


  $delay: 1400ms;
  $duration: 600ms;

  .c {
    @include superimposed-children();
    display: inline-grid;
  }

  .c1 {
    transition: opacity $duration $delay;
  }

  &._visible .c1 {
    opacity: 0;
  }

  .c2 {
    display: inline-block;
    max-width: 0;
    overflow-x: hidden;
    vertical-align: bottom;

    transition: max-width $duration $delay, opacity $duration $delay;
  }

  &:not(._visible) .c2 {
    opacity: 0;
  }

  &._visible .c2 {
    max-width: 3.2em;
  }


  .words {
    transition: opacity $duration $delay;
  }

  .words-list {
    animation-delay: $delay;
  }

  &:not(._visible) .words {
    opacity: 0;
  }
}


.section11 {
  @include superimposed-children();

  height: 100vh;
  min-height: 500px;
  max-height: 700px;

  video {
    @extend %image-cover;
  }

  &-contents {
    @extend %home-section;

    align-self: end;
    padding: 4rem var(--side-margin);

    p {
      max-width: 700px;
    }
  }
}


.sponsors {
  &-root {
    margin: 3rem var(--side-margin);

    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }

  &-list {
    display: flex;
    gap: 20px 40px;
    justify-content: center;
    flex-wrap: wrap;

    a * {
      transition: filter 150ms;
    }

    a:hover * {
      filter: brightness(110%);
    }

    img {
      max-width: 250px;
      max-height: 120px;

      object-fit: contain;
    }

    svg {
      fill: red;
      width: 150px;
      height: 44px;
      margin: 1rem 2rem;
    }
  }
}
