.parts {
  &-container {
    overflow-y: auto;
  }

  &-table {
    margin: initial;

    td:nth-child(3) {
      font-weight: 600;
      line-height: 1.4;
    }
  }

  &-compat {
    display: grid;
    align-items: center;
    grid-template-columns: 1rem 1fr;
    gap: 0.4rem 0.6rem;

    span {
      grid-column: 2;

      &:first-child, & + span {
        opacity: 0.3;
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
