@use "../mixins" as *;


.medal-title {
  display: grid;
  align-items: center;
  grid-template-columns: 48px auto;

  img {
    transform: translateY(4px);
  }

  span {
    margin-left: 1rem;
  }
}


.results {
  &-list {
    @include flex-column(1.4rem);

    width: max-content;
    max-width: 100%;
    margin: 1rem auto;
  }

  &-item {
    display: grid;
    gap: 0.2rem 1rem;
    grid-template: auto 1fr / 60px auto;

    svg {
      grid-row: 1 / -1;
      height: 60px;

      overflow: visible;
    }

    span:nth-of-type(1) {
      color: #666;
    }

    span:nth-of-type(2) {
      align-self: start;

      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
