$accent-color: #f46400;
$second-color: #1f93e3;

$apple-blue: #007aff;

$font-text: Helvetica, ui-sans-serif, system-ui, -apple-system, sans-serif;
$font-headings: Helvetica, ui-sans-serif, system-ui, sans-serif;
$font-refs: Merriweather, ui-serif, serif;


$highlight-blue: #0366d6;
$highlight-shadow: 0 0 0 3px rgba($highlight-blue, 0.4);
$highlight-outline: 3px solid rgba($highlight-blue, 0.4);
