@mixin superimposed-children() {
  display: grid;
  grid: [track] 100% / [track] 100%;

  > * {
    grid-area: track;
  }
}


@function encode-color($string) {
  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');

    @return '%23' + $string;
  }

  @return $string;
}


%chevron {
  content: "";
  display: inline-block;
  align-self: center;

  width: 0.9em;
  height: 0.9em;

  background-color: currentColor;
  clip-path: url(#chevron);
}
