@use "sass:math";


@mixin superimposed-children() {
  display: grid;
  grid: [track] 100% / [track] 100%;

  > * {
    grid-area: track;
  }
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  @include flex-row-gap($gap);
}

@mixin flex-column-gap($gap) {
  --flex-column-gap: 0px;

  > :not(:last-child) {
    --flex-column-gap: #{$gap};
    margin-right: $gap;
  }
}

@mixin flex-row-gap($gap) {
  > :not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin underline($color: currentColor, $thickness: 1px) {
  text-decoration-line: underline;
  text-decoration-color: $color;
  text-decoration-thickness: $thickness;
}


@function encode-color($string) {
  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');

    @return '%23' + $string;
  }

  @return $string;
}


@function to-alpha($color, $background: #fff, $base: #000) {
  @return rgba($base, math.div(
    lightness($color) - lightness($background),
    lightness($base)  - lightness($background)
  ));
}


%chevron {
  content: "";
  display: inline-block;
  align-self: center;

  width: 0.9em;
  height: 0.9em;

  background-color: currentColor;
  clip-path: url(#chevron);
}
