body:not(.mediawiki), #mw-content-text {
  &, *:not(circle, ellipse, path, rect), *::before, *::after {
    all: revert;
    box-sizing: inherit;
  }

  & {
    box-sizing: border-box;
    margin: initial;
  }

  a {
    display: block;

    color: inherit;
    text-decoration: initial;

    &:focus {
      outline: initial;
    }
  }

  ul, ol {
    margin: initial;
    padding: initial;
  }

  ul > li {
    display: block;
    list-style-type: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: initial;
  }

  h1 {
    // Overrides user agent stylesheet such as section > h1.
    font-size: 2em;
  }

  p {
    margin: initial;

    a {
      display: unset;
    }
  }

  figure {
    margin: initial;
  }

  input, button, select, textarea {
    display: block;
    width: 100%;

    margin: initial;
    padding: initial;

    appearance: none;
    background: initial;
    border: initial;
    outline: initial;

    color: inherit;
    font: inherit;
    text-align: initial;

    &:disabled {
      color: initial;
      opacity: initial;
      pointer-events: none;
    }

    &:active {
      color: currentColor;
    }
  }

  option {
    padding: initial;
  }

  input::placeholder {
    opacity: initial;
  }

  input[type="submit"], button {
    cursor: pointer;

    &:disabled {
      pointer-events: none;
    }
  }

  output {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :invalid {
    box-shadow: initial;
  }

  dialog {
    margin: initial;
    padding: initial;

    border: initial;
  }

  a, button {
    -webkit-tap-highlight-color: transparent;
  }

  dl, dd {
    margin: initial;
  }

  samp {
    display: block;

    margin: 1em 0;
  }

  label {
    display: block;
  }

  img {
    max-width: 100%;
    font-size: 0;
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  th {
    font-weight: initial;
    text-align: initial;
  }

  video {
    display: block;
  }

  svg {
    display: block;
    width: 100%;
  }

  strong {
    font-weight: unset;
  }
}


// iGEM-specific rules

#top_title {
  display: none;
}

#content {
  width: revert;

  margin: revert;
  padding: revert;

  // line-height: revert;
}

#globalWrapper {
  padding-bottom: revert;
  font-size: revert;
}

#top_menu_under {
  height: 0;
}

// Override rules that were more specific the global 'all: revert;'
#HQ_page {
  h1 {
    border-bottom: revert;

    font-family: revert;
    font-weight: revert;
  }

  p {
    font-family: revert;
    font-size: revert;
    text-align: revert;
  }
}

#mw-content-text {
  margin-top: 16px;
}
