$accent-color: #e36d1d; // #ff5400;
$apple-blue: #007aff;

$font-text: Inter, ui-sans-serif, system-ui, -apple-system, sans-serif;
$font-headings: "Secular One", ui-sans-serif, system-ui, sans-serif;
$font-refs: Merriweather, ui-serif, serif;


$highlight-blue: #0366d6;
$highlight-shadow: 0 0 0 3px rgba($highlight-blue, 0.4);
$highlight-outline: 3px solid rgba($highlight-blue, 0.4);
