$accent-color: #e36d1d; // #ff5400;
$accent-color-p3: color(display-p3 1 0.39 0 / 1);
$apple-blue: #007aff;

$font-text: InterVariable, Inter, ui-sans-serif, system-ui, -apple-system, sans-serif;
$font-headings: "Secular One", ui-sans-serif, system-ui, sans-serif;
$font-refs: Merriweather, ui-serif, serif;
