@use "sass:math";


$menu-dur: 300ms;
$preview-dur: 300ms;
$overlay-dur: $preview-dur * 0.5;


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding: 0 var(--side-margin);

  background-color: #fff;
  box-shadow: 0 2px 6px #0002;

  position: relative;
  z-index: 2;
}

.header-brand {
  display: flex;

  color: $accent-color;
  color: $accent-color-p3;

  user-select: none;

  svg {
    margin: auto 0;

    height: 1.6rem;
    fill: currentColor;
  }

  path {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;

    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}

.header:not(.header--white) .header-brand {
  $dur1: 600ms;
  $dur2: 300ms;

  &:hover path {
    animation: dash ($dur1 + $dur2) linear forwards;
  }

  @keyframes dash {
    from {
      fill: transparent;
      stroke-dashoffset: 100;
      stroke-width: 15;
    }

    #{math.div($dur1, ($dur1 + $dur2)) * 100%} {
      fill: transparent;
      stroke-dashoffset: 0;
      stroke-width: 15;
    }
  }
}


.header-nav-ul {
  display: flex;

  > li {
    > a {
      font-weight: 500;

      &:not(:only-child)::after {
        display: inline-block;
        content: "›";
        // content: "❯";
        transform: rotate(90deg);

        margin-left: 1ch;
        transition: transform 300ms;
      }
    }

    &._active > a::after {
      transform: rotate(-90deg);
    }
  }
}

.header-menu {
  width: 24px;

  &:not(:active):not(:hover) {
    opacity: 0.7;
  }
}


@include media-breakpoint-up(md) {
  .header-nav-ul {
    column-gap: 0.8rem;
    justify-content: space-between;

    > li {
      flex-shrink: 0;

      > a {
        padding: 0.6rem 1rem;
        transition: background-color 150ms;
      }

      &._active {
        z-index: 2;
      }

      &._active > a, > a:hover {
        background-color: var(--item-background-color, #f6f6f6);
        border-radius: 4px;
      }
    }
  }

  .header-menu {
    display: none;
  }
}


@include media-breakpoint-down(md) {
  .header-nav {
    width: 100%;
    height: calc(100vh - 4rem);

    overflow-y: auto;

    position: absolute;
    left: 0;
    top: 100%;

    background-color: #fff;

    transition: height $menu-dur, opacity $menu-dur;
  }

  .header-nav-ul {
    flex-direction: column;
    justify-content: start;
    row-gap: 0.6rem;

    margin: 0 var(--side-margin);
    padding: 2rem 0;

    border-top: 1px solid #ddd;

    > li {
      transition: transform $menu-dur;

      > a {
        font-size: 1.05rem;
      }
    }
  }

  .header:not(._open) {
  }

  .header:not(._open) .header-nav {
    height: 0;
    opacity: 0.4;
    // padding-top: 0;
    // padding-bottom: 0;

    > li {
      transform: translateY(-0.0rem);
    }
  }
}


// ---

.header-preview {
  /* & {
    width: 100%;
    max-height: var(--height);
    overflow-y: hidden;

    position: absolute;
    left: 0;
    top: 100%;

    padding: 0 var(--side-margin);
    background-color: #fff;
    box-shadow: 0 6px 6px -6px #0002;

    transition: box-shadow $preview-dur, max-height $preview-dur;
  } */

  ul {
    display: grid;
    align-items: center;
    gap: 0.4rem 1.6rem;

    padding: 1rem 0;

    transition: opacity $preview-dur;
  }

  li {
    transition: transform $preview-dur;
  }
}

@include media-breakpoint-up(md) {
  .header-preview {
    width: 100%;
    max-height: var(--height);
    overflow-y: hidden;

    position: absolute;
    left: 0;
    top: 100%;

    padding: 0 var(--side-margin);
    background-color: #fff;
    box-shadow: 0 6px 6px -6px #0002;

    transition: box-shadow $preview-dur, max-height $preview-dur;

    ul {
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid #ddd;
    }

    @at-root .header-nav li:not(._active) .header-preview {
      max-height: 0;
      box-shadow: none;

      ul {
        opacity: 0;
      }

      li {
        transform: translateY(-1rem);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .header-nav {
    li:not(._active) .header-preview {
      display: none;
    }
  }
}


.header-item {
  & {
    display: grid;
    align-items: center;
    gap: 0.2rem 1.2rem;
    grid-template-columns: 40px 1fr;

    padding: 1.6rem 2rem;
    border-radius: 4px;

    transition: background-color 150ms, opacity 150ms;

    &:hover {
      background-color: #fafafa;

      .header-item-title {
        text-decoration: underline;
      }
    }

    &:not(:hover) {
      opacity: 0.8;
    }
  }

  &-icon {
    fill: $accent-color;
    grid-row-end: span 2;
  }

  &-title {
    font-weight: 500;

    &:last-child {
      grid-row-end: span 2;
    }

    &::after {
      display: inline-block;
      content: "›";

      margin-left: 0.8ch;
      font-size: 1.1em;
      transition: opacity 300ms, transform 300ms;
    }
  }

  &:not(:hover) .header-item-title::after {
    opacity: 0;
    transform: translateX(-0.6ch);
  }

  &-desc {
    color: #999;
    font-size: 0.95rem;
  }
}

@include media-breakpoint-down(md) {
  .header-item {
    padding: 1.2rem 1.6rem;
  }
}


.header--white {
  & {
    width: 100%;

    position: absolute;
    top: 0;

    box-shadow: unset;
  }
}

&:not(._navactive) .header--white {
  background-color: transparent;
  --item-background-color: #fff1;

  color: #fff;

  transition: background-color $preview-dur, color $preview-dur;

  .header-preview {
    opacity: 0;
    transition: color 0s $preview-dur, max-height $preview-dur, opacity $preview-dur;
  }
}


.overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: #0003;
  overflow-y: hidden;

  transition: opacity $overlay-dur;
}

&:not(._navactive) .overlay {
  opacity: 0;
  visibility: hidden;

  transition: opacity $overlay-dur, visibility 0s $overlay-dur;
}

&._navactive, &._navopen {
  overflow-y: hidden;
}
