@use "sass:math";

@use "./constants" as *;
@use "./mixins" as *;


$menu-dur: 400ms;
$preview-dur: 400ms;
$overlay-dur: $preview-dur * 0.5;
$header-height: 4rem;


//- General

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $header-height;
  padding: 0 var(--side-margin);

  background-color: #fff;
  box-shadow: 0 2px 6px #0002;

  position: relative;
  z-index: 2;

  @include media-breakpoint-up(lg) { --duration: #{$preview-dur}; }
  @include media-breakpoint-down(lg) { --duration: #{$menu-dur}; }
}

.header--white {
  & {
    width: 100%;

    position: absolute;
    top: 0;

    box-shadow: unset;
  }
}

&:not(._navactive, ._navopen) .header--white {
  background-color: transparent;
  --item-background: #fff2;

  color: #fff;

  transition: background-color var(--duration), color var(--duration);
}


//- Brand

$logo-spacing: 2rem; // Space on each side of the border
$logo-border: 2px;

.header-brand {
  display: flex;
  height: 2.4rem;

  user-select: none;

  a {
    fill: currentColor;
  }

  a:focus-visible {
    outline: $highlight-outline;
    outline-offset: 0.2rem;
  }

  a:first-child {
    width: 94px;

    margin-right: $logo-spacing;
    padding: 0.4rem 0;

    color: $accent-color;
  }

  a:nth-child(2) {
    width: 66px;

    margin-left: $logo-spacing;
    padding: 0.6rem 0;

    position: relative;
    color: red;

    &::before {
      content: "";

      position: absolute;
      left: calc(#{-$logo-spacing} - #{$logo-border * 0.5});
      top: 0;

      width: $logo-border;
      height: 100%;

      background-color: #ccc9;
      pointer-events: none;
    }
  }

  svg {
    width: 100%;
    height: 100%;

    transition: filter $preview-dur;
  }

  path {
    stroke: currentColor;
    stroke-width: 0;

    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}

// On the homepage
&:not(._navactive, ._navopen) .header--white .header-brand {
  svg {
    filter: drop-shadow(1px 1px #0003);
  }

  a:nth-child(2) {
    color: #fff;
    transition: color var(--duration);
  }
}

// On pages other than the homepage
.header:not(.header--white) .header-brand {
  $dur1: 600ms;
  $dur2: 300ms;

  // Stroke/fill animation on hover
  a:first-child:hover path {
    animation: dash ($dur1 + $dur2) linear forwards;
  }

  // Hide the second logo
  a:nth-child(2) {
    display: none;
  }

  @keyframes dash {
    from {
      fill: transparent;
      stroke-dashoffset: 100;
      stroke-width: 15;
    }

    #{math.div($dur1, ($dur1 + $dur2)) * 100%} {
      fill: transparent;
      stroke-dashoffset: 0;
      stroke-width: 15;
    }
  }
}


//- Menu button on mobile

// @keyframes header-menu {
//   0% {
//     background-color: #fff2;
//     border-color: #fff3;
//   }

//   50% {
//     background-color: transparent;
//   }

//   100% {
//     border-color: transparent;
//   }
// }

.header-menu {
  $padding: 0.4rem;

  width: calc(24px + #{$padding * 2});
  height: calc(24px + #{$padding * 2});

  padding: $padding;

  border: 1px solid transparent;
  border-radius: 50%;

  color: #333;
  fill: currentColor;

  &:not(:active) {
    transition: background-color 300ms 50ms, border-color 600ms 50ms;
  }

  &:active {
    background-color: to-alpha(#eee);
    border-color: to-alpha(#ccc);
  }

  svg {
    height: 100%;
  }
}

&:not(._navopen) .header--white .header-menu {
  color: inherit;
}


//- Primary list

.header-nav-ul {
  display: flex;

  > li {
    > a {
      font-weight: 500;

      &:not(:only-child) {
        display: flex;
        column-gap: 1ch;
      }

      &:not(:only-child)::after {
        @extend %chevron;
        transition: transform 300ms;
      }

      &._disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }

    &._active > a::after {
      transform: rotate(180deg);
    }
  }
}


@include media-breakpoint-up(lg) {
  .header-nav-ul {
    column-gap: 0.8rem;
    justify-content: space-between;

    > li {
      flex-shrink: 0;

      &._active {
        z-index: 2;
      }

      > a {
        padding: 0.6rem 1rem;
        border-radius: 4px;

        transition: background-color 150ms;

        &:focus-visible {
          box-shadow: $highlight-shadow;
        }
      }

      &._active > a, > a:hover, > a:focus-visible {
        // --item-background is changed on the homepage.
        background-color: var(--item-background, #f6f6f6);
      }
    }
  }

  .header-menu {
    display: none;
  }
}


@include media-breakpoint-down(lg) {
  @keyframes header-delay-overflow {
    from { overflow-y: hidden; }
  }

  .header-nav {
    width: 100%;
    height: calc(100vh - #{$header-height});

    overflow-y: hidden;

    position: absolute;
    left: 0;
    top: 100%;

    background-color: #fff;
    transition: height $menu-dur;
  }

  .header-nav-ul {
    flex-direction: column;
    justify-content: start;

    margin: 0 var(--side-margin);
    padding: 2rem 1rem;

    border-top: 1px solid #ddd;
    transition: transform $menu-dur;

    > li {
      max-width: 600px;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      > a {
        padding: 0.8rem 0.6rem;
        justify-content: space-between;

        font-size: 1.05rem;
      }
    }
  }

  &._navopen .header-nav {
    overflow-y: auto;
    animation: header-delay-overflow linear ($menu-dur * 2);
  }

  &:not(._navopen) .header-nav {
    height: 0;
  }

  &:not(._navopen) .header--white .header-nav {
    opacity: 0;
    transition: height $menu-dur, opacity $menu-dur;
  }

  &:not(._navopen) .header-nav-ul {
    transform: translateY(-1rem);
    transition: transform 0s $menu-dur;
  }

  &._navopen {
    overflow-y: hidden;
  }

  &:not(._navopen) {
    animation: header-delay-overflow linear ($menu-dur * 2);
  }
}


//- Preview

.header-preview {
  ul {
    display: grid;
    align-items: center;
    gap: 0.4rem 1.6rem;

    padding: 1rem 0;

    transition: opacity $preview-dur;
  }

  li {
    transition: transform $preview-dur;
  }
}

@include media-breakpoint-up(lg) {
  .header-preview {
    width: 100%;
    max-height: var(--height);
    overflow-y: hidden;

    position: absolute;
    left: 0;
    top: 100%;

    padding: 0 var(--side-margin);
    background-color: #fff;
    box-shadow: 0 6px 6px -6px #0002;

    transition: box-shadow $preview-dur, max-height $preview-dur;

    ul {
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid #ddd;
    }
  }

  .header-nav-ul li:not(._active) .header-preview {
    max-height: 0;
    box-shadow: none;

    visibility: hidden;
    transition: box-shadow $preview-dur, max-height $preview-dur, visibility 0s $preview-dur;

    ul {
      opacity: 0;
    }

    li {
      transform: translateY(-1rem);
    }
  }

  .header--white li:not(._active) .header-preview {
    opacity: 0;
    transition: color 0s $preview-dur, box-shadow $preview-dur, max-height $preview-dur, opacity $preview-dur, visibility 0s $preview-dur;
  }
}

@include media-breakpoint-down(lg) {
  .header-nav-ul {
    li:not(._active) .header-preview {
      display: none;
    }

    .header-preview a:not(._disabled) {
      background-color: #fafafa;
    }
  }
}


//- Preview item

.header-item {
  & {
    display: grid;
    align-items: center;
    gap: 0.2rem 1.2rem;
    grid-template-columns: 40px 1fr;

    padding: 1.6rem 2rem;
    border-radius: 4px;

    transition: background-color 150ms, opacity 150ms;

    &:hover, &:focus-visible {
      background-color: #fafafa;

      .header-item-title {
        text-decoration: underline;
      }
    }

    &:not(:hover) {
      // opacity: 0.8;
    }

    &:focus-visible {
      box-shadow: $highlight-shadow;
    }

    &._disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &-icon {
    fill: $accent-color;
    grid-row-end: span 2;

    > svg {
      aspect-ratio: 1;
    }
  }

  &-title {
    display: flex;
    column-gap: 0.8ch;

    font-weight: 500;

    &:last-child {
      grid-row-end: span 2;
    }

    &::after {
      @extend %chevron;
      transform: rotate(-90deg);

      transition: opacity 300ms, transform 300ms;
    }
  }

  &:not(:focus-visible):not(:hover) .header-item-title::after {
    opacity: 0;
    transform: translateX(-0.6ch) rotate(-90deg);
  }

  &-desc {
    color: #999;
    font-size: 0.95rem;
  }
}

@include media-breakpoint-down(lg) {
  .header-item {
    padding: 1.2rem 1.6rem;
  }
}


//- Overlay

.overlay {
  width: 100%;
  height: 200%; // 100% margin for when the user starts scrolling down.

  position: absolute;
  left: 0;
  top: 0;

  background-color: #0006;
  overflow-y: hidden;
  z-index: 1;

  transition: opacity $overlay-dur;
}

&:not(._navactive) .overlay {
  opacity: 0;
  height: 0;
  visibility: hidden;

  transition: height 0s $overlay-dur, opacity $overlay-dur, visibility 0s $overlay-dur;
}

// &._navactive, &._navopen {
  // overflow-y: hidden;
// }
