@use "./reset";


@each $weight in (400, 500, 600, 700) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: fallback;
    font-weight: $weight;
    src: url("assets/fonts/inter-latin-#{$weight}-normal.woff") format("woff");
  }
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("assets/fonts/merriweather-latin-700-normal.woff") format("woff");
}

@font-face {
  font-family: "Secular One";
  font-style: normal;
  font-display: fallback;
  font-weight: 800;
  src: url("assets/fonts/secular-one-latin-400-normal.woff") format("woff");
}



html {
  font-size: 16px;
}

body:not(.mediawiki), #mw-content-text {
  @import "./main.scss";
}

a, button {
  touch-action: manipulation;
}
