@import "./constants";
@import "./view";


.layout-index {
  @include view-2();


  $n: 5;
  $line-height: 1.2;
  $dur-movement: 800ms;
  $dur-stay: 1.8s;

  $dur-word: $dur-movement + $dur-stay;
  $dur-total: $dur-word * $n;
  $height: 1em * $line-height;

  .words {
    display: inline-block;
    position: relative;

    width: 300px;
    height: $height;
    transform: translateY(0.25em);

    overflow-y: hidden;
  }

  .list {
    position: absolute;
    animation: anim $dur-total infinite forwards;
  }

  @keyframes anim {
    @for $i from 0 through ($n - 1) {
      #{$dur-word * $i / $dur-total * 100%} {
        transform: translateY(-$height * $i);
      }

      #{($dur-word * $i + $dur-stay) / $dur-total * 100%} {
        transform: translateY(-$height * $i);
      }
    }

    100% {
      transform: translateY(-$height * $n);
    }
  }


  .animated:not(._visible) .animated-text {
    opacity: 0;
    transform: translateY(14px);
  }

  .animated._visible .animated-text {
    transition: all 600ms;
    transition-delay: 300ms;
  }
}


// ----


.hero {
  display: flex;

  height: 100vh;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    left: 0;
    top: 0;
  }

  &-contents {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 100%;
    height: 100%;

    padding: 10rem var(--side-margin);

    position: absolute;
    left: 0;
    top: 0;

    background-image: linear-gradient(#0006 0%, transparent 10%, transparent 100%);

    color: #fff;
    text-shadow: 0 0 2px #555;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  p {
    margin-top: 0.8rem;

    font-size: 1.6rem;
    font-weight: 600;
  }
}


.section4 {
  display: flex;
  height: 100px;

  h2 {
    margin: auto;
  }

  .words {
    width: 200px;
  }
}


.section1 {
  display: grid;
  align-items: center;
  column-gap: 4rem;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
  max-height: 600px;
  padding: 0 var(--side-margin);

  h2 {
    margin: 0.2rem 0 0.4rem 0;

    font-size: 2.0rem;
  }

  .subtext {
    color: $accent-color;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    margin: 1rem 0;

    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;

    &:first-of-type {
      margin-top: 1.8rem;
    }
  }

  .section-right {
    div {
      aspect-ratio: 1.8;
      background-color: #eee;
    }
  }
}


.section2 {
  display: flex;

  height: 100vh;
  max-height: 600px;

  .links {
    margin: auto var(--side-margin);
  }

  a {
    width: max-content;
    padding: 0.3rem 0;

    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 2px #555;

    transition: color 300ms;

    &::after {
      display: inline-block;
      content: "›";

      margin-left: 0.2ch;
      transition: all 300ms;
    }

    &:not(:hover)::after {
      opacity: 0;
    }

    &:hover::after {
      transform: translateX(0.6ch);
    }
  }

  .links:hover a:not(:hover) {
    color: #fffa;
  }


  position: relative;

  .backgrounds img {
    position: absolute;

    width: 100%;
    height: 100%;

    filter: brightness(80%);
    z-index: -1;

    object-fit: cover;

    transition: opacity 600ms 150ms;
  }

  @for $i from 0 through 3 {
    &:not([data-image="#{$i}"]) .backgrounds img:nth-child(#{$i + 1}) {
      opacity: 0;
    }
  }
}


.section3 {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 70vh;

  padding: 4rem var(--side-margin);

  background-image: url(assets/background/vineyard.jpg);
  background-size: cover;

  p {
    max-width: 40vw;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 0 0 2px #555;
  }
}


.sponsors {
  margin: 3rem var(--side-margin) 5rem var(--side-margin);

  h2 {
    margin-bottom: 2rem;

    font-size: 2rem;
  }

  &-list {
    display: flex;
    justify-content: center;
    column-gap: 40px;

    img {
      width: 250px;
    }
  }
}


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 4rem var(--side-margin) 6rem var(--side-margin);
  background-color: #000;

  color: #fff;

  &-brand {
    svg {
      width: 120px;

      fill: currentColor;
    }
  }

  &-sitemap {
    a {
      width: max-content;

      color: #ddd;
      font-size: 0.95rem;
      font-weight: 500;
      text-transform: uppercase;

      transition: color 150ms;

      &:not(:last-child) {
        margin-bottom: 0.6rem;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &-social {
    a {
      display: flex;
      align-items: center;

      width: max-content;
      font-weight: 500;

      transition: opacity 150ms;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &:not(:hover) {
        opacity: 0.8;
      }

      img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
      }
    }
  }
}
