extends templates/_description

block hero
  img.hero-image(src="assets/background/description.jpg")
  .hero-contents: h1 Attributions

block description
  h2 Team

  p <strong>Lou Voinov</strong> is the team's student coordinator and contributed to the cloning process, to copper assays, as well as the education and communication projects.
  p <strong>Anissa Hammi</strong> aided in the cloning process, then became the expert in immunostaining and western blot. She also co-designed the dimers.
  p <strong>Julian Bär</strong> contributed in equal parts to the hardware and to human practices. He wrote, produced and filmed the team's videos. He was also involved in most education and communication projects.
  p <strong>Simon Liétar</strong> is the wiki builder, and has contributed to every part of the lab work.
  p <strong>David Toledano</strong> is the team poet and was in the bio team.
  p <strong>Davide Torre</strong> co-designed the dimers. He produced the growth curves and participated in the cloning process and in the copper assays.
  p <strong>Romain Birling</strong> is the team's IT expert. He is responsible for the fluid simulations and the coding of all the software.
  p <strong>Danaé Terrien</strong> led the second cloning process, and contributed to the copper assays. She also participated in several education and communication projects.
  p <strong>Eric Richter</strong> is responsible for the final hardware design as well as the R&amp;D for the beads. He spent most of his time in chemistry. He participated in collaborations and integrated human practices.
  p <strong>Emma Vernizeau</strong> is the chemist of the team. She did all the copper measurements in the field and elaborated the copper concentration measurement protocol.


  h2 Supervisors

  p <strong>Pr. Brian McCabe</strong> is the team's principal investigator. He contributed to the team as a supervisor and established contacts between the team and relevant laboratories at EPFL.
  p <strong>Marine Campenhoudt</strong> is the team's coordinator. She contributed throughout the project as an advisor on experiment process as well as project management.
  p <strong>Blandine Vergier</strong> is a team TA. She contributed as an advisor on the experiment process as well as project management.
  p <strong>Amir Shahein</strong> is a team TA. He worked mostly on helping the hardware team achieve their goals.


  h2 External people

  p We would like to thank all external people that helped us during this project.

  h3 Project Design
  p <strong>Karla Montserrat Castro Gilabert</strong>, from the Laboratory of Protein Design and Engineering at EPFL, for helping us with the design of our protein linkers.
  p <strong>Evelyne Ruchti</strong> from Prof. McCabe's lab for helping us with the lab experiments.
  p <strong>Andreas Keller</strong> for helping us figure out a way to engineer a flow-through reactor.
  p <strong>Daniel Burnier</strong> for helping us understand the driving mechanism for higher power electrical components.
  p <strong>Pr. Giovanni Boero</strong> for giving us the idea for the second flow-through reactor.
  p <strong>Pr. Christof Holliger</strong>, from the Laboratory of Environmental Biotechnology at EPFL, for giving us feedback on our project as a whole.
  p <strong>Dr. Grégoire Michielin</strong>, from the Laboratory of Biological Network Characterization at EPFL, for help with implementing a droplet microfluidics approach to encapsulate live yeast in beads.

  h3 Lab Practicalities and Supplies

  p <strong>Pr. Bruno Correira and his lab</strong> as well as <strong>Anthony Marchand</strong> and <strong>Stéphane Rosset</strong> for supplying us with the plasmid backbone that we used to express our protein as well as the yeast strain and for giving us advice about yeast culture.
  p <strong>Vojislav Gligorovski</strong> and <strong>the Laboratory of the Physics of Biological Systems</strong> from Prof. Sahand Jamal Rahi for providing us with the yeast genomic DNA.
  p <strong>Andrea Krapp</strong> and <strong>the lab from Prof. Viesturs Simanis</strong> for also providing us with the yeast genomic DNA.
  p <strong>The laboratory of Biological Network Characterization</strong> from Prof. Sebastian Maerkl for providing us with the YPD broth we needed for the yeast medium.
  p <strong>Dr. Bernard Schneider</strong>, <strong>Philippe Colin</strong> and the <strong>Bertarelli Foundation Gene Therapy Platform</strong> for providing us with the Sorbitol we needed.
  p <strong>Romane Mizeret</strong>, <strong>Cédric Deluz</strong> and <strong>the laboratory of Prof. David Suter</strong> for providing us with the filters we needed in large amounts for the copper assays.
  p <strong>Pr. Pierre-Etienne Bourban</strong> for providing us with a 3D printer and teaching us how to use it. He also had great advice for our future.
  p <strong>Dr. Phillipe Abdel Sayed</strong> who equipped our team's lab with the equipment and tools it needed.
  p <strong>Josiane Smith-Clerc</strong> who showed us the lab facilities and security equipment.
  p <strong>Pascal Vuilliomenet</strong> for the EPFL Discovery Learning Labs facilities.
  p <strong>Frederic Gumy</strong> and <strong>Stéphane Thonney</strong> for showing us how to use the spectrophotometer, sharing their knowledge and advice, and for their great help in testing and fixing the equipment.
  p <strong>Liliane Glauser</strong> and <strong>the laboratory of Neuroepigenetics</strong> from Prof. Johannes Gräff for letting us use their TECAN machine for the growth curves measurements.
  p <strong>The laboratory for Biomedical Microfluidics</strong> from Prof. Christoph Merten for letting us use their spectrophotometer.
  p <strong>Cedric Meinen</strong> for giving us access to the electronics lab as well as for teaching us how to solder.

  h3 Education and Communication

  p <strong>Alexandre Tellier</strong> and <strong>Noah Rosato</strong> who produced the podcast in the Fréquence Banane studio.
  p <strong>Christophe Vietri</strong> and <strong>the school of IIL</strong> for allowing us to come speak with their students.
  p <strong>Eva Schier</strong> and <strong>Laurence Mauro</strong>, the Life Sciences faculty communication team, for helping us to organise our iGEM recruitment event.
  p <strong>Nik Papageorgiou</strong>, the Life Sciences faculty scientific journalist who published an article about our team in EPFL's Dimensions magazine.
  p <strong>Pr. Denis Duboule</strong> for sharing his expertise during the recording of the podcast. Additional thanks for his time before the recording and his refreshing sense of humour. He was the expert for the 1<sup>st</sup> episode : Introduction.
  p <strong>Dr. Boulos Chalhoub</strong> for coming to EPFL to record an episode for our podcast about GMOs. He was the expert for the 2<sup>nd</sup> episode: GMOs in Agriculture.
  p <strong>Dr. Anne-Gabrielle Wüst-Saucy</strong> for sharing her expertise during the podcast as well as for her insights after the recording. She was the expert for the 3<sup>rd</sup> episode: GMOs and the Law.
  p <strong>Pr. Christian Fankhauser</strong> for coming to EPFL to record an episode of our podcast. He was the expert for the 4<sup>th</sup> episode: GMOs and Human Health.
  p <strong>Véronique Potier</strong> for organizing our presentation with more than 100 high schoolers at the Gymnase de Nyon.

  h3 Human Practices

  p <strong>Olivier Rouge and his family</strong> who kindly received us in their vineyard and home and explained to us a lot of things we didn't know about vine growing, agriculture and pesticides.
  p <strong>Vincent Chappuis</strong> who showed us his vineyard and gave us precious feedback on our project.
  p <strong>Julien Pasche</strong> who motivated us by sharing their passion for the art of winemaking and their expert help on understanding vineyards and their soil.
  p <strong>Dr. Olivier Viret</strong> for taking the time to receive us in his office to have an amazingly interesting talk about pesticides and agriculture as well as for coming to EPFL to record an episode of our podcast about GMOs.
  p <strong>The Vidy STEP</strong> for sharing their knowledge about water treatment facilities in Switzerland.
  p <strong>Edouard Anicet</strong> for sharing his expertise on fixing bacteria onto different substrates for use in a bioreactor.
  p <strong>Ludovic Vincent</strong> for his interest in our project and our multiple discussions about opportunities for implementing the idea in vineyards and in water treatment plants.

  h3 Collaborations

  p <strong>The University of Lausanne team</strong> for collaborating with us on the educational podcast.
  p <strong>Raphael from the University of Zurich team</strong> for collaborating with us on the analysis of the opinion around GMOs in Switzerland.
  p <strong>Konstantin from team Moscow</strong> for giving us the opportunity to help out on an interesting hardware project. Together we created a fluorimeter.
  p <strong>Anthony from team Leuven</strong> for giving us the opportunity to help out on an interesting hardware project. Together we conceptualized a directed evolution device.

  h3 Graphical Design

  p <strong>Marcel Saidov</strong>, a graphic design student from ECAL, for designing the CuRe logo.
  p <strong>Juan Ignacio Sandrino Otero</strong> and <strong>Louise Mellet</strong> for illustrating the children's book.


  h2 Sponsors

  p Sponsors logo, don't forget Twist !


  h2 Copyright attributions

  p Icons:
  ul
    li: a(href="https://www.flaticon.com" target="_blank") Flaticon
    li: a(href="https://www.freepik.com" target="_blank") Freepik
    li <a href="https://thenounproject.com" target="_blank">The Noun Project</a> – AB Designs, BlackActurus, Creative Stall, Eucalyp, Gregor Cresnar, Template, Zach Bogart
