extends templates/layout.pug

block contents
  main.layout-calendar
    h1 Calendar

    //- .cal-root
      .cal-header cultivation
      .cal-header cell lysis
      .cal-header lyophilization and upscaling
      .cal-header quality control
      .cal-col: div april
      //- .cal-cell(style="grid-column: 3; grid-row: 5 / span 2;"): a(href="#") collaboration with mexico
      .cal-cell: a(href="#") screening additional parameters
      .cal-cell
      .cal-cell
      .cal-cell
      .cal-col: div may
      .cal-cell
      .cal-cell: a(href="#") screening additional parameters
      .cal-cell
      .cal-cell

    //- hr

    .cal2-container
      .cal2-root
        .cal2-header April – June
        .cal2-header July
        .cal2-header August
        .cal2-header September
        .cal2-header October

        .cal2-row Project
        a.cal2-line(href="#" style="grid-column: 2 / span 4;"): div Project selection and research
        .cal2-line(style="grid-column: 6 / span 12;"): div Project execution
        .cal2-line(style="grid-column: 18 / span 4;"): div Wiki/video completion

        .cal2-row Biology
        .cal2-line.cal2-line--cat1(style="grid-column: 5 / span 2;"): div Plasmid design
        .cal2-line.cal2-line--cat1(style="grid-column: 7 / span 6;"): div Cloning V1
        .cal2-line.cal2-line--cat1(style="grid-column: 8 / span 4;"): div Dimer design
        .cal2-line.cal2-line--cat1(style="grid-column: 12 / span 6;"): div Cloning V2

        .cal2-row Chemistry
        .cal2-line(style="grid-column: 7 / span 5;"): div Copper flow tests
        .cal2-line(style="grid-column: 12 / span 8;"): div Copper assays

        .cal2-row Human Practices
        .cal2-line.cal2-line--cat2(style="grid-column: 4 / span 4;"): div Meeting with winegrowers
        .cal2-line.cal2-line--cat2(style="grid-column: 7 / span 7;"): div Meeting with specialists

        .cal2-row Education &amp; Communication
        .cal2-line.cal2-line--cat2(style="grid-column: 10 / span 8;"): div Children's book
        .cal2-line.cal2-line--cat2(style="grid-column: 5 / span 2;"): div High school summer lab
        .cal2-line.cal2-line--cat2(style="grid-column: 14 / span 3;"): div High school presentations
        .cal2-line.cal2-line--cat2(style="grid-column: 14 / span 5;"): div Podcast

        .cal2-row Collaborations
        .cal2-line.cal2-line--cat2(style="grid-column: 13 / span 8;"): div Leuven collaboration
        .cal2-line.cal2-line--cat2(style="grid-column: 15 / span 6;"): div Moscow collaboration

        //- .cal2-line: div PCR, Gibson assembly
        //- .cal2-line: div PCR, Gibson assembly
