extends templates/_description

block hero
  img.hero-image(src="assets/background/description.jpg")
  .hero-contents: h1 Collaborations

block description
  h2 Collaborations with other iGEM teams

  p We had the privilege of collaborating with multiple other teams during our iGEM experience. We value these opportunities very highly as it allowed our team to discover other projects, learn new skills and meet people from around the world in the spirit of collaboration. We are proud to have completed two human practices collaborations and two technical collaborations.


  h2 Human Practices collaborations

  p At the beginning of our project, we reached out to the other Swiss iGEM teams to discuss potential collaborations. We quickly realised that our projects were technically vastly different, but that our area of application was the same : agriculture. All three of our projects used synthetic biology to genetically modify organisms to remedy a problem in Swiss agriculture. Switzerland's relationship with genetically modified organisms is a complicated one and we had the impression that the debate around this new and exciting technology fell flat. Our human practices collaborations with the University of Zurich and the University of Lausanne teams aimed to better understand the public opinion of GMOs and create educational content to give people the necessary information to form their own opinions, respectively.


  h3 University of Lausanne: Podcast about GMOs in Switzerland

  p Together with the <a href="https://2021.igem.org/Team:UNILausanne" target="_blank">iGEM UNIL team</a>, we created an educational podcast on genetically modified organisms in Switzerland. We are very proud of the production quality of the podcast as we also collaborated with the radio station “Frequence Banane'' who helped us to write the questions and allowed us to record the episodes in their studio. You can find more information about this collaboration on <a href="Education_and_Communication.html">our Education and Communication page</a>.

  h3 University of Zurich: Analysis of the opinion around GMOs in Switzerland

  p As mentioned above, we collaborated with the <a href="https://2021.igem.org/Team:UZurich" target="_blank">UZH iGEM team</a>, as both our projects aimed to use synthetic biology to help Swiss agriculture. The use of GMOs in agriculture has been made illegal in Switzerland since 2005 and will continue to be until at least 2025. Because of this, the debate around GMOs in Switzerland is almost non-existent. Thus, we decided that a human practices collaboration on the Swiss people's view on GMOs would be interesting and beneficial to both teams. The recorded data could then be integrated back into our project, as we learn more about the social context in which our projects are based. Find out how we incorporated our findings on <a href="Integrated_Human_Practices.html">our Integrated Human Practices page</a>.
  p For practical and personal interest reasons, the UZH team used a qualitative approach aimed at farmers while the EPFL team focused on quantifying the public's opinion of GMOs. While both tasks were split, they were imagined and designed during weekly video calls to ensure satisfaction for both parties, as well as a comprehensive project. We believe both qualitative and quantitative research is fundamental to any social science research.

  h4 UZH's contribution
  p The UZH team went to interview different stakeholders in agriculture and collected their views about GMOs by asking various questions on the subject. The full document summarizing their answers can <a href="assets/collaborations/zurich/0.pdf">be found here</a>.

  h4 EPFL's Contribution
  p We created a survey with questions about GMOs and sent it to various people in our circles. This survey aimed to quantify the public perception of GMOs and we received 129 answers. When looking at the data, one must keep in mind that the survey was not randomly distributed. Most participants were young (from 18 to 24 years old) and had received higher education. We are thus still unable to comment on the validity of our survey and to generalise the results to a wider population.
  p The questions and answers we collected with the survey can <a href="assets/collaborations/zurich/1.pdf">be found here</a>.
  p: em Note: The survey was originally created in French, therefore, the questions and some answers have been translated as accurately as possible to English for each figure.
  p The analysis of the data can <a href="assets/collaborations/zurich/2.pdf">be found here</a>.

  h4 Discussion
  p The statements seem to indicate that the respondents are more wary of pesticides than of GMOs and that the environment is what they are the most concerned for when it comes to genetically modified organisms.
  p The analysis of the data unfortunately did not yield significant results. Even though Figure 2 and Figure 4 seem to show promising trend lines, the error bars are too large to be able to comment on the data. Figure 1 shows that men and women are similarly wary about GMOs and that the standard deviation is approximately the same.
  p Another very interesting point to develop would be the public's opinion on GMOs based on age. Unfortunately we lacked data in the 35-44 and 65+ age groups. We unfortunately did not find sufficient time to repeat this survey and distribute it appropriately to a broader demographic.


  h2 Technical collaborations

  p Team EPFL has the chance to represent a school that has a multitude of students specialized in engineering and technical fields. iGEM being a synthetic biology competition, half of our team are in Life Sciences Engineering. However, the other half consists of a Chemist, a Physicist, a Computer Scientist and two Microtechnical-Engineers. We thus offered our help to other iGEM teams that needed assistance with their hardware endeavours. This allowed us to have technical collaborations and to meet new iGEMers outside of Switzerland.

  h3 KU Leuven: Directed Evolution Cell Selection Device

  p The <a href="https://2021.igem.org/Team:KU_Leuven" target="_blank">iGEM Team from KU Leuven</a> contacted us after we offered our help on the iGEM Global Slack platform. We were mainly in contact with Anthony, one the team's members. He explained to us that they were working on directed evolution and that they wanted to conceptualise a device in which cells undergo a repeated cycle of a growth phase followed by a selection phase.
  p Cell growth would be achieved in a rather classic bioreactor. Cell samples would then periodically be extracted from the bioreactor, analysed and sorted according to a defined parameter. The end product would be a cell optimised for a certain task or environment by directed evolution.
  p The difficulty of this task was lying in the cell selection device. This project proposal has us hooked instantly. During this collaboration, we participated in weekly calls with Anthony during which we explored many options for his project.

  p The proposed ideas were as follows:
  ol
    li Groups of cells physically isolated on a wafer. Elimination after selection achieved by a robotic arm boasting a laser.
    li Groups of cells physically isolated on a wafer. Elimination after selection achieved with micro-tubes and suction.
    li Individual cells isolated with electrodes and hydrophobicity on a wafer. Elimination after selection achieved by inverting the voltage on the electrodes and flushing the cells out.
    li Individual cells isolated in droplets in a microfluidics circuit. Elimination after selection achieved by directing the cells into the appropriate exit with an electric field.

  p Discussing all of these ideas and their respective problems and advantages was extremely interesting, making this collaboration with KU Leuven very enjoyable. In addition to our weekly brainstorming sessions, we were asked to propose a detailed description of the third idea that can <a href="assets/collaborations/zurich/3.pdf">be found here</a>.

  p We later agreed this idea was not the best choice for the following reasons:
  ol
    li The system is slow when compared to idea #4.
    li The system does not allow the cells to be lysed at any time during the process. This limits the criteria that cells can be evaluated on as one must keep them alive. Idea #4 allows the cells to undergo mitosis within their respective bubbles, thereby creating a clone that can be lysed, thus offering more options for analysis and selection.

  p The final design for the cell selection device of the fourth idea can be found on <a href="https://2021.igem.org/Team:KU_Leuven/Collaboration" target="_blank">the wiki of KU Leuven 2021 iGEM</a>.

  details
    summary Technical description

    p Work done by the hardware team of EPFL iGEM 2021 in collaboration with the KU Leuven team during summer 2021.
    p The aim of this device is to sort out cells according to a defined parameter, such as the cells coming out of the device are optimized for a certain task or environment by directed evolution. Cell growth would be achieved in a bioreactor. Cell samples would be periodically extracted from the bioreactor, then analyzed and sorted by this device.

    h4 Introduction

    p Once a sample of cells has been extracted from the bioreactor, it enters the selection device. The selection device is governed by a microcontroller (MCU). The MCU receives an image as an input, treats the data contained in the image vector and finally sends the output signal selecting the best cells. It also switches between the elimination state and the recuperation state (Figure 1).

    figure
      img(src="assets/collaborations/leuven/0.png")
      figcaption
        span Figure 1
        span Blackbox selection device schematic with MCU exchange.

    p The complete process flow of the selection device is as follows and is visually displayed on Figure 2:
    ol
      li A sample of cells enters the selection device.
      li The cells are put into new media to minimize contamination during measurement.
      li The cells enter the wafer chamber.
      li Cells contained in droplets of media are individually isolated into micro-wells.
      li A waiting period for fluorescence starts.
      li An image is taken by the camera and is sent to the MCU.
      li The MCU selects the cells to eliminate.
      li The selected cells are eliminated.
      li The remaining cells are recuperated and are reinjected into a bioreactor.

    figure
      img(src="assets/collaborations/leuven/1.png")
      figcaption
        span Figure 2
        span Cell selection flowchart.

    h4 Detailed description of key steps in the process flow

    p Steps 2, 4, 5, 8 and 9 (starred blocks in Figure 2) required particular attention during the design phase:

    h5 Step 2: Introduction of cells into new media
    p The cells must be introduced into new media to avoid contaminating the measurement phase (step 5). This is because the media in which the cells grow in the bioreactor will be highly concentrated in the chemicals we wish to measure separately for each cell (see step 5).
    p To move the cells from the old media to the new media, we imagined a system with parallel tubes and an electric field (Figure 3). It is important that the flow is as laminar as possible to minimize mixing of new and old media. The process should also be fast enough to ensure minimal diffusion of contaminating chemicals into the new media.

    figure
      img(src="assets/collaborations/leuven/2.png")
      figcaption
        span Figure 3
        span Schematic of cell migration into new media.

    h5 Step 4: Isolation of cells in micro-wells
    p Once the cells have entered the wafer chamber (named wafer chamber since it must be produced using cleanroom fabrication methods), they are separated using small electrodes (Figure 4).
    p Most of the wafer's surface being hydrophobic, hydrophilic compartments ensure that each cell is in a small droplet of water. Oil is then injected into the compartment to flush out all the remaining water, effectively isolating the cells and their respective water droplet (Figure 5).

    figure
      img(src="assets/collaborations/leuven/3.png")
      figcaption
        span Figure 4
        span Cell separation.

    figure
      img(src="assets/collaborations/leuven/4.png")
      figcaption
        span Figure 5
        span Cell and droplet isolation.

    p Here are the main cleanroom fabrication steps for this wafer, inspired by the <a href="https://edu.epfl.ch/coursebook/en/microfabrication-technologies-MICRO-331" target="_blank">Microfabrication Technologies</a> course taught by Prof. Jürgen Brugger and Prof. Martinus Gijs at EPFL:
    ol
      li Growth of the SiO2 layer by oxidation.
      li Application of positive photoresist by spin coating.
      li UV lithography with a prefabricated photomask.
      li Removal of the liquified positive photoresist.
      li Wet etching (BHF) of the SiO2.
      li Photoresist stripping.
      li Repeat steps 2-4.
      li Growth of copper electrodes and copper track by sputtering.
      li Photoresist stripping.
      li Repeat steps 2-4 but with a negative photoresist.
      li Growth of PDMS<ref authors="uFluidix" title="Common materials for fabrication of microfluidic devices" url="https://www.ufluidix.com/microfluidic-technical-knowledgebase/materials-for-microfabrication/" /> (Polydimethylsiloxane) layer by thermal deposition<ref doi="10.1016/j.polymer.2018.01.036" />.
      li Photoresist stripping.
      li Repeat steps 2-4.
      li Growth of Fluorescent Probe<ref authors="ThermoFischer Scientific" title="Fluorescent Probes" url="https://www.thermofisher.com/fr/fr/home/life-science/protein-biology/protein-biology-learning-center/protein-biology-resource-library/pierce-protein-methods/fluorescent-probes.html" /> thin film by chemical vapor deposition.
      li Photoresist stripping.
      li Inspection.

    h5 Step 5: Waiting period for fluorescence
    p Once the cells are isolated in their respective droplets, a waiting period begins so that the cells can produce and excrete the chemical compounds that will be detected and used to select the best cells. These reagents accumulate in the water droplet and react with the substrate, creating a fluorescent effect. More production of the specific chemical means more fluorescence that can then be captured by the camera.

    figure
      img(src="assets/collaborations/leuven/5.png")
      figcaption
        span Figure 6
        span Schematics of chemical reactions.

    h5 Step 8: Cell elimination
    p The undesirable cells are eliminated by inverting the voltage of their respective electrodes and by flushing them out with water. The flow brings them towards the exit of the wafer, where they are sorted into the tube for elimination with an electric field.

    figure
      img(src="assets/collaborations/leuven/6.png")
      figcaption
        span Figure 7
        span Cell sorting for elimination.

    h5 Step 9: Cell recuperation
    p The desirable cells are recuperated by inverting the voltage of their respective electrodes and by flushing them out with water. The flow brings them towards the exit of the wafer, where they are sorted into the tube for recuperation with an electric field.

    figure
      img(src="assets/collaborations/leuven/7.png")
      figcaption
        span Figure 8
        span Cell sorting for recuperation.




  h3 University of Moscow: Fluorimeter

  p <a href="https://2021.igem.org/Team:Moscow" target="_blank">Team iGEM Moscow</a> needed some help in engineering a fluorimeter. They knew how the device would work as well as how they wanted to use it. They needed our help for the following:
  ul
    li A CAD design of the casing for the fluorimeter which they could then 3D print
    li Help with programming and extracting data from their Camera module
    li Help with wiring all of this together

  p We accepted the challenge and were very happy to bring our expertise, as students from an engineering school, to teams in need.
  p As the Moscow team's goal was to build a fluorimeter, the principles behind this device should be casually explained: A Fluorimeter uses a light source which is filtered to a certain wavelength. This filtered light illuminates cells which contain a fluorescent gene: the protein coded by this gene emits light at a certain wavelength when it is illuminated. The wavelength emitted by the cells is not the same as the incoming beam. A second optical filter between the sample and the camera removes the original light while letting the cell emitted light through. Such a device gives an indication about how well the fluorescence gene is expressed and thus, also informs the experimentator that the desired sequence, which contains the fluorescent tag, is expressed.

  p The <a href="https://ibsen.com" target="_blank">Ibsen.com website</a> explains clearly how one can build a fluorimeter.
  p We would like to thank team Moscow for sharing their project with us! We hope our help has been satisfactory for them and we hope that with these CAD files, we have helped a future generation of iGEMers to complete their own DIY extra-cheap fluorimeter.

  details
    summary Technical description

    p The first task was the design of a CAD file for 3D printing. We were given the following instructions:

    figure
      img(src="assets/collaborations/moscow/0.jpg")
      figcaption
        span Figure 1
        span Drawing of the initial product as imagined and done by the iGEM Moscow team.
        span Number 1 is supposed to hold the camera. Since there is no indication about threading, it was done without. Number 2 holds the emission filter. Number 3 holds the excitation filter. Number 4 holds the camera. Number 5 is the stage on which the cuvette will be placed.

    p This initial Ddvice was made by CAD on Fusion360 by the EPFL team, but it was not totally complete and needed some adjustments. We then decided of the following changes to do during a meeting with Konstantin from team iGEM Moscow:

    ul
      li A USBA opening had to be added to fit the cable connected to the microcontroller.
      li The lid had to be changed as to hold in place once assembled.
      li The square hole through the lid had to be added, reinforced for the cuvette to be placed inside yet stay optically isolated from the outside.

    p The final montage is the following:

    video(src="assets/collaborations/moscow/1.mp4" controls)

    figure
      img(src="assets/collaborations/moscow/2.jpg")
      img(src="assets/collaborations/moscow/3.jpg")
      figcaption
        span Figure 2
        span Schematic of the device.

    p TODO The fusion360 CAD file can be found here (also look into moscow stuff. (There is a f3d file). The 3D files needed to print the device <a href="assets/collaborations/moscow/5.zip">should be here</a>.

    p When using this CAD file to print, the different parts have to be printed separately:
    ul
      li The container should be printed alone and with supports for the overhangs.
      li There are two filters which should not be printed.
      li The lid should be turned around and printed alone.
      li There are 2 additional small parts that look like a chimney on the lid. These should be printed independently. The chimney should be glued once printed and the cap will be used to block incoming light and must be removed to change cuvettes: do not glue this part to the chimney.

    p Before use, all the electronics should be put together inside the container. The Lid can then be assembled and should not need any gluing. If it does not hold on its own because of imprecise printing, the product can be scotch taped. However, one should be aware that electronics can break and should be left accessible for replacement.

    p The second task was to help with the use of the camera. We set up <a href="assets/collaborations/moscow/6.pdf">a tutorial file</a> where installation and usage of the software required for using the camera on arduino is explained.
    p We also found some high-quality tutorials for the same problem on the Internet:
    ul
      li For Arduino Uno: <a href="https://www.instructables.com/OV7670-Arduino-Camera-Sensor-Module-Framecapture-T/" target="_blank">OV7670 Arduino Camera Sensor Module Framecapture Tutorial</a>
      li For Arduino Nano: <a href="https://blog.arduino.cc/2020/06/24/machine-vision-with-low-cost-camera-modules/" target="_blank">Machine vision with low-cost camera modules</a>


  h2 References

  bibliography
