extends templates/_description

block hero
  img.hero-image(src="assets/background/contribution.jpg")
  .hero-contents: h1 Contribution

block description
  h3 Introduction
  p Our main contribution for future iGEM teams was <a href="Design.html">the design of protein linkers</a>. In addition to that, we have listed below other elements that we think could be useful to anyone interested.

  h3 Linkers for fusion proteins
  p Fusion protein design typically requires linkers design. The choice of the whole complex is based on the desired functions of the fusion protein product and, in most cases, is relatively straightforward. On the other hand, the selection or rational design of a suitable linker to join the protein domains together can be arduous and is often the most critical step in designing a dimer. During these months we have put our heads together to design and test seven different linkers and we are finally pleased to share our results with the iGEM community.
  p <a href="assets/contribution/linkers.pdf">Click here</a> to find this guide.

  h3 A guide for using copper concentrations using cuprizone
  p <a href="assets/contribution/cuprizone.pdf">Click here</a> to find this guide.

  h3 A Raspberry Pi code
  p Future iGEM teams most probably needing to use a raspberry pi for driving a pressure sensor using I2C, for making a GUI, or reusing our GUI even, for making a bioreactor, we offer the community a Git repository with all of our code. The README file gives all the information needed about the packages used, where to find them and how to install them. A more detailed account of what was done can be found on <a href="Implementation.html">our Hardware page</a> and <a href="https://github.com/igemsoftware2020/igem_epfl_2020" target="_blank">GitHub repository</a>.

  h3 A protocol for making beads
  p <a href="Protocols.html#protocol-beads">This protocol</a> is based on team Eindhoven’s 2015 protocol, but it has been adapted to be used in higher throughput applications where beads are a means of water treatment.

  h3 A 3D model for 3D printing a fluorimeter
  p The fluorimeter itself was designed by iGEM team of Moscow, but the model we put together for them is a contribution of our own which we believe could help future teams looking for a feasible low cost piece of equipment. For additional details, see <a href="Collaborations.html#fluorimeter">the Collaborations page</a>.
