extends templates/description.pug

block hero
  img.desc-hero-image(src="assets/background/description.jpg")
  .desc-hero-contents: h1 Description

block description
  h2 Introduction

  p Inspired by the struggles of local winemakers as well as the preservation of agricultural field’s ecosystems, we set out to develop a system designed to deal with copper pollution in water. Through an engineering approach, we researched, designed, created and tested a potential solution to this problem, and now present a proof of concept. On this page we discuss the problem at hand, our proposed solution as well as goals for the future.


  h2 The problem

  p.
    Winemaking holds not only significant cultural importance in Switzerland, but in all of Europe, with Italy, France and Spain accounting for 49% of the world wine
    production<ref authors="International Organisation of Vine and Wine" title="2020 wine product report, First Estimates" url="https://www.oiv.int/public/medias/7541/en-oiv-2020-world-wine-production-first-estimates.pdf" year="2020" />. Switzerland is home to
    150&nbsp;km<sup>2</sup> of vineyards, 11% of which are organic cultures<ref id="ofag" authors="Office fédéral de l'agriculture OFAG" title="L'année viticole 2020, Statistiques vitivinicoles" url="https://www.blw.admin.ch/dam/blw/fr/dokumente/Nachhaltige%20Produktion/Pflanzliche%20Produktion/Weine%20und%20Spirituosen/Weinwirtschaftliche%20Statistik/weinjahr_2020.pdf.download.pdf/f_weinjahr_2020.pdf" year="2020" />. In 2007, the Lavaux vineyards in Switzerland became a UNESCO world heritage
    site<ref authors="UNESCO" title="Lavaux, Vineyard Terraces" url="https://whc.unesco.org/en/list/1243/" year="2020" />
    due to their beauty and testimony to the longstanding cultural importance of high value winemaking in the local area. The winemaking industry is crucial to Switzerland both culturally and economically, sustaining around 1500 producers, and producing over 100 million liters of wine per
    year<ref id="ofag" />.

  p.
    The disease affecting vine cultures the most today is mildew, a parasite capable of drying out the grapes, diminishing the harvest and reportedly modifying the aroma and taste of
    wine<ref doi="10.1094/PDIS.2001.85.2.137" />. Currently, fungicide-based treatments, such as the Bordeaux mixture are the most widely used to combat mildew. This treatment is sprayed onto the leaves and has proven to be effective in diminishing the effects of this parasite. This product, widely used in Switzerland and throughout
    Europe<ref doi="10.3390/su10072380" />, is authorized in certified organic agriculture in various countries including Switzerland. Moreover, it is currently the only available organic option on the
    market<ref doi="10.1016/j.cropro.2011.02.031" />.

  p.
    This organic label portrays the product as seemingly harmless to the environment, and while it may not be as harmful as other, non-organic
    solutions<ref doi="10.1080/07352689.2011.554355" />, it does have some negative effects on the vineyards’ ecosystem. Indeed, this fungicide is made with copper-sulfate, and through the action of spraying it onto to the leaves, the soil in which the vines grow is contaminated with high levels of
    copper<ref doi="10.3390/su10072380" />. A new layer of fungicide is applied every time enough rain falls, as the rain washes the product off the leaves and into the soil.

  p.
    Moreover, since copper is a heavy metal, it accumulates in the first 10 cm of the
    soil<ref doi="10.1016/j.scitotenv.2018.04.268" />. The accumulation then leads to a diminution of the soil’s
    biodiversity<ref doi="10.1007/s13593-018-0503-9" />. In particular, copper in high concentrations is toxic to
    plants<ref doi="10.1016/S0269-7491(02)00312-3" />, pollutes
    groundwater<ref doi="10.1016/j.scitotenv.2005.07.012" /> and is leached into the soil profile.

  p.
    Research has shown this accumulation of copper in topsoil to be detrimental to new grape
    vines<ref doi="10.1007/s11104-013-1886-7" />, as shown by reduced growth in the roots and shoots. Adult grape vines, on the other hand, reportedly do not present visual symptoms of toxicity caused by copper but do accumulate copper in their perineal and annual organs.

  p.
    Copper-based fungicides are used all over the world on any leafy type of plant. The effect of these treatments on various cultures has been well
    documented<span class="ref-group"><ref doi="10.1071/SR01084" />, <ref doi="10.1016/j.soilbio.2009.04.010" />, <ref doi="10.1007/s11368-011-0349-0" /></span>. The issue of copper contamination in soils is thus not limited to European vineyards but presents a global challenge in the field of agriculture.


  h2 Current solutions

  p.
    To combat this problem, both the
    Swiss<ref doi="10.3390/su10072380" /> and
    French<ref authors="Bio Suisse" title="Liste des critères d'octroi des autorisations exceptionnelles, Producteurs" url="https://partner.bio-suisse.ch/media/Produzenten/Regelwerk/2021/ab-kriterienkatalog_2021_f.pdf" year="2021" /> governments currently hold restrictions on the amount of copper allowed in soils. However, in 2021, there are no other options for effective organic treatments against mildew. If winemakers wish to keep the organic label and simultaneously protect their vines from mildew, they are left only with the option of a copper-based fungicide.

  p.
    Remediation methods for copper contaminated soil include chemical methods, such as soil washing, biological methods, such as phytovolatilization, phytostabilization or phytoextraction and physical methods, such as soil replacement or isolation, to name a few.

  p.
    According to a recent review on remediation of copper in vineyards: “Physical methods are labour intensive and costly but can be applied to highly contaminated site; chemical methods have high efficiency and effective to remove the copper, but mostly popularized in a large scale; bioremediation methods including phytoremediation and microbial remediation are appropriate for large areas of soil contaminated by low concentrations of copper. The bioremediation methods are economical, eco- friendly but time
    consuming.”<ref doi="10.9734/asrj/2018/v1i326338" />

  p.
    Although bioremediation methods are currently being developed, most require the release of certain genetically modified organisms in nature at a large scale. This is an issue given that it is currently illegal in Switzerland to release GMOs in nature. Moreover, this problem extends to the European Union as “Nineteen out of the 27-member state countries of the European Union have voted to either partially or fully ban Genetically Modified Organisms
    (GMOs).”<ref authors="European Commission, European Green Capital" title="Several European countries move to rule out GMOs" url="https://ec.europa.eu/environment/europeangreencapital/countriesruleoutgmos/" />

  p.
    The problem is thus as follows: to protect grapevines from mildew, thereby ensuring the safety of the organic wine making industry, there needs to be a method capable of dealing with the problem of copper soil contamination. This method cannot allow for the release of GMOs, nor can it demand the removal and treatment of tons of soil, a practice detrimental to the winemaker’s economic livelihood. This is the problem we set out to solve.


  h2 CuRe

  p.
    Our goal is to prevent further contamination of agricultural soils by copper, still allowing for the use of a copper-based fungicide by winemakers. CuRe will be a way to treat rainwater carrying the copper it will have washed off the leaves previously sprayed with the fungicide. This system should demand minimal effort from current farmers and needs only initial installation. It aims to be self-sustaining,

  p.
    3 main goals (We wanted our solution to…):

  ol
    li Deal with the issue of incoming copper accumulation
    li Propose a realistic and safe implementation
    li Advance research of heavy metal bioremediation

  h3 1. Dealing with the issue of copper contamination

  p Our genetically modified yeast strains express copper binding proteins on their surface. While wildtype yeast already absorb copper, our yeast bind copper at higher concentrations. The advantage of using yeast as a vector for copper removal is their size. The adhesion of copper to yeast allows for easier filtration from rainwater – making us able to concentrate the copper so that further treatment is facilitated.

  h3 2. Propose a realistic and safe implementation

  p Real world problems deserve real world solutions. We found too often that projects did not account for actual needs of the people or actors most concerned. The engineer’s job is to connect the issues of the population to scientific solutions, thus a dialogue between stakeholders and engineers is necessary and must not be undermined. To better our understanding of the problem and properly tailor our solution, we consulted a variety of stakeholders, from local winemakers to water treatment experts. You can find information on how we did that on our Integrated Human Practices page.
  p Furthermore, our implementation must not create new problems for the communities we are attempting to bring aid to (overproduction of waste, release of potentially dangerous GMOs). The way in which we tackle this issue must be all-inclusive, considering all points of view and needs. Finally, we propose an implementation that is scalable, and applicable to different types of agriculture.

  h3 3. Advance research of heavy metal bioremediation

  p Heavy metal bioremediation is a growing field in microbiology, not only due to its innovations in synthetic biology, but also to the ever-growing need for solutions to heavy metal pollution of the environment. By taking advantage of the nature of synthetic biology, we strive to contribute to open-source research in this field by producing new and useful parts. To this aim, we discussed and engaged with the scientific community to come up with a new option for bioremediation that is in continuation and bases itself off of previous research. Most of our design is not specific to the copper ion, thus our methods could also be applied to other heavy metals.


  h2 The project

  p With our knowledge in synthetic biology, we created a yeast strain expressing copper binding proteins on its membrane surface. To this aim, we created a plasmid containing a known yeast display system and an endogenous yeast copper binding protein, called a metallothionein. We decided to express the protein on the membrane surface as we did not want to destabilize the yeast’s intracellular chemistry by having it absorb copper. These copper binding proteins can adhere copper to the surface of the yeast’s membrane.
  p Further descriptions of the project can be found on <a href="Design.html">the Design page</a>, with more detailed specificities and the research that led us to our current model.
  p This yeast can then be introduced into a bioreactor …


  h2 Future prospects

  ul
    li Application to other agricultures and countries / regions
    li Implementation of a kill switch
    li Integration into water treatment facilities
    li Perhaps introduce a copper biosensor (transcription is activated upon copper detection) to modulate response and allocate resources correctly (in the organism)


  h2 References

  bibliography
