extends templates/description.pug

block hero
  h1 Description

block description
  h2 Introduction

  p Inspired by the struggles of local winemakers as well as the preservation of agricultural field’s ecosystems, we set out to develop a system designed to deal with copper pollution in water. Through an engineering approach, we researched, designed, created and tested a potential solution to this problem, and now present a proof of concept. On this page we discuss the problem at hand, our proposed solution as well as goals for the future.

  h2 The problem

  p Winemaking holds not only significant cultural importance in Switzerland, but in all of Europe, with Italy, France and Spain accounting for 49% of the world wine production<a href="#" class="ref">1</a>. Switzerland is home to 150 km<sup>2</sup> of vineyards, 11% of which are organic cultures. In 2007, the Lavaux vineyards in Switzerland became a UNESCO world heritage site due to their beauty and testimony to the longstanding cultural importance of high value winemaking in the local area. The winemaking industry is crucial to Switzerland both culturally and economically, sustaining around 1500 producers, and producing over 100 million liters of wine per year.

  p The disease affecting vine cultures the most today is mildew, a parasite capable of drying out the grapes, diminishing the harvest and reportedly modifying the aroma and taste of wine. Currently, fungicide-based treatments, such as the Bordeaux mixture are the most widely used to combat mildew. This treatment is sprayed onto the leaves and has proven to be effective in diminishing the effects of this parasite. This product, widely used in Switzerland and throughout Europe, is authorized in certified organic agriculture in various countries including Switzerland. Moreover, it is currently the only available organic option on the market.

  h2 References

  ol.ref-list
    li.ref-item
      .ref-authors International Organisation of Vine and Wine (2020)
      //- , <span data-date="long">2020-10-27</span>
      .ref-title 2020 wine product report, First Estimates
      .ref-links
        a.ref-link(href="https://www.oiv.int/public/medias/7541/en-oiv-2020-world-wine-production-first-estimates.pdf") Full text
    li.ref-item
      .ref-authors Office fédéral de l'agriculture OFAG (2020)
      .ref-title L'année viticole 2020, Statistiques vitivinicoles
      .ref-links
        a.ref-link(href="https://www.blw.admin.ch/dam/blw/fr/dokumente/Nachhaltige%20Produktion/Pflanzliche%20Produktion/Weine%20und%20Spirituosen/Weinwirtschaftliche%20Statistik/weinjahr_2020.pdf.download.pdf/f_weinjahr_2020.pdf") Full text
    li.ref-item
      .ref-authors UNESCO (2020)
      .ref-title Lavaux, Vineyard Terraces
      .ref-links
        a.ref-link(href="https://whc.unesco.org/en/list/1243/") Full text
    li.ref-item
      .ref-authors Gadoury, D. M., Seem, R. C., Pearson, R. C., Wilcox, W. F., & Dunst, R. M. (2001).
      .ref-title Effects of powdery mildew on vine growth, yield, and quality of concord grapes.
      .ref-journal <i>Plant Disease</i>, 85(2), 137–140.
      .ref-links
        a.ref-link(href="https://doi.org/10.1094/PDIS.2001.85.2.137") CrossRef
        a.ref-link(href="https://scholar.google.ch/scholar?cluster=15831041554079780896") Google Scholar
    li.ref-item
      .ref-authors Panagos, P., Ballabio, C., Lugato, E., Jones, A., Borrelli, P., Scarpa, S., Orgiazzi, A., & Montanarella, L. (2018).
      .ref-title Potential sources of anthropogenic copper inputs to european agricultural soils.
      .ref-journal <i>Sustainability</i>, 10(7), 2380.
      .ref-links
        a.ref-link(href="https://doi.org/10.3390/su10072380") CrossRef
        a.ref-link(href="https://scholar.google.ch/scholar?cluster=16077705162421106083") Google Scholar
    li.ref-item
      .ref-authors Dagostin, S., Schärer, H.-J., Pertot, I., & Tamm, L. (2011).
      .ref-title Are there alternatives to copper for controlling grapevine downy mildew in organic viticulture?
      .ref-journal <i>Crop Protection</i>, 30(7), 776–788.
      .ref-links
        a.ref-link(href="https://doi.org/10.1016/j.cropro.2011.02.031") CrossRef
        a.ref-link(href="https://scholar.google.ch/scholar?cluster=1391923485802571514") Google Scholar
    li.ref-item
      .ref-authors Gomiero, T., Pimentel, D., & Paoletti, M. G. (2011).
      .ref-title Environmental impact of different agricultural management practices: Conventional vs. Organic agriculture.
      .ref-journal <i>Critical Reviews in Plant Sciences</i>, 30(1–2), 95–124.
      .ref-links
        a.ref-link(href="https://doi.org/10.1080/07352689.2011.554355") CrossRef
        a.ref-link(href="https://scholar.google.ch/scholar?cluster=17801584749614906726") Google Scholar

  <ol class="ref-item"><li class="ref-item" id="ref-0"><div class="ref-authors">Gomiero, Paoletti &amp; Pimentel&nbsp;(2008)</div><div class="ref-title">Energy and Environmental Issues in Organic and Conventional Agriculture</div><div class="ref-journal"><i>Critical Reviews in Plant Sciences</i>, vol.&nbsp;27, no.&nbsp;4, pp.&nbsp;239-254</div><div class="ref-links"><a class="ref-link" href="http://dx.doi.org/10.1080/07352680802225456">Crossref</a></div></li><li class="ref-item" id="ref-1"><div class="ref-authors">Dagostin, Schärer, Pertot &amp; Tamm&nbsp;(2011)</div><div class="ref-title">Are there alternatives to copper for controlling grapevine downy mildew in organic viticulture?</div><div class="ref-journal"><i>Crop Protection</i>, vol.&nbsp;30, no.&nbsp;7, pp.&nbsp;776-788</div><div class="ref-links"><a class="ref-link" href="http://dx.doi.org/10.1016/j.cropro.2011.02.031">Crossref</a></div></li></ol>
