extends templates/_description

block hero
  img.hero-image(src="assets/background/lake1.jpg")
  .hero-contents: h1 Design

block description
  h2 Introduction

  p Driven by the wish to develop a solution for one of the leading local concerns &ndash; the excessive copper contamination in the soils of local vineyards - we squeezed our brains to bring out the maximum of our creativity and engineering intuition. Therefore, the goal was to understand how to approach this problem in a way that would get the most out of our whole design.

  figure
    img(src="assets/design/8.jpg")
    figcaption
      span Figure (X)
      span Dimer design process.

  p Thus, the first step was to choose the chassis that would welcome our solution. This process took several back and forths, round tables and exchanges. After a lot of bibliographic research in the fields of bioaccumulation and bioremediation, consultations and comparisons with both experts in synthetic biology and local producers, we narrowed down our selection until finally choosing yeast as the chassis. At this point, the main interest became which solution to develop in order to optimize our results. Different solutions have already been developed, created and tested to target the problem of heavy metal removal, many of which have been developed on yeast strains. Moreover, different metallothionein proteins have been studied and classified mainly by size, binding affinity, number of attracted copper ions, expression, folding, and biological activity. With this in mind, the next step for us was finding the suitable protein to help us solve our targeted problem and capture as much copper as possible, saving our project and our soils.

  figure
    img(src="assets/design/10.jpg")
    figcaption
      span Figure (X)
      span Schematic representation of copper metabolism in yeast cell, and in our transgenic yeast strain.

  h3 CUP1

  p Several factors were considered before choosing the perfect protein for our project. The initial goal was to assemble a complex able to accumulate copper both inside and outside the cell. This complex would include three main components: an intracellular protein for cytoplasmic storage of copper ions, a transmembrane protein allowing the traffic of the ions from the external environment, and a metallothionein expressed on the extracellular surface to bind ions. Fortunately, we realized that the first two components of this complex are already endogenous functions of the wildtype yeast: that is, being able to transport copper ions in the intracellular space and store them there. Nevertheless, why don't we also try to express the same intracellular protein able to bind copper on the surface?
  p During this process, many other metal-binding proteins were considered, but none of them compared with the original intracellular protein in terms of the ability to attract eight copper ions simultaneously, stability, and protein characterization. The protein here chosen, responsible for copper tolerance, is called CUP1, a polypeptide of 61 amino acids - with its leading eight residues post-translationally cleaved off - resulting in a 53-residue final processed polypeptide<ref doi="10.1016/S0021-9258(17)38592-7" />. This protein sequence is particularly interesting: it contains 12 cysteine residues organized as Cys--X--Cys, Cys--Cys, and Cys--X--X--Cys, which produce four different binding sites for divalent metal ions and eight for monovalent ions, with high affinity for copper and cadmium<ref doi="10.1073/pnas.81.2.337" />.
  p In sum, CUP1 can bind eight copper ions through 12 cysteines per molecule.

  p The CUP1 processed primary structure is therefore a yeast metallothionein 53-residue polypeptide of molecular weight 5655 Da. Reconstitution studies of the apo-molecule revealed that 8 mol eq of Cu(I) depleted the content of zinc in the zinc-saturated metallothionein and showed maximal stability against proteolysis. These assays, therefore, suggested that, as mentioned above, the protein has eight binding sites for Cu(I). Additionally, this yeast metallothionein was observed to coordinate two additional ions: Cd(II) and Zn(II). In particular, in studies of direct binding, protection against proteolysis, and metal ion exchange, these divalent ions were found to associate with the protein with a maximal stoichiometry of 4 ions per molecule. Yeast metallothionein therefore reveals, as does the mammalian protein, two distinct binding configurations for Cu(I) and Cd(II)<ref doi="10.1016/S0021-9258(17)38592-7" />.
  p An experiment based on gene replacement has highlighted that the CUP1 protein is essential in yeast mainly for two reasons. First, it performs the main function of protecting the cells against the toxic effects of high concentrations of copper added to the medium. Second, it also reacts by suppressing the transcription of its own structural gene at low external copper concentrations. Indeed, transcription of the CUP1 gene is rapidly induced by copper. However, studies showed that unlike the mammalian metallothionein genes, transcription of the yeast gene is not affected by other ions such as cadmium, zinc, or mercury<ref doi="10.1016/S0021-9258(19)75973-0" />.
  p In summary, copper resistance in <i>Saccharomyces cerevisiae</i> is controlled by the CUP1 encoding genes. The CUP1 locus has an open reading frame (ORF) capable of encoding a 61- amino acid polypeptide that particularly resembles the mammalian metallothionein in its high proportion of cysteine residues and in the presence of a conserved six amino acid sequence. However, the predicted structure of the yeast protein does differ from mammalian metallothionein and includes two Phe residues, aromatic residues that are not found in any other metallothionein. Moreover, unlike mammalian metallothionein, the yeast molecule is rich in Glx and contains one His. Thus, the protein product of the CUP1 locus has been termed either Cu-metallothionein or Cu-chelatin<ref doi="10.1016/S0021-9258(17)38592-7" />.

  h3 Expression system

  p Yeast surface display is an efficient technique for producing engineered antibodies to increase their stability, affinity and specificity. Indeed, antibodies can be engineered for improved stability, as the expression is measured directly and has been shown to correlate with the stability of the displayed protein.
  p Moreover, yeast display has also been implemented to engineer several proteins with a variety of different applications<ref doi="10.1038/nprot.2006.94" />. Yeast surface display offers several advantages for protein-directed evolution. First, it enables quantitative screening through fluorescence-activated cell sorting. This allows to directly observe the general statistics and the equilibrium activity of the sample during the screening process. Furthermore, the protein-binding signal is normalized for expression, eliminating all the possible artefacts due to expression bias, thus allowing for clear discrimination between all possible mutants<ref doi="10.1038/nprot.2006.94" />.
  p Finally, the displayed proteins are folded in the endoplasmic reticulum of the eukaryotic yeast cells, taking advantage of endoplasmic reticulum chaperones and quality-control ‘machinery’<ref doi="10.1038/nprot.2006.94" />.
  p For engineering a single protein sequence, the DNA of interest must first be cloned into a yeast surface display vector.
  p In order to express CUP1 on the surface, we decided to use a surface display strategy. In the yeast surface display system, CUP1 is fused to the adhesion subunit of the yeast agglutinin protein Aga2p, which is attached to the yeast cell wall and Aga1p through disulfide bonds. Expression of the Aga2p-CUP1 is under the control of a galactose-inducible promoter on the yeast display plasmid - maintained in yeast episomally with a nutritional marker - whereas Aga1p is expressed from a chromosomally integrated galactose-inducible expression cassette. Moreover, variations in surface expression can be measured through immuno-fluorescence labelling of the V5 epitope tag flanking CUP1. A clear representation of our design is shown in figure 2.

  figure
    img(src="assets/design/0.jpg")
    figcaption
      span Figure (X)
      span Yeast surface display.
      span The CUP1 (cyan) is displayed on an Aga2 (pink) fusion protein on the surface of yeast. The expression can be detected by using fluorescent antibodies binding to the V5 tag (purple), and binding of the CUP1 to a biotinylated antigen (orange) can be detected using fluorescent label.


  h2 Dimers

  p To improve the ability of our original construct, we chose to join together two units of CUP1 through different linking sequences. This intuition should allow for a significant improvement in the copper absorption capabilities of our chassis, effectively doubling the presence of CUP1 on the surface and ideally leading to a twofold improvement in copper uptake and resistance.
  p In order to develop such a complex, we decided to use two slightly different CUP1 sequences, to avoid any problem of homology, coupled by a linker. Furthermore, the full nucleotide sequences of the CUP1 dimers were codon optimized to maximise the yield of protein production <b>in yeast</b> and prevent self-hybridization of the RNA after transcription. Different linkers have been modelled and tested in order to obtain the most stable and efficient structure. Once the modelling process was finished, all the created complexes - 7 - were cloned and tested, observing excellent results in expression and cloning on each of them.

  h3 Linkers

  figure
    img(src="assets/design/9.jpg")
    figcaption
      span Figure (X)
      span Yeast surface display for linkers.
      span One CUP1 (cyan) is dimerized with another CUP1 (yellow) differing in sequence. This is displayed on an Aga2 (pink) fusion protein on the surface of yeast. The expression can be detected by using fluorescent antibodies binding to the V5 tag (purple), and binding of the CUP1 to a biotinylated antigen (orange) can be detected using fluorescent label.

  p The successful design of a fusion protein requires two essential elements: the component proteins and the linkers. The choice of the whole complex is based on the desired functions of the fusion protein product and, typically, is relatively straightforward. On the other hand, the rational design or selection of a suitable linker to join the protein domains together can be arduous and is often the most critical step in designing fusion proteins. The direct fusion of functional domains without a linker may lead to several undesirable outcomes. This may include misfolding of the fusion proteins, low yield in protein production, or impaired bioactivity. Moreover, these linker peptides not only serve to connect the protein moieties, but also provide several other functions, such as maintaining cooperative inter-domain interactions, leading to the proper folding of the whole complex, preserving biological activity of the two single proteins, and sometimes adding new active functions<ref doi="10.1016/j.addr.2012.09.039" />.
  p Indeed, by genetically fusing two or more protein domains, the fusion protein product may obtain many distinct functions derived from each of their component moieties.
  p In general, some of the properties added by the presence of a linker are:

  ul
    li Increase stability and folding
    li Increase expression
    li Increase biological activity

  p In order to fuse two different CUP1 and develop the best models for the dimers, we decided to design and test 7 different linkers, each of which eventually led to excellent results.
  p In particular, to express different features in all our dimers, we chose specific designs for each of these linkers. Toward this aim, we mainly played with four factors: length, hydrophobicity, amino acid residues, and secondary structure. The last three features could also be categorized under the macro concept of flexibility. Therefore, length and flexibility were the main actors of our design.
  p The length determines the distance between the two proteins, thus allowing greater or lesser interaction between the two. In order to obtain a tradeoff between the absence of interactions and the size of the complex, we finally chose sequences that varied between 14 and 20 amino acids, typical length at the border between intermediate and long sequences.
  p Flexibility (or rigidity) is instead a parameter used to empirically describe the ability of a protein sequence to maintain a specific conformation<span class="ref-group"><ref doi="10.1093/protein/14.8.529">, <ref doi="10.1016/0022-2836(90)90085-Z" />, <ref doi="10.1093/protein/15.11.871" /></span>. Generally, this parameter is directly related to the amino acids and thus to the structure of the linker, which therefore would also affect the orientations of the fused proteins. Thus, although the orientation is determined by the structure of the linker, which is difficult to quantify, flexibility is used here to serve as an index of the linker structure. Moreover, previous studies have shown that the flexibility of a linker is associated with the function of fusion proteins, indicating the importance of linker flexibility in the construction of fused proteins.
  p In order to observe the behaviour of our complex in different conformations and structures, we decided to model, design and test flexible, semi-rigid and rigid linkers.


  h4 Flexible linkers

  p Flexible linkers are usually applied when the joined domains require a certain degree of movement or interaction. They are generally composed of small, non-polar (e.g. Gly) or polar (e.g. Ser or Thr) amino acids <ref doi="10.1016/0022-2836(90)90085-Z" />. The small size of these amino acids provides flexibility and more degree of freedom allowing for high mobility of the connecting functional domains.
  p In addition, the incorporation of Serine or Threonine can maintain the stability of the linker in aqueous solutions by forming hydrogen bonds with the water molecules, and therefore reduces the unfavourable interaction between the linker and the protein moieties<ref doi="10.1016/j.addr.2012.09.039" />.
  p The most commonly used flexible linkers have sequences consisting primarily of stretches of Glycine and Serine residues (“GS” linker). An example of the most widely used flexible linker has the sequence of (Gly-Gly-Gly-Gly-Ser)n. By adjusting the copy number “n”, the length of this GS linker can be optimized to achieve appropriate separation of the functional domains, maintain necessary inter-domain interactions, and allow for proper folding of the fusion proteins<ref doi="10.1016/j.addr.2012.09.039" />.
  p Therefore, regarding the flexible linker, the final choice has been oriented towards a combination of Glycine and Serine, in two different combinations of GGGGS, in particular (GGGGS)<sub>n</sub>, with n = 3,4.

  .linkers
    img(src="assets/design/1.jpg")
    img(src="assets/design/2.jpg")

  h4 Rigid linkers
  p While flexible linkers have the advantage of connecting the functional domains passively and permitting a certain degree of movement, the lack of rigidity of these linkers can be limiting. There are different examples in the literature where flexible linkers showed loss of biological activity or poor expression yields. (doi:10.1016/j.addr.2012.09.039) The inefficiency of flexible linkers in these instances was attributed to the ineffective separation of the protein domains or insufficient reduction of their interaction.(doi:10.1016/j.addr.2012.09.039) In these situations, rigid linkers have been successfully applied to keep a fixed distance between the domains and maintain their independent functions, separating the functional domains more efficiently than the flexible linkers.
  p Rigid linkers exhibit relatively stiff structures by adopting α-helical structures or by containing multiple Pro residues. Indeed, Pro is a unique amino acid with a cyclic side chain that causes a very restricted conformation. (doi:10.1016/j.addr.2012.09.039) Furthermore, the lack of amide hydrogen on Pro typically prevents the formation of hydrogen bonds with other amino acids, and therefore reduces the interaction between the linkers and the protein domains. As a result, the inclusion of Pro residues might increase the stiffness and structural independence of the linkers<ref doi="10.1042/bj2970249" />.
  p Furthermore, in this case, the length of the linkers can be easily adjusted by changing the copy number to achieve an optimal distance between domains. As a result, rigid linkers are chosen when the spatial separation of the domains is critical to preserve the stability or bioactivity of the fusion proteins.
  p In this case, the most common rigid linker is the alpha helix-forming linkers with the sequence of (EAAAK)<sub>n</sub>, which shows an approximately 80% helicity with n = 3<ref doi="10.1007/s00253-015-6985-3" />.
  p Moreover, many natural linkers exhibited α-helical structures<ref doi="10.1093/protein/15.11.871" />. Generally, these latter are characterized by high rigidity and stability, with intra-segment hydrogen bonds and a closely packed backbone. Therefore, the stiff α-helical linkers may act as simple rigid spacers between protein domains.
  p Another type of rigid linkers, as explained above, has a Pro-rich sequence, (XP)<sub>n</sub>, with X designating any amino acid, preferably Ala, Lys, or Glu. Therefore, the presence of Pro in non-helical linkers can increase the stiffness, and allows for effective separation of the protein domains as well.
  p Therefore, regarding the rigid linkers, we decided to use either a combination of EAAAK, interested in the resulting α-helix structure, or a combination of AP interested in the properties of the poly-proline sequence. In particular, we chose (EAAAK)<sub>n</sub> with n = 3,4 and (AP)<sub>n</sub> with n = 7.

  .linkers
    img(src="assets/design/5.jpg")
    img(src="assets/design/6.jpg")
    img(src="assets/design/7.jpg")

  h4 Semiflexible linkers
  p Finally, recombining the entire building units with these significantly different flexibilities can potentially extend the linker mobility range for fusion protein design. Such an approach would benefit from several new properties. In particular, using stable conformational sequences as the entire building units would lead to eliminating useless complexity in predicting the possible conformations of the linkers and the perturbations between the linker region and connected domains. In addition, as linker flexibility mainly depends on its conformation, which as stated above stems from the primary sequence, the linker library by recombining the rigid and flexible building units in different length, can be expected to have widely controllable flexibility, capable of changing from rigidity to flexibility<ref doi="10.1007/s00253-015-6985-3" />.
  p Therefore for the semi-flexible (or semi-rigid) conformation, we decided to combine the design choices used for flexible and rigid linkers. In particular, the main idea is to separate the two functional domains at an adequate distance to prevent any interaction between the two and maintain their independent functions while allowing extreme flexibility in the area close to the C and N terminus of the fusion proteins. In this way, the complex will be highly rigid in the centre and particularly flexible in the vicinity of the two protein termina allowing further degrees of freedom, proper folding, thus hopefully further facilitating the process of copper uptake. Accordingly, the structures used for the semi-rigid linker are:
  p GGGGS(EAAAK)<sub>n</sub>GGGS, with n = 1, 2, alpha helicity of around 15-20% and 25-30% respectively<ref doi="10.1007/s00253-015-6985-3" />.
  p In summary, linkers can adopt various structures and exert diverse functions to fulfil the application of fusion proteins. The flexible linkers are often rich in small or hydrophilic amino acids such as Gly or Ser to provide structural flexibility and have been applied to connect functional domains that favour interdomain interactions or movements. In cases where sufficient separation of protein domains is required, rigid linkers may be preferable. By adopting α-helical structures or incorporating Pro, the rigid linkers can efficiently keep protein moieties at a distance. Both flexible and rigid linkers are stable in vivo and do not allow joined proteins to separate.

  .linkers
    img(src="assets/design/3.jpg")
    img(src="assets/design/4.jpg")
