extends templates/description.pug

block hero
  h1 Education &amp; communication

block description
  h2 High school summer lab

  p Every year EPFL organizes an immersion week for high school students from Bern who have taken an optional STEM course. During the weeks, the students have the opportunity to follow presentations as well as workshops and hands-on activities in all departments of the school. We had the opportunity to represent the Life Science Engineering department and introduce them to synthetic biology.
  p First we gave an introduction to synthetic biology, we explained to them what iGEM was and we presented our project. Then, we explained to them the experiment and let them perform it while supervising them.
  p The experiment was related to our personal project for iGEM and consisted of culturing transformed yeast cells in order to see fluorescent cells under the microscope. The yeast strain contained two new genes, one coding for the green fluorescent protein (GFP) and the other coding for mScarlet, a red fluorescent protein. Both were under the control of a promoter that got activated when a small molecule, β-estradiol, was present. The students put yeast in culture from a glycerol stock, one containing the inducer, one without, the control. They then plated already grown culture onto YPD plates. Finally they could observe the colonies under the microscope and were able to see them fluoresce in green when excited with a wavelength of 470 nm and in red with a wavelength of 590 nm and compared the induced ones with the control, which didn't express any fluorescent protein.
  p The students seemed interested in the concept of synthetic biology and showed enthusiasm in performing the experiment.
  p Personally it was our first experience in the lab for iGEM and we really enjoyed it. Having the opportunity to transmit our knowledge to younger people and see that they show interest was a great experience.
