extends templates/_layout

block contents
  main.desc-root
    .hero
      img.hero-image(src="assets/background/hp.jpg")
      .hero-contents: h1 Human Practices

    .hp-contents
      nav.hp-nav
        a(href="#hp-silver" data-hp-target="silver") Human Practices
        a(href="#hp-gold" data-hp-target="gold") Integrated Human Practices

      .desc-contents(data-hp-contents="silver")
        include components/_hp-silver

      .desc-contents(data-hp-contents="gold")
        include components/_hp-gold
