extends templates/_layout

block contents
  main.desc-root
    .hero
      img.hero-image(src="assets/background/hp.jpg")
      .hero-contents: h1 Human Practices

    .hp-contents
      nav.hp-nav
        a(href="#hp-silver" data-hp-target="silver") Human Practices
        a(href="#hp-gold" data-hp-target="gold") Integrated Human Practices

      .desc-body(data-hp-contents="silver")
        aside.sidenav-container
          .sidenav
            h3 Contents
            .sidenav-toc
              toc

        .desc-contents(toc-contents)
          include components/_hp-silver

      .desc-body(data-hp-contents="gold")
        aside.sidenav-container
          .sidenav
            h3 Contents
            .sidenav-toc
              toc

        .desc-contents(toc-contents)
          include components/_hp-gold
