extends templates/layout.pug

block header
  header.header.header--white
    include templates/header.pug

block contents
  main.layout-index
    .hero
      video(src="assets/home.mp4" autoplay muted loop)

      .hero-contents
        h1 CuRe
        p Solving copper pollution with synthetic biology.

    section.section1
      .section-left
        h2 The problem
        .subtext Mildew and copper fungicides

        p Maecenas velit sem, mollis vel ligula sed, condimentum pretium mi. Nullam odio turpis, consectetur sed aliquam vitae, vulputate vitae lectus.
        p Integer pretium augue vitae tellus posuere rhoncus. In nec metus cursus, hendrerit massa lobortis, finibus risus. Nunc in orci pulvinar, scelerisque justo at, aliquet sem. Nam imperdiet sagittis erat, non interdum magna dignissim at.

      .section-right
        div

    section.section3
      p The concentration of copper in the soil reaches up to the 3x the legal limit in certain vineyards of Switzerland.

    section.section1.animated
      .section-left
        h2.animated-text Our solution
        p.animated-text Maecenas velit sem, mollis vel ligula sed, condimentum pretium mi. Nullam odio turpis, consectetur sed aliquam vitae, vulputate vitae lectus.
        p.animated-text Integer pretium augue vitae tellus posuere rhoncus. In nec metus cursus, hendrerit massa lobortis, finibus risus. Nunc in orci pulvinar, scelerisque justo at, aliquet sem. Nam imperdiet sagittis erat, non interdum magna dignissim at.

      .section-right
        div

    section.section2(data-image="0")
      .backgrounds
        img(src="assets/background/vineyard.jpg")
        img(src="assets/background/lab.jpg")
        img(src="assets/background/lab2.jpg")
        img(src="assets/background/lab3.jpg")

      .links
        a(href="#") Biology
        a(href="#") Implementation
        a(href="#") Human Practices

    .sponsors
      h2 Sponsors

      .sponsors-list
        img(src="assets/sponsors/idt.png" loading="lazy")
        img(src="assets/sponsors/genscript.png" loading="lazy")
        img(src="assets/sponsors/microsynth.png" loading="lazy")
