extends templates/_layout

block header
  header.header.header--white
    include templates/_header

block contents
  main.home-root
    .home-hero
      video(src="assets/home/video.mp4" autoplay muted loop poster="assets/home/poster.jpg")

      .home-hero-contents
        h1: include ../internal-assets/logo-text.svg
        p Solving copper pollution with synthetic biology.


    section.section1-root.fadein
      .section1-left.fadein-target
        .subtext The problem
        h2 Mildew and copper fungicides

        p Mildew is a fungal disease that attacks plants including grape vines and greatly reduces the yield from affected crops.
        p In order to treat plants affected Mildew, copper-based fungicides have been in use for over a hundred years thanks to their effective action and compatibility with organic farming practices Although copper has little effect on the taste and safety of produce from treated plants, it can accumulate to toxic levels in the surrounding soil, inhibiting new cultivation and reducing biodiversity.

        a(href="Description.html#problem") More on the problem

      .section1-right.fadein-target(data-delay="1")
        figure
          img(src="assets/home/map.jpg")
          figcaption Copper concentration in topsoil across Europe.<ref doi="10.1016/j.scitotenv.2018.04.268" /> White: &lt;&nbsp;9&#8239;mg/kg, dark blue: &gt;&nbsp;65&#8239;mg/kg. The legal “investigation threshold” for topsoil copper is 40&nbsp;mg/kg in Switzerland.<ref authors="Confédération suisse" journal="Fedlex" title="814.12 Ordonnance sur les atteintes portées aux sols" url="https://www.fedlex.admin.ch/eli/cc/1998/1854_1854_1854/fr" year="2016" />


    section.section5.fadein
      .fact-list
        .fact-value.fadein-target(data-delay="0") 24–30%
        p.fact-text.fact-text-bottom.fadein-target(data-delay="0") of the 2021 French wine production is expected to be lost due to mildew.<ref authors="Ministère de l'Agriculture et de l'Alimentation" journal="Agreste : la statistique agricole" title="Viticulture n°2021-103, Infos rapides" url="https://agreste.agriculture.gouv.fr/agreste-web/download/publication/publie/IraVit21103/2021_103inforapviticulture.pdf" year="2021" />

        .fact-value.fadein-target(data-delay="1") 4&nbsp;kg/ha
        p.fact-text.fact-text-bottom.fadein-target(data-delay="1") of copper fungicides can be used at most each year in the EU.<ref authors="European Commission" title="Regulation (EU) 2018/1981" journal="EUR-Lex" year="2018" url="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32018R1981" />

        .fact-value.fadein-target(data-delay="2") 355&nbsp;mg/kg
        p.fact-text.fact-text-bottom.fadein-target(data-delay="2") of copper can be found in certain regions of Switzerland, more than 8&nbsp;times the investigation threshold.<ref authors="Federal Office for the Environment FOEN" title="Map of Heavy Metal Soil Contamination" url="https://www.bafu.admin.ch/bafu/en/home/topics/soil/state/visualisierung-der-schwermetallbelastung-des-bodens.html" year="2021" />


    section.section10.fadein
      .subtext Our solution

      h2
        strong C
        span.c
          span.c1: strong u
          span.c2 opper&nbsp;
        span: strong Re
        .words
          .words-list
            div cuperation
            div trieval
            div cycling
            div newal
            div generation
            div cuperation


      p Our solution aims to employ bioremediation to remove copper from fungicide contaminated rainwater.  Our strategy is to generate transgenic yeast strains that express the endogenous copper-binding protein CUP1 on the surface to bind to and allow the removal of copper from water. To complement these yeast strains, we designed a bioreactor to allow yeast to interact with rainwater and remove pollutants such as copper.


    section.section6.fadein
      figure.fadein-target
        img(src="assets/home/protein.jpg")
        figcaption 3D structure of CUP1 obtained with NMR.<ref doi="10.2210/pdb1AQR/pdb" />

      .section6-contents.fadein-target(data-delay="1")
        h2 Meet <strong>CUP1</strong>
        p CUP1 is a copper methallothionein, a small protein with a high affinity for copper ions. CUP1 is naturally present endogenously in the yeast <i>Saccharomyces cerevisiae</i>, where it is responsible for protecting against copper toxicity and acts as a source for copper for proteins with utilize this metal.
        p Thanks to its cysteine residues, a single copy of CUP1 can bind up to <strong>8&nbsp;copper ions</strong>, making it an ideal protein for biology-based copper binding and removal.
        a(href="Design.html") More on the design


    section.section7
      video(src="assets/home/protein.mp4" autoplay loop muted)

      .section7-contents
        h2 Using and improving CUP1

        .section7-items
          .section7-item
            h3 Adding CUP1 to the surface
            p In order to harness the copper binding ability of CUP1 for bioadsorption, we have introduced CUP1 into a protein expression system which allows CUP1 to be expressed on the surface of yeast.  We confirmed successful expression and localization of CUP1 on the surface of yeast.

          .section7-item
            h3 Enhancing CUP1 copper binding
            p To further improve the potential for copper adsorption by CUP1, we designed of novel construct which featured two copies of CUP1 in tandem, theoretically doubling its binding capability.We have designed, expressed and tested seven different dimers, each with linker sequence of  varying protein flexibility separating the two CUP1 sequences.


    section.section8
      img(src="assets/home/composite.jpg")

      .section8-contents
        h2 Explore our <strong>experiments</strong>

        p Discover more about our measurements of copper from vineyard soils, our cloning and expression of CUP1, our protein and immunofluorescence measurements that confirmed production and surface localization in yeast, our design of novel dimers of CUP1 with protein linkers of varying flexibility and our copper measurement chemistry assays.

        a(href="Notebook.html") Notebook
        a(href="Results.html") Results
        a(href="Results.html#discussion") Discussion

        figcaption Immunostaining of yeast cells expressing our protein.


    section.section11
      video(src="assets/home/implementation.mp4" muted poster="assets/home/implementation-poster.jpg" class="fadein")

      .section11-contents
        h2 Implementation

        p To make full utility of our yeast strains, we designed a bioreactor to enable yeast suspended in beads to interact with rainwater and remove pollutants such as copper. We designed, manufactured and built the device. To make our device easy to use, we also implemented a graphical user interface on an associated tablet that controls of the bioreactor activities.
        a(href="Implementation.html") More on Implementation


    section.section2-root(data-image="0")
      img(src="assets/background/vineyard2.jpg")

      .section2-contents
        h2 Human Practices

        p In addition to working with experts for biological and hardware components, we engaged with stakeholders impacted by the effects of copper pollution including winegrowers, phytoremediation specialists and water purification authorities.
        a(href="Human_Practices.html") More on Human Practices


    //- section.section3
    //-   blockquote
    //-     p “Le théâtre est un point d'optique. Tout ce qui existe dans le monde, dans l'histoire, dans la vie, dans l'homme, tout doit et peut s'y réfléchir, mais sous la baguette magique de l'art.”
    //-     cite John Doe, winemaker


    section.section4
      img(src="assets/home/communication.jpg")

      .section4-contents
        h2 Education &amp; Communication

        p In outreach activities designed to promote the understanding of and opportunities presented by synthetic biology, in addition to the specific problem we aimed to address, we created a childrens book and a series of podcasts, visited high schools, hosted an event to educate fellow students about iGEM and published a description of our project in a magazine for the general public.
        a(href="Communication.html") More on Education &amp; Communication


    .sponsors-root
      h2 Sponsors

      .sponsors-list
        a(href="https://biomede.fr" target="_blank"): img(src="assets/sponsors/biomede.jpg" loading="lazy")
        a(href="https://www.genscript.com" target="_blank"): img(src="assets/sponsors/genscript.jpg" loading="lazy")
        a(href="https://www.microsynth.com" target="_blank"): img(src="assets/sponsors/microsynth.jpg" loading="lazy")
        a(href="https://promega.com" target="_blank"): img(src="assets/sponsors/promega.jpg" loading="lazy")
        a(href="https://www.snapgene.com" target="_blank"): img(src="assets/sponsors/snapgene.jpg" loading="lazy")
        a(href="https://epfl.ch" target="_blank"): svg: use(href="assets/icons.svg#epfl")
        a(href="https://www.twistbioscience.com" target="_blank"): img(src="assets/sponsors/twist.jpg" loading="lazy")

    details.section9
      summary: h2 References

      bibliography
