extends templates/layout.pug

block header
  header.header.header--white
    a(href="index.html").header-brand
      include ../internal-assets/logo.svg

    .header-nav
      ul
        li: a(href="biology.html") Biology
        li: a(href="#") Implementation
        li: a(href="#") Human Practices

block contents
  main.layout-index
    // video(src="https://www.palantir.com/videos/home.webm" autoplay muted loop)

    .hero
      video(src="https://www.palantir.com/videos/home.webm" muted loop)

      .hero-contents
        h1
          | Copper&nbsp;
          .words
            .list
              div recuperation
              div retrieval
              div recycling
              div renewal
              div regeneration
              div recuperation

    .sponsors
      h2 Sponsors

      .sponsors-list
        img(src="assets/sponsors/idt.png")
        img(src="assets/sponsors/genscript.png")
        img(src="assets/sponsors/microsynth.png")
