extends templates/_layout

block header
  header.header.header--white
    include templates/_header

block contents
  main.home-root
    .home-hero
      video(src="assets/home/video.mp4" autoplay muted loop poster="assets/home/poster.jpg")

      .home-hero-contents
        h1: include ../internal-assets/logo-text.svg
        p Solving copper pollution with synthetic biology.


    section.section1-root.fadein
      .section1-left.fadein-target
        h2 The problem
        .subtext Mildew and copper fungicides

        p Mildew is a parasite that attacks grapes, and greatly reduces yield in affected cultures.
        p In order to treat plants affected Mildew, copper-based fungicides have been in use for several decades thanks to their high effectiveness. Although copper has little effects on the taste and safety of resulting products, it can dangerously affect biodiversity in the environment of treated cultures.

        a(href="Description.html#problem") More on the problem

      .section1-right.fadein-target(data-delay="1")
        figure
          img(src="assets/home/map.jpg")
          figcaption Copper concentration in topsoil across Europe.<ref doi="10.1016/j.scitotenv.2018.04.268" /> White: &lt;&nbsp;9&#8239;mg/kg, dark blue: &gt;&nbsp;65&#8239;mg/kg. The legal “investigation threshold” for topsoil copper is 40&nbsp;mg/kg in Switzerland.<ref authors="Confédération suisse" journal="Fedlex" title="814.12 Ordonnance sur les atteintes portées aux sols" url="https://www.fedlex.admin.ch/eli/cc/1998/1854_1854_1854/fr" year="2016" />


    section.section5.fadein
      .fact-list
        .fact-value.fadein-target(data-delay="0") 24–30%
        p.fact-text.fact-text-bottom.fadein-target(data-delay="0") of the 2021 French wine production is expected to be lost due to mildew.<ref authors="Ministère de l'Agriculture et de l'Alimentation" journal="Agreste : la statistique agricole" title="Viticulture n°2021-103, Infos rapides" url="https://agreste.agriculture.gouv.fr/agreste-web/download/publication/publie/IraVit21103/2021_103inforapviticulture.pdf" year="2021" />

        .fact-value.fadein-target(data-delay="1") 4&nbsp;kg/ha
        p.fact-text.fact-text-bottom.fadein-target(data-delay="1") of copper fungicides can be used at most each year in the EU.<ref authors="European Commission" title="Regulation (EU) 2018/1981" journal="EUR-Lex" year="2018" url="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32018R1981" />

        .fact-value.fadein-target(data-delay="2") 355&nbsp;mg/kg
        p.fact-text.fact-text-bottom.fadein-target(data-delay="2") of copper can be found in certain regions of Switzerland, more than 8&nbsp;times the investigation threshold.<ref authors="Federal Office for the Environment FOEN" title="Map of Heavy Metal Soil Contamination" url="https://www.bafu.admin.ch/bafu/en/home/topics/soil/state/visualisierung-der-schwermetallbelastung-des-bodens.html" year="2021" />


    section.section10.fadein
      .subtext Our solution

      h2
        strong C
        span.c
          span.c1: strong u
          span.c2 opper&nbsp;
        span: strong Re
        .words
          .words-list
            div cuperation
            div trieval
            div cycling
            div newal
            div generation
            div cuperation


      p Maecenas velit sem, mollis vel ligula sed, condimentum pretium mi. Nullam odio turpis, consectetur sed aliquam vitae, vulputate vitae lectus.
      p Integer pretium augue vitae tellus posuere rhoncus. In nec metus cursus, hendrerit massa lobortis, finibus risus. Nunc in orci pulvinar, scelerisque justo at, aliquet sem. Nam imperdiet sagittis erat, non interdum magna dignissim at.


    section.section6.fadein
      figure.fadein-target
        img(src="assets/home/protein.jpg")
        figcaption 3D structure of CUP1 obtained with NMR.<ref doi="10.2210/pdb1AQR/pdb" />

      .section6-contents.fadein-target(data-delay="1")
        h2 Meet <strong>CUP1</strong>
        p CUP1 is a copper methallothionein, a small protein with a high affinity for copper ions. CUP1 is naturally present in the yeast <i>Saccharomyces cerevisiae</i>, where it is responsible for various cellular processes and molecular functions.
        p Thanks to its numerous cysteine residues, a single copy of CUP1 can bind up to <strong>7&nbsp;copper ions</strong>, making it a first choice protein for biology-based copper removal.
        a(href="Design.html") More on the design


    section.section7
      h2 Using and improving CUP1

      .section7-contents
        div.section7-item
          h3 Moving CUP1 to the surface
          p In order to harness the copper binding ability of CUP1 for bioadsorption, we have fused CUP1 to the surface Aga2 protein.

        div.section7-item
          h3 Dimerizing CUP1
          p To improve copper adsorption furthermore, we have successfully modified our protein to feature two copies of CUP1 in its sequence, theoretically doubling its binding capability.
          p We have designed, expressed and tested seven different dimers, each with a varying linker sequence in between the two CUP1 sequences.


    section.section8
      img(src="assets/home/composite.jpg")

      .section8-contents
        h2 Explore our <strong>experiments</strong>

        p Donec egestas lacus convallis eros feugiat consequat. Vestibulum porta augue vel dui vestibulum pellentesque.
        p Suspendisse vitae elit consequat, rhoncus purus eu, pulvinar justo. Sed ac feugiat purus, ac tempor elit. Curabitur bibendum tortor ut tortor aliquam, a ornare nunc volutpat.

        a(href="Notebook.html") Notebook
        a(href="Results.html") Results

        figcaption Immunostaining of yeast cells expressing our protein.


    section.section11
      video(src="assets/hardware/disassembly.mp4" utoplay muted poster="assets/hardware/poster.jpg" class="fadein")

      .section11-contents
        h2 Hardware

        // Thanks to our disciplinary team, (...)
        p Donec egestas lacus convallis eros feugiat consequat. Vestibulum porta augue vel dui vestibulum pellentesque.
        p Suspendisse vitae elit consequat, rhoncus purus eu, pulvinar justo. Sed ac feugiat purus, ac tempor elit. Curabitur bibendum tortor ut tortor aliquam, a ornare nunc volutpat.


    section.section2-root(data-image="0")
      img(src="assets/background/vineyard2.jpg")

      .section2-contents
        h2 Human Practices

        p In addition to working on biology and hardware, we have reached out to all stakeholders to ensure that our solution would have a positive impact on the world.
        a(href="Human_Practices.html") More on Human Practices


    section.section3
      blockquote
        p “Le théâtre est un point d'optique. Tout ce qui existe dans le monde, dans l'histoire, dans la vie, dans l'homme, tout doit et peut s'y réfléchir, mais sous la baguette magique de l'art.”
        cite John Doe, winemaker


    .sponsors-root
      h2 Sponsors

      .sponsors-list
        a(href="https://biomede.fr" target="_blank"): img(src="assets/sponsors/biomede.jpg" loading="lazy")
        a(href="https://www.genscript.com" target="_blank"): img(src="assets/sponsors/genscript.jpg" loading="lazy")
        a(href="https://www.microsynth.com" target="_blank"): img(src="assets/sponsors/microsynth.jpg" loading="lazy")
        a(href="https://promega.com" target="_blank"): img(src="assets/sponsors/promega.jpg" loading="lazy")
        a(href="https://www.snapgene.com" target="_blank"): img(src="assets/sponsors/snapgene.jpg" loading="lazy")
        a(href="https://epfl.ch" target="_blank"): svg: use(href="assets/icons.svg#epfl")

    section
      bibliography
