extends templates/_description

block hero
  img.hero-image(src="assets/background/hp.jpg" loading="lazy")
  .hero-contents: h1 Integrated Human Practices

block description
  h2 Integrated Human Practices

  p The CuRe Project started out as a will to solve a problem from our local region. It led us to consider the issue of copper contamination in vineyards &ndash; an issue that none of us had previously known about, but that was a very prevalent local challenge, as we would come to find out.

  p When first researching potential solutions to remediate heavy metal pollution in soils, we found some existing techniques based on direct soil treatment. Among them, burning the soil and treating it with chemicals, or using phytoremediation<ref doi="10.9734/asrj/2018/v1i326338 " />. However, these methods have their disadvantages. For example, treating the soil with chemicals implies bringing all of the soil to a treatment facility, an extreme solution that is not sustainable for winemakers.
  p We decided the best option would be to treat the copper contaminated rainwater falling from the leaves. Indeed, this water is the transporter of the copper from the leaves to the soil, contaminating it. Although we wouldn't be actively participating in reducing the current copper concentrations in the soil, we would help prevent this issue from exacerbating. We thus turned our attention towards bioremediation<ref doi="10.1016/C2013-0-13533-7" />.
  p By extensive research in the academic literature, we found that the two most appropriate organisms for bioremediation were <i>Saccharomyces cerevisiae</i><ref doi="10.5772/intechopen.70559" /> (yeast) and <i>Escherichia coli</i><ref doi="10.5772/19546" /> (bacteria). Hence, our initial idea was to genetically improve organisms capable of absorbing copper directly into the contaminated soils so as to treat it. However, GMOs use is under stringent restrictions in Switzerland and their release is strictly forbidden.
  p Hence biocontainment of our GMO being necessary for legal aspects, we came up with a few ideas. One implementation we designed relied on channelling water from the vines through a bioreactor, where the water could be treated. This bioreactor would contain our organism and prevent GMOs from being released in the environment.
  p: strong In summary, preliminary research highlighted encapsulated bioremediation as a promising tool for withstanding copper pollution. We needed to devise a way to deal with the ever growing problem of copper contamination (read more about <a href="Description.html#problem">the problem here</a>), while making sure our solution made sense in the socio, economic, political but also legal context that it would be implemented in. To achieve that, we decided to pitch our initial GMO-bioreactor idea to technical experts and winemakers.

  p To follow along with our project design, click on the relevant stakeholders to see how they aided us. For each stakeholder, we describe them, their contribution as well as the adjustments we made to our project following the interview.

  div(style="position: relative;")
    img(src="assets/hp/1.jpg")
    <a href="#popup-11"><div style="position: absolute; left: 5.74%; top: 66.27%; width: 5.42%; height: 14.46%; background-color: transparent;"></div></a>
    <a href="#popup-6"><div style="position: absolute; left: 12.48%; top: 23.82%; width: 5.01%; height: 13.35%; background-color: transparent;"></div></a>
    <a href="#popup-7"><div style="position: absolute; left: 20.90%; top: 71.55%; width: 4.03%; height: 10.75%; background-color: transparent;"></div></a>
    <a href="#popup-3"><div style="position: absolute; left: 24.24%; top: 27.90%; width: 5.35%; height: 14.27%; background-color: transparent;"></div></a>
    <a href="#popup-8"><div style="position: absolute; left: 36.65%; top: 54.40%; width: 6.95%; height: 18.54%; background-color: transparent;"></div></a>
    <a href="#popup-10"><div style="position: absolute; left: 38.18%; top: 16.96%; width: 5.91%; height: 15.76%; background-color: transparent;"></div></a>
    <a href="#popup-4"><div style="position: absolute; left: 58.83%; top: 70.71%; width: 6.95%; height: 18.54%; background-color: transparent;"></div></a>
    <a href="#popup-3"><div style="position: absolute; left: 63.07%; top: 10.38%; width: 5.56%; height: 14.83%; background-color: transparent;"></div></a>
    <a href="#popup-1"><div style="position: absolute; left: 71.07%; top: 24.37%; width: 7.58%; height: 20.20%; background-color: transparent;"></div></a>
    <a href="#popup-2"><div style="position: absolute; left: 74.34%; top: 72.01%; width: 5.63%; height: 15.01%; background-color: transparent;"></div></a>
    <a href="#popup-3"><div style="position: absolute; left: 85.01%; top: 30.40%; width: 6.05%; height: 16.13%; background-color: transparent;"></div></a>
    <a href="#popup-4"><div style="position: absolute; left: 91.59%; top: 57.46%; width: 5.98%; height: 15.94%; background-color: transparent;"></div></a>


  .hp-popup-root: .hp-popup-container
    .hp-popup-item(id="popup-1")
      header
        h3 Discussion with winemaker in Lutry
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-05-21

      dl
        dt Description
        dd: p Olivier Rouge and his son Clément Rouge are winemakers working with the organic label in Lutry. Lutry is a part of the Lavaux, which is a UNESCO world heritage site. They value the preservation of these sites and their beauty. We contacted them to make sure our initial project idea was curated to their liking and needs.

        dt Contribution
        dd
          p This first meeting gave us insight on our constraints: the organic label needs to keep a good image for it to retain its value on the market. <span class="emph">They shared with us their concerns about the contamination of their soils, due to the copper based fungicide they use, thus confirming the impact of our project.</span> The winemakers advised the use of yeast because it is already used in winemaking during fermentation. We learned from these winemakers that in organic processes, no synthetic pesticides are used, but they do use this copper and sulfate mixture called Bordeaux Mixture (or Bouillie bordelaise in French) every 7 to 8 days and between the beginning of May and the 1<sup>st</sup> of August. The winemakers estimated that, when first administered, around 70% of the copper from the mixture stays on the leaves while 30% goes into the air and on the ground. The copper is used to protect mostly the young leaves from fungi, since the plant usually becomes resilient to the treatment once it has matured. They spray approximately 4 g of copper per hectare every time and the copper is considered to have been washed off the leaves completely after 20 mm of rain has fallen. To aid us with our calculations, they estimated the surface covered by the vine leaves to be about 30 cm x 80 cm.
          p Further discussions confirmed that a wood chip type containment or a carpet needing to be changed every three years could be worth the winemaker's investment into working to decontaminate their soils, but that there would need to be financial incentive. This could take the form of government subsidies, for example.

        dt Adjustments
        dd: p We began to consider yeast as our chassis. If we were to make an all-encompassing project, we had to take into account the public's opinion clearly in favor of a yeast-mediated solution rather than inspiring distrust bacteria.

        dt Next steps
        dd: p We have now talked to organic winemakers who consider copper to be an existential problem for their business. We would like to know more about other types of vineyards.


    .hp-popup-item(id="popup-2")
      header
        h3 Discussion with Winemaker in Begnins
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-05-29

      dl
        dt Description
        dd: p Vincent Chappuis is a local winemaker from Begnins. He is not an organic wine producer but abides by certain regulations to obtain the Vitisuisse certificate, which tries to find an optimal balance between copper and synthetic molecules for plant protection.

        dt Contribution
        dd
          p For Vincent Chappuis, copper isn't a problem for vineyards. Copper has been used since mildew started infecting plants in the 16<sup>th</sup> century. Compared to the early 20<sup>th</sup> century, when copper was used in quantities as large as 40 g to 100 g per hectare, his now meagre 1.4 g max per hectare per year doesn't seem like much, while still being effective against mildew.
          p As for our implementation ideas, he thought that the wood chip idea would be far too hard to implement since they would cost a lot of time, resources and money to deal with (picking them up, placing them across the field…). He also did not like the idea of using GMOs directly in his field. When asked, though, he replied preferring yeast over the alternative bacteria as the organism involved with the project. The carpet idea, however, seemed to interest him and, in addition, he reported it would help with deweeding under the plants. When asked about the potential issue of the carpet preventing some rain from entering the soil to feed the plants, he explained that vines have very deep roots, capable of reaching out and getting enough water. This would thus not be a problem. However, when looking at Vincent Chappuis' vines, which are grown in lines perpendicular to the slope, we realised the carpet idea was a bit more complicated to implement than anticipated, as it would be difficult for us to control the water flow.
          img(src="assets/hp/0.jpg")

        dt Adjustments
        dd: p We abandoned the chip idea. We chose yeast as our chassis and we readjusted the specifications for our carpet: we needed a carpet that did not rely on gravity to move water, as this would not be possible in the vineyards we had visited.

        dt Next steps
        dd: p GMOs seemed to be a delicate topic. We often felt a level of distrust from the people we spoke to concerning them. We decided we needed to incorporate aspects of education and outreach concerning genetically modified organisms into our project.


    .hp-popup-item(id="popup-3")
      header
        h3 Discussion with winemakers in the domaine de la ville de Morges Julien Pasche
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-06-04

      dl
        dt Description
        dd: p This domain has very shallow soil (30 cm).The winemakers are relatively new to the job and seem very interested in our project. They run an organic practice.

        dt Contribution
        dd
          p We learnt a lot concerning regulations of pesticide use in Switzerland. For the most part, the winemakers' practice is subsidized by the state. Organic practices, that mostly use copper-based treatments, are the most subsidized in Switzerland. The second most subsidized product in the agricultural field is a copper-free synthetic pesticide. We can thus observe a dichotomy: on the one hand, the state seems to push for a synthetic pesticide-free agriculture, and on the other, it seems to recognize the issue of copper contamination and is attempting to remedy it simultaneously.
          p At this stage in our project, votations in Switzerland to ban the use of synthetic pesticides were going on. This was extremely interesting, as if synthetic pesticides were to be banned, winemakers would need to find alternative options, such as organic ones, thus exacerbating this copper issue. Our project would thus potentially have a big impact on the long term viability of organic agriculture.
          p As for our implantation ideas, he mentioned he liked the carpet and the idea of saving costs from weeding, mentioning the high cost of labor involved. Moreover, he felt it was crucial to treat the water that fell directly under the leaves. However, he warned of the difficulty of implementing such a system in vineyards and recommended looking into alternative options such as water treatment facilities.

        dt Adjustments
        dd: p Given the opinions of these 3 winemakers, we decided to start thinking of the project as a water treatment project rather than limiting our application to vineyards. We now needed to build a scalable reactor which could be used not only in vineyards, but anywhere else copper needed to be retrieved from water. We chose to concentrate less on managing the capture of the water from the fields themselves, and more on the containment of our genetically modified yeast.

        dt Next steps
        dd: p We decided to develop a flow-through reactor to treat the water. The details of this reactor can be found on the Hardware page.


    .hp-popup-item(id="popup-3")
      header
        h3 Discussion with Olivier Viret
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-07-21

      dl
        dt Description
        dd: p Olivier Viret was the head of the research division at Agroscope Changins-Pulley-Wädenswil for a long time. He is now the chief of the Special Cultures Competencies Center for the state of Vaud. He's an expert in the fields of mycology, plant pathology, viticulture and enology with a doctorate from ETH Zurich. His name came up every time we had a discussion with people in the field of viticulture as someone of great expertise.

        dt Contribution
        dd: p The discussion was very interesting from a motivational point of view. He did not give us much feedback on the technical aspects of the project, but his input did give us more conviction for spreading knowledge about copper, sulfates and synthetic pesticides.

        dt Adjustments
        dd: p None

        dt Next steps
        dd: p Speak to the people treating the damaged soil to inquire about their own solution and their view of our project.


    .hp-popup-item(id="popup-4")
      header
        h3 Meeting with Ludovic Vincent
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-07-23

      dl
        dt Description
        dd: p Ludovic Vincent is the CEO and Co-Founder of BIOMEDE, a start-up specialising in phytoremediation of copper and other heavy metals in agricultural soil. This method is used for very highly polluted soils. As the CEO of a start-up, Mr. Vincent knows how to design optimal process flows. We thus asked for his help in designing one for our hardware project that was taking form.

        dt Contribution
        dd: p During this first meeting, Ludovic Vincent confirmed that the results from the experiments we had done to measure copper concentrations in fields (see Background page for more information) were correct. Rather than focusing on the vines themselves, he strongly suggested we work on integrating our system into water treatment facilities. Moreover, he advised us to look into recuperating the copper from the yeast once it had been bound. He advised using centrifugation to separate the yeast from the water. Copper could be separated from the yeast using EDTA because of its chelating properties, meaning it will bind to copper more than copper will bind to CUP1, thus separating the two. However, he did mention that EDTA was a very toxic product, and thus would not be optimal for large scale use, especially for a project aiming to be sustainable.

        dt Adjustments
        dd: p The project will broaden its purpose as we look more deeply into how it could better be implemented at a large scale in water treatment plants.


    .hp-popup-item(id="popup-5")
      header
        h3 Meeting with Karla Castro
        a(href="#close"): svg: use(href="assets/icons.svg#close")

      dl
        dt Description
        dd: p Ms Montserrat works at the Laboratory of Protein Design and Engineering at EPFL. We had come to a point in our design where we knew we wanted to create dimers of our copper binding proteins. To do this, we needed to design linkers between our dimers. We met with Ms Montserrat to talk about design strategy.

        dt Contribution
        dd: p Ms Montserrat, experienced in protein design, and after hearing about our project, suggested designing several different types of linkers. She told us that most of the time, it is best to test many different linkers and see what works best. Linkers can take different forms, thus we decided to test a variety of forms. These include regid, semi-rigid and flexible linkers. You can find out more about the linkers on <a href="Design.html">our Design page</a>.


    .hp-popup-item(id="popup-6")
      header
        h3 Meeting with Andreas Kuster, an iGEM alumni
        a(href="#close"): svg: use(href="assets/icons.svg#close")

      dl
        dt Description
        dd: p Andreas Kuster is an iGEM alumni from ETH Zürich 2019, and was very involved in the hardware aspect of their project. As we needed more expertise on fluid dynamics and design of our bioreactor, we went to him for help.

        dt Contribution
        dd: p He showed us what his iGEM team had created in 2019. In particular, he spoke to us about how to avoid clogging the filters with the microorganisms used to treat the water. He explained that the geometry used Bernoulli's principle to create a low pressure section to optimize water flow. This proved to be useful for our project.

        dt Adjustments
        dd: p We started to test (via simulations) different modifications to one of the hardware part's geometry to create a pocket of low pressure. This helped us adjust our design. More about these simulations can be found on our Modelling page.


    .hp-popup-item(id="popup-7")
      header
        h3 Meeting with the STEP in Vidy
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-08-19

      dl
        dt Description
        dd: p The water treatment facilities in Vidy treat most of the water coming from most of the district of Lausanne. They kindly agreed to give us a brief description of their activities.

        dt Contribution
        dd: p We learnt that in these facilities, between 2 and 4 cubic meters of wastewater were treated per second. It seemed improbable that our yeast, or any organism for that matter, would be able to act on the water that fast, and significantly decrease the copper concentration. They told us about their use of ceramic volcanic rock to fix bacteria. Using a substrate to fix our yeast seemed promising, thus we began to look into it.

        dt Adjustments
        dd: p We are looking to adapt one of our designs to fit the water treatment facilities needs.

    .hp-popup-item(id="popup-8")
      header
        h3 Meeting with Edouard Anicet from the STEP in Allaman
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-08-31

      dl
        dt Description
        dd: p Mr. Anicet is a project manager in the Suez group. He is also a chemical engineer who has worked in innovation in water treatment facilities. His contact was given to us by our correspondent at the Vidy water treatment plant in Lausanne.

        dt Contribution
        dd: p We discovered biolyte, which is an expanded clay. This is the product that Suez is developing. Its main competitor is bio styrene, an expanded polystyrene. Both work in a similar way: the pores of the material are colonized by bacteria that feed on the dirt in the water, reproduce and continue to colonize the beads. Finally, he mentioned pozzolan, which is a red volcanic rock and would serve the same function as the two synthetic products mentioned above.

        dt Adjustments
        dd: p Our discussion with Edouard Anicet made us realize that their method was not made to be able to recuperate the cells once placed in the water. We had to find an alternative. We chose to focus on agarose and alginate beads.

        dt Next Steps
        dd: p Look for a meeting with Agarose beads technologies to discuss agarose beads. Sadly, this meeting never happened as our schedules never coincided.


    .hp-popup-item(id="popup-9")
      header
        h3 Second meeting with Ludovic Vincent
        a(href="#close"): svg: use(href="assets/icons.svg#close")
      .date 2021-09-06

      dl
        dt Description
        dd: p Ludovic Vincent is the CEO and Co-Founder of BIOMEDE, a start-up which specialises in phytoremediation for copper and other heavy metals in agricultural soil.

        dt Contribution
        dd: p This time, Ludovic Vincent seemed interested in our project from an economical point of view. We played around with numbers for reselling copper at market value. Our conclusion, then, was that by extending the time between refills of the reactor to at least 5 years and by driving the initial cost to a very low value, it could potentially be a viable plan. Ludovic Vincent suggests recycling the copper directly back onto the vines if that were possible. However, Ludovic Vincent is also of the opinion that adapting our process for use in water treatment plants instead of vineyards could be more economically viable, as he is quite sure it is a problem in many places in France where there are large vineyards and the funding for such a project would be easier to find.

        dt Adjustments
        dd: p We won't adjust, since time is now too scarce. However, we now have expert advice on where to focus our energy on: water treatment plants could be an interesting point to work on. The technology is needed and the investment would be put in by the authorities while large scale installment of small reactors would be avoided.


    .hp-popup-item
    .hp-popup-item(id="popup-10")
      header
        h3 Professor Giovanni Boero
        a(href="#close"): svg: use(href="assets/icons.svg#close")

      dl
        dt Description
        dd: p Professor Boero is in the Micro-Engineering faculty at EPFL. He teaches Fluid Dynamics among many other courses.

        dt Contribution
        dd: p We asked him for his expertise on our fluidics system (design 2.2 on the Hardware page). He was sceptical about our simulations because the system seemed too complicated and it would necessitate much more testing. He urged us to simplify the fluidics system and drew up some loose schematics that brought us to the vortex system (design 2.3 on the hardware page).

        dt Adjustments
        dd: p We changed our bioreactor from design 2.2 to design 2.3. Design 2.3 keeps the concept of an infinite circuit for the yeast, but differs from design 2.2 as it eliminates the need for a complex connecting part and simplifies simulations.


    .hp-popup-item
    .hp-popup-item(id="popup-11")
      header
        h3 Professor Christof Holliger
        a(href="#close"): svg: use(href="assets/icons.svg#close")

      dl
        dt Description
        dd: p Professor Holliger is the principal investigator at the Laboratory of Environmental Biotechnology here at EPFL. His research is focused in three main areas: Biological treatment of industrial effluents by free and immobilized biomass, bioremediation of soils and aquifers and integrated microbial processes for the treatment of solid organic wastes.

        dt Contribution
        dd: p We spoke to him near the end of our project so he could give us feedback on our project as a whole. During our exchange, we learnt various things. Firstly, to his knowledge, no one is treating contaminated rain water as it falls from agricultural plants. Secondly, he made us aware of the challenges of our project. These included in particular the irregularity of rainfall timing and amount, and thus the irregularity of the water treatment. This irregularity is an issue for maintaining our biomass (yeast) alive during this time. Indeed, the yeast needs to be fed constantly, and cannot be left to degrade. Since anticipating rainfall is a challenge, so would be maintaining our biomass alive. Thirdly, he emphasized the need to integrate our project into a circular economy. Indeed, once the soil is heavily polluted by copper, a few mg of copper won't change much to the fate of the soils. They will still need to be dealt with in processes such as bioremediation, phytoremediation, or chemical treatment. However, using the copper that was fixed to the yeast to make new fungicide would be a strong reason to adapt this project into real-life.


  p To better understand how interaction with these various people impacted our project, we have split the following section into our main stakes:
  ul
    li Preserving the economic livelihood of winemakers
    li Safety and security considerations
    li Legal considerations
    li Circular economy approach
    li Making use of the infrastructures already at hand &ndash; the water treatment facilities

  p For each, we describe below how relevant stakeholders impacted this aspect of our project, and ensured we were doing what was best for each.

  h3 Preserving the economic livelihood of winemakers
  p As you can see in the flowchart above, the numerous stakeholders we engaged with truly shaped our project. We began by meeting with various winemakers across the region of Lavaux. Our project was already motivated by a will to decontaminate the soils of vineyards, but we felt a need to connect with the concerned winemakers, to truly understand the problem from their perspective. We met with winemakers from three different vineyards, some of whom used the organic label, others who didn't. Most of them agreed that this was a serious issue, and that their soil was too contaminated to be able to grow new vines in. We wanted our project to preserve the economic livelihood of these winemakers, so we asked them how we could aid in that. They replied they needed to be able to still use copper based fungicide. Moreover, we ran a few implementation ideas and they responded that some were realistic, and some weren't. We realised from the start that our implementation needed to be safe, realistic, and in conjunction with the winemaker's needs. This brought us to reconsider a few of our implementation ideas. In particular, due to the shape of the design and the difficulty to install it, we had to abandon our delta funnel idea. When speaking to winemakers, we made sure to consider the geometrical constraints of the vines, but also their financial constraints. They also spoke to us about the cost of labour, which rendered some of our implementation ideas unrealistic.
  p Concerning synthetic biology, they informed us of the rather negative image genetically modified organisms had in the general public, in particular bacteria. Curious to see whether this was a recurring theme in the region, we put together a survey to find out more. The survey, the details of which can be found on the Collaborations page as it was part of a collaboration with the University of Zurich iGEM team, showcased a general unease of GMOs, but a stronger worry for pesticides. We hypothesized that the weariness concerning GMOs came from a lack of communication on the subject. We thus decided to work on de-stigmatizing GMOs in part of our Education and Outreach work. Namely, we created a four episode podcast series on GMOs in Switzerland, that raises questions on GMOs in different sectors.

  h3 Safety and security considerations
  p Empowered by the feedback we had received from the general public about GMOs, we realised we had to tread extremely carefully when it came to proposing an implementation that involved GMOs. We had already seen that the winemakers we had spoken to were not too keen to use this technology. We thus took extra precautions in our hardware to make sure the yeast we were working with were in a closed system. We thus contacted water treatment facilities, who already work with bacteria to treat water. Their input guided us towards using a substrate in order to fix our yeast. Further discussions led us to using alginate beads as a substrate. These beads could then be used in a bioreactor isolated from the fields. The separation of the water isolation and treatment processes would thus make the winemakers feel more safe. Furthermore, the treatment of the water being reserved to a water treatment facility would allow for precise monitoring of the genetically modified organisms.
  p It was vital to ensure our implementation was safe, thus that it functioned correctly. Towards this aim, we consulted with various experts on the subject, namely Andreas Kuster and Giovanni Boero, who both aided in the design of the bioreactor. A broken or non-functioning bioreactor could risk liberating the genetically modified yeast inside, or require maintenance that need not be. We thus took every precaution to incorporate their feedback into our model. Moreover, when building our design, we made sure to take into account the technical limitations present in the different areas we were working in. To do so, we spoke extensively to winemakers to get as much data as we could concerning the use of Bordeaux Mixture, as well as the dimensions of their vines and their relative dispositions. This allowed us to know our working copper concentrations in rainfall, how much rainfall needed to be treated each time etc.

  h3 Legal considerations
  p As we learnt from our interview with Olivier Viret, it is currently illegal in Switzerland to release genetically modified organisms in nature. Mr Viret also taught us about the need to diversify the discourse concerning the use of GMOs as well as synthetic pesticides. We used much of what he said to build our podcast episodes on agriculture and law.

  h3 Circular economy approach
  p It was always a goal of CuRe to have a circular economy approach. We knew preventing copper contamination from worsening was our main goal, but we also found it of the utmost importance to think about what to do with the copper once the yeast had extracted it. Thus, by recycling the copper, we would close a loop between its use by winegrowers and its recuperation from the water treatment facility. In fact, as we found out, copper is one of a few materials that can be fully recyclable repeatedly without any loss of performance. Thanks to Christof Holliger and Ludovic Vincent, who both brought this up during our interviews with them, we were able to truly think about our project in an all-encompassing manner.

  h3 Making use of the infrastructures already at hand &ndash; the water treatment facilities
  p Towards the middle of our project, it became evident we needed to tailor our implementation towards water treatment facilities rather than having bioreactors working adjacent to the vineyards it was treating. We realised we needed to make use of the knowledge these facilities had when it came to water treatment, as well as the infrastructure that was already built in place to treat wastewater. We thus met with people from the Vidy water treatment facility as well as Mr Anicet from the Allaman water treatment facility. Both made us realise which aspects of our implementation resembled the systems already in place, and which ones required further thought so as to properly incorporate the final product in such a facility. For example, we realised we would fix our yeast to substrates, as they are currently doing with the bacteria they are using. However, once we heard they were treating 2 to 4 m<sup>3</sup> of water per second, we realised our bioreactor needed to sit aside the usual flow of these facilities.


  p As stated on our Human Practices page, CuRe strived to be a project that worked towards the UN's sustainable development goals. We have chosen four goals to keep in mind all throughout our project, and describe below how we have integrated each of them into our project.

  h3 6. Clean water and sanitation
  p By treating contaminated rainwater, we are contributing to this goal. Indeed, our work with the water treatment facilities to decontaminate this rainwater is one aligned with the goal to keep water free from pollution. Although this project started out trying to solve the precise issue of copper contamination in vineyard soils, we now recognize it has the potential to be applied anywhere water is polluted with copper. Our bioreactor can be scaled to deal with copper contamination now no matter the source of water.

  h3 11. Sustainable cities and communities
  p CuRe has, since the beginning, worked hand in hand with the communities it was serving to ensure the solution it was offering took into account the needs and wishes of the members in said community. By speaking with those most affected by this issue, the winemakers themselves, we were able to devise a solution that was both sustainable for the environment and for the communities affected. Indeed, we listened to the winemakers when they told us some of our implementation ideas would be hard for them to work with, or that their continuous use of Bordeaux Mixture was essential for their business. Instead of imposing a solution to the environmental crisis that is the excessive copper contamination, we knew we needed to find one that the winemakers themselves could work with. This is one of the reasons why we decided to move our water treatment process to water treatment facilities, and not have it on the fields. Moreover, by working on recycling the copper retrieved from the yeast back into fungicide, we are closing a loop within the community itself, making the practice of organic winemaking an even more sustainable one.

  h3 12. Responsible consumption and production
  p Working on an issue such as fungicide pollution brought up the issue of responsible consumption of such a product, as well as responsible production of the wine that was being produced from the protected vines. Throughout our Education and Outreach work in particular, we spoke to various different crowds about the impacts of organic fungicides. It was an extremely interesting topic to do outreach on, as the organic label is surrounded by the “halo effect”. We attempted to communicate that an organic product is not always harmless to the environment. By exposing this fact, we encouraged people to be more mindful about any product released into the environment. Olivier Viret, whom we spoke to about this issue, was even in favor of the use of certain synthetic pesticides in some cases, as these products often have more specific modes of action than organic ones. Today, some vineyards have copper concentrations that can be up to 20 times the tolerable doses as set by the Swiss government. Moreover, analyses from grounds that were previously vineyards show proof that copper concentrations stay above those limits for a very long time. Copper is toxic and is not specific, meaning it could be more harmful for the ecosystem than many of the synthetic pesticide alternatives. Reflections such as this, in our opinion, are crucial to ensure we are working with the right solutions to the problem we are trying to solve.
  p Moreover, we actively participated in sustainable consumption and production by incorporating reflections on the role copper recycling can have in the circular economy.

  h3 15. Life on land
  p The addition of copper to vineyard soil actively reduces its biodiversity. This heavy metal, in excess, activels harms living organisms, such as earthworms, that are present in the topsoil. By working to ensure this accumulation does not get any worse, we are contributing to ensure better life on land for all organisms.


  p Our integrated human practices were a fundamental part of our project. By interacting with a variety of stakeholders, we were able to discover aspects of our project we had not previously been aware of. These interactions made our project more inclusive, sustainable and one that truly addresses the issue of copper contamination in the best way possible.


  h2 References

  bibliography
