extends templates/_description

block hero
  img.hero-image(src="assets/background/description.jpg")
  .hero-contents: h1 Medals and Awards

block description
  h2 Results

  .results-list
    .results-item
      svg: use(href="assets/icons.svg#goldmedal")
      span Awarded
      span Gold medal

    .results-item
      svg: use(href="assets/icons.svg#bestwiki")
      span Awarded
      span Best wiki

    .results-item
      svg: use(href="assets/icons.svg#bestenv")
      span Nominated
      span Best environment project


  h2.medal-title
    img(src="assets/medals/bronze.png")
    span Bronze medal

  table.table
    thead
      tr
        th Criterium
        th Description
    tbody
      tr
        td Registration (and Local Watch Party Jamboree Attendance)
        td: p We attended the 2021 local watch party in Paris.
      tr
        td Competition deliverables
        td: p We produced a presentation video.
      tr
        td: a(href="Attributions.html") Attributions
        td: p We would like to thank all the people that helped us with our project for their time and effort. They can all be found listed on the Attributions page, as well as how they helped us.
      tr
        td: a(href="Description.html") Project inspiration and description
        td: p CuRe attempts to deal with the problem of copper accumulation in soils, a worldwide issue using a preventive method. We described the problem, why current solutions are failing and how we plan on tackling the issue.
      tr
        td: a(href="Contribution.html") Contribution
        td: p We designed a bioreactor using our hardware skills that future teams could use and documented how to build it. For our contribution, we propose a guide on designing linkers. We learned a lot designing our linkers for our project, and thus in addition to documenting our results and posting our parts, we created a comprehensive guide for future iGEM teams to use.

  h2.medal-title
    img(src="assets/medals/silver.png")
    span Silver medal


  table.table
    thead
      tr
        th Criterium
        th Description
    tbody
      tr
        td: a(href="Engineering_Success.html") Engineering Success
        td: p We demonstrated a full engineering cycle with our biology design and several cycles with our implementation. We documented our synthetic biology process on this page and our hardware cycles on the implementation page.
      tr
        td: a(href="Collaborations.html") Collaborations
        td: p We collaborated with Leuven and Moscow teams by helping them with their more hardware focused projects. We also collaborated with the Unil and UZurich iGEM teams to produce human practices collaborations.
      tr
        td: a(href="Human_Practices.html") Human Practices
        td: p Through research and communication with stakeholders, we took an interdisciplinary approach to understanding our project. This approach allowed us to meet their wishes and needs. Our work in human practices also helped us construct a project respectful of those we were engaging with.
      tr
        td: a(href="Implementation.html") Implementation
        td: p We took time to find an implementation model best suited to the real world, and constructed a prototype. The design method included several engineering cycles to ensure our final design was the best it could be.

  h2.medal-title
    img(src="assets/medals/gold.png")
    span Gold medal

  table.table
    thead
      tr
        th Criterium
        th Description
    tbody
      tr
        td: a(href="Human_Practices.html#hp-gold") Integrated Human Practices
        td: p Integrated human practices shaped our project. We worked with various stakeholders and made sure to incorporate their ideas into our design. Interacting with them allowed our project to be more inclusive and fine-tuned.

      tr
        td: a(href="Model.html") Project Modelling
        td: p We used modelling software to build our implementation, and to show that our current system works. We also made models of our linkers and dimers, to allow us to choose the best linkers possible.

      tr
        td: a(href="Proof_Of_Concept.html") Proof of Concept
        td: p Although the results we obtained were not as expected, we still managed to show a proof of concept. We did this by testing each component of our project, from our hardware to our synthetic biology.

      tr
        td: a(href="Communication.html") Education &amp; Communication
        td: p Through public engagement, we made efforts to educate as many people as possible about synthetic biology. These crowds were from different backgrounds and age groups. We also made certain to inform more students about iGEM.
