extends templates/description.pug

block hero
  h1 Medals Criteria

block description
  h2.medal-title
    img(src="assets/medals/bronze.png")
    span Bronze medal

  table.table
    thead
      tr
        th Criterium
        th Description
    tbody
      tr
        td Registration (and Local Watch Party Jamboree Attendance)
        td We attended the 2021 local watch party.
      tr
        td Competition deliverables
        td We made our presentation video and showed our poster at the local Jamboree.
      tr
        td: a(href="Attributions.html") Attributions
        td We would like to thank all the people that helped us with our project for their time and effort.
      tr
        td: a(href="Description.html") Project inspiration and description
        td CuRe attempts to deal with the problem of copper accumulation in soils, a worldwide issue using a preventive method.
      tr
        td: a(href="Contribution.html") Contribution
        td We designed a bioreactor using our hardware skills that future teams could use and documented how to build it.

  h2.medal-title
    img(src="assets/medals/silver.png")
    span Silver medal


  table.table
    thead
      tr
        th Criterium
        th Description
    tbody
      tr
        td Engineering Success
        td We demonstrated a full engineering cycle with our biology design and several cycles with our implementation.
      tr
        td: a(href="Collaborations.html") Collaborations
        td We collaborated with ------- by helping them with their more hardware focused projects.
      tr
        td: a(href="Human_Practices.html") Human Practices
        td Through research and communication with stakeholders, we took an interdisciplinary approach to understanding our project.
      tr
        td: a(href="Implementation.html") Implementation
        td We took time to find an implementation model best suited to the real world, and constructed a prototype.

  h2.medal-title
    img(src="assets/medals/gold.png")
    span Gold medal
