extends templates/_description

block hero
  img.hero-image(src="assets/background/vineyard1.jpg" style="--color: #c0c0af;")
  .hero-contents: h1 Lab notebook

block description
  h2 Cloning version 1

  article.lab-exp
    header
      h3 Gene PCR
      .date 2021-07-05

    p <strong>Aim</strong> Amplify our endogenous CUP1 yeast using PCR
    p <strong>Protocol</strong> <a href="Protocols.html#protocol-gene-pcr">Gene PCR</a>
    p We have 3 genomic variants Y1, Y2 and Y3. They begin at differing DNA concentrations but we PCR the same amount (20&nbsp;ng) each time.
    p We prepare two sets of tubes, one intended for gel electrophoresis and one to be cleaned up  as we do not have a UV “table” in our lab.

    p We ran a gel electrophoresis to check that the size of our PCRed CUP1 DNA is as expected.

    figure
      img(src="assets/pictures/1.png")
      figcaption
        span Figure 1
        span Labeled agarose gel of PCR samples.
        span On the right is the low range ladder, the three lanes correspond to the three genomic variant amplified. All our amplified CUP1s have a size of around 200&nbsp;bp which matches the theoretical size of CUP1: 183&nbsp;bp.<ref title="Copper metallothionein 1-1 (P0CX80)" authors="UniProt" url="https://www.uniprot.org/uniprot/P0CX80" />

    p <strong>Conclusion</strong> We successfully amplified CUP1 yeast using PCR. We can move on and do a PCR clean up on our samples to purify the DNA.

  article.lab-exp
    header
      h3 PCR Clean-Up
      .date 2021-07-06

    p <strong>Aim</strong> Purify DNA fragments directly from PCR. PCR products are commonly purified to remove excess nucleotides and primers.
    p <strong>Protocol</strong> <a href="Protocols.html#protocol-pcr-cleanup">PCR Clean-Up</a>
    p <strong>Conclusion</strong> We assume that the clean up was correct, we keep our samples on the side for the following Gibson Assembly with our to be digested backbone.

  article.lab-exp
    header
      h3 Plasmid Digestion
      .date 2021-07-07

    p <strong>Aim</strong> Digest our plasmid with BamHI and NheI, linearizing our plasmid, and thus creating a gap where our CUP1 will be inserted during Gibson Assembly.
    p <strong>Protocol</strong> <a href="Protocols.html#protocol-plasmid-digestion">Plasmid digestion</a>
    p <strong>Results</strong> To verify that the digestion worked properly, we ran a gel electrophoresis of our plasmid digested with different combinations of the restriction enzymes: none, BamHI alone, NheI alone, and both BamHI &amp; NheI.

    figure
      img(src="assets/pictures/2.png")
      figcaption
        span.lab-fig-caption Figure 2
        span.lab-fig-title Labeled agarose gel of the digested backbone.
        span.lab-fig-desc Lane&nbsp;1: GeneRuler 1kb DNA Ladder. Lane&nbsp;2: Plasmid digested with BamHI HF. We obtain a band around 6000&nbsp;bp. Lane 3: Plasmid digested with NheI HF. We obtain a band around 6000&nbsp;bp. Lane&nbsp;4: Plasmid digested with both BamHI HF and NheI HF. We obtain a band around 6000&nbsp;bp. Lane&nbsp;5: Undigested plasmid. We obtain a band higher than 6000&nbsp;bp.

    p We should observe bands of this size when cutting the plasmid with either BamHI or NheI. Linear DNA encounters less friction while running through the gel than circular DNA, that which our plasmid is. Thus, on our gel, we expect to see the plasmid cut with either BamHI or NheI run faster than the undigested plasmid, as the plasmid would have been linearized.

    ul
      li Size of the plasmid: 6468&nbsp;bp
      li Size of insert between BamHI and NheI: 189&nbsp;bp
      li Size of the plasmid without the insert: 6279&nbsp;bp

    p We therefore expect a band near 6000&nbsp;bp in the lane where our plasmid was cut with both restriction enzymes. Since the size difference is so small with the plasmid that was cut with only one restriction enzyme, we do not expect a difference on the gel. Furthermore, this agarose gel will not contain bands with a size of 189&nbsp;bp.
    p <strong>Conclusion</strong> The digestion worked properly.

  article.lab-exp
    header
      h3 Gibson Assembly
      .date 2021-07-08

    p <strong>Aim</strong> Anneal the CUP1 gene to the now-linearized vector backbone. The recomposed gene-containing plasmid will be ready to be transformed into bacteria.
    p <strong>Protocol</strong> <a href="Protocols.html#protocol-gibson-assembly">Gibson assembly</a>
    p <strong>Conclusion</strong> We move on to transform our bacteria with our new plasmid (CUP1 + vector).

  article.lab-exp
    header
      h3 Bacteria Transformation and Plating
      div
        span.date 2021-07-08
        | &nbsp;→&#32;
        span.date 2021-07-09

    p <strong>Aim</strong> Transform bacteria with the new plasmid. Once the transformation is done, we can plate them on Ampicillin plates; these plates allow for positive selection of bacteria which will have taken up our plasmid as they have an encoded ampicillin resistance.
    p <strong>Protocol</strong> <a href="Protocols#protocol-bacteria-transformation">Protocol bacteria transformation and plating</a>
    p Plates were put in the inoculator at 30°C.
    p <strong>Results</strong> We observed some colonies on our plates under the microscope the next morning.

    figure
      img(src="assets/pictures/3.png")
      figcaption
        span Figure 3
        span Ampicillin plates containing transformed bacteria, on night after said transformation.
        span Three plates have been plated with the 3 genomic variants Y1, Y2 and Y3 respectively (first three from the left). The last plate (right) is the control plate containing wildtype, untransformed bacteria.

    p The visible colonies contain the AmpR gene which provides them with resistance to bacteria against ampicillin.
    p <strong>Conclusion</strong> The bacteria have at least successfully taken up the backbone with the ampicillin resistance. Moreover, as we have asserted that the digestion was successful and as we know that bacteria can only function properly with circular DNA, we can conclude that the Gibson Assembly was successful. Therefore, the new engineered plasmid was taken up by the bacteria.

  article.lab-exp
    header
      h3 Colony Picking and Culture Inoculation
      .date 2021-07-09

    p <strong>Aim</strong> Pick 3 colonies from the plates that have survived ampicillin treatment and grow them in liquid media.
    p <strong>Protocol</strong> Under the flame, with a sterile pipette, scoop up a colony and release the pipette tip into a 5&nbsp;ml tube. Add liquid media and place in the shaker at 30°C.
    p <strong>Conclusion</strong> We have bacterial clones to pick that contain our plasmid. We picked them, let them grow in liquid media, and then move on to the next step: Miniprep.

  article.lab-exp
    header
      h3 Miniprep
      .date 2021-07-12

    p <strong>Aim</strong> Purify plasmid DNA from our overnight culture of bacteria transformed with a high number copy of our plasmid.
    p <strong>Protocol</strong> <a href="https://ch.promega.com/products/nucleic-acid-extraction/plasmid-purification/pureyield-plasmid-miniprep-system/" target="_blank">PureYield Plasmid Miniprep System (Promega)</a>
    p <strong>Conlusion</strong> Once the Miniprep was performed, we measured our DNA concentration as well as purity using a Nanodrop.

    table
      caption
        span Table 1
        span Quantification of digested samples

      thead
        tr
          th Sample
          th Concentration
          th A260/A280
      tbody
        tr
          td Sample 1 (Y1)
          td 446.0&nbsp;ng/µl
          td 1.88
        tr
          td Sample 2 (Y2)
          td 350.4&nbsp;ng/µl
          td 1.88
        tr
          td Sample 3 (Y3)
          td 330.0&nbsp;ng/µl
          td 1.98

    p <strong>Conclusion</strong> These samples have a high concentration of DNA and appear to be of good quality (1.8 &lt; A260/A280 &lt; 2).

  article.lab-exp
    header
      h3 Sequencing
      .date 2021-07-13

    p <strong>Aim</strong> Compare the now-amplified plasmid with the theoretical sequence to observe potential mutations that may have occurred during amplification in bacteria.
    p <strong>Protocol</strong> Dilute samples and send them to Mycrosynth.
    p <strong>Results</strong> Y2C1 has a mutation (G to C) in both forward and reverse strands. We thus choose to ignore this one. It also seems like the forward primer of Y2C2 did not anneal, therefore we do not have a full strand. To avoid errors, we decide to only keep Y1 and Y3 variants.
    p <strong>Conclusion</strong> We decide to proceed with only Y1 and Y3 genomic variants. We have two clones for each of them.

  article.lab-exp
    header
      h3 Yeast Growth
      .date 2021-07-14

    p <strong>Aim</strong> Grow the yeast in liquid YPD to establish a growth curve. This will give us information on the different stages of our yeast’s growth, especially when they are competent. This occurs at a measured OD600 of 0.8 to 1.
    p <strong>Protocol</strong> Incubate wildtype yeast in shaker at 30°C and 220&nbsp;rpm. In a 14&nbsp;ml Falcon tube, incubate 12&nbsp;µl of wildtype yeast in 4&nbsp;ml of YPD.
    p <strong>Results</strong> TODO
    p We assume growth (from lag to stationary phase) to be around 22&nbsp;hours. We do measurements every hour, with 3 technical replicates each time. Ideally, one would do 2 biological replicates, but limited by the space on the shaker, we can only do one.
    p <strong>Conclusion</strong> Our yeast takes 10&nbsp;hours to reach lag phase, and 22&nbsp;hours to reach stationary phase, they are thus competent after 11&nbsp;hours and until 12&nbsp;hours of growth.

  article.lab-exp
    header
      h3 Yeast Transformation

    p <strong>Aim</strong> Transform the plasmid into the yeast.
    p <strong>Protocol</strong> TODO: Yellow and green box in the lab.
    p We pick clones from each transformed plate. Each time a new clone is picked, it is amplified in liquid media (SDCAA at first but then SDGAA).
    p We prepare 3 samples: a negative control (no DNA, just water), a positive control (the plasmid backbone with no CUP1) and the plasmid with CUP1. We then plate the transformants.

  article.lab-exp
    header
      h3 Western Blot

    p <strong>Aim</strong> Verify the presence and expression of the membrane display system.
    p <strong>Protocol</strong> The V5 tag is part of the membrane display system which itself is under the Gal promoter. Thus expression (and detection) should only occur in the presence of galactose.
    p We load the following bands onto the Western blot:
    ul
      li pCTcon2-V5 in SDCAA,
      li pCTcon2-V5 in SDGAA,
      li EBY100 (WT) in YPD,
      li one clone in SDGAA,
      li one clone in SDCAA.
    p <strong>Conclusion</strong> The clones were probably picked prematurely as they didn’t show anything on the gel.

  article.lab-exp
    header
      h3 Growth curves of different strains

    p <strong>Aim</strong> Check for differences in yeast growth between samples.
    p <strong>Protocol</strong> Overnight shaking in microplate reader, measuring the OD600 every hour. The samples measured are as follows:
    p TODO
    p <strong>Results</strong> We expect slower growth for yeast that contain the plasmid, and even slower growth for yeast expressing CUP1 or the plasmid without CUP1. We indeed observe this hindered growth. Clone D seems to be growing the best.

  article.lab-exp
    header
      h3 Colony forming assays

    p <strong>Aim</strong> Measure viability of the yeast cells.
    p <strong>Protocol</strong> Plate 100&nbsp;µl of each yeast strain on the corresponding plate. Strains were plated at concentrations of 2.5, 0.8, 0.25, 0.08 and 0.025 TODO: unit (3.14 dilution). We record the results of the plates that show distinct colonies (and not a biofilm). Plates were incubated 48&nbsp;hours at 30°C.
    p <strong>Results</strong>

    table
      thead
        tr
          th Strain
          th Media
          th CFU
      tbody
        tr
          td WT (EBY100)
          td YPD
          td
        tr
          td Plasmid
          td SDCAA
          td
        tr
          td Plasmid
          td SDGAA
          td
        tr
          td etc.

  article.lab-exp
    header
      h3 Copper Adsorption Assay

    p <strong>Aim</strong> This assay measures copper concentration in solution with yeast. This will measure how much copper is being taken up by the yeast.
    p <strong>Protocol</strong> See Copper Assays excel file
