extends templates/description.pug

block hero
  h1 Protocols

block description
  h2 Alginate beads production

  p The protocol below is solely for making beads that contain cells which are to be used capturing devices: it does not respect sterility rules.


  h3 Sodium-alginate cell solution 2% preparation

  p Estimated bench time: 5 minutes. Estimated total time: 55 minutes.
  p Purpose: This solution is the basis for the yeast beads.

  h4 Materials
  ul
    li 2 g alginic acid sodium salt powder (sodium alginate)
    li 100 ml of cell dense media (OD600 of 4)
    li a stirring plate and magnet

  h4 Setup and protocol
  ul
    li Mix Alginic Acid Sodium Salt powder into 100 ml cell dense media.
    li Stir for 50 minutes at 700 rpm at 30°C.
    li Make sure the magnet stays at the bottom of the liquid solution. If not, slow down the rotation until the magnet sinks and slowly resume 700 rpm rotation.

  h4 Additional steps (additional 40 minutes)
  ol
    li If sterility cannot be guaranteed, first make the sodium alginate solution with 2 g in 67 ml of the media in which your cells grow
    li Autoclave at 120°C for 20 minutes.
    li Mix in yeast at OD600 of 12. This step might require concentrating the yeast by centrifugation and removal of a part of the supernatant.


  h3 Calcium chloride solution 100 mM preparation

  p Estimated bench time: 5 minutes. Estimated total time: 5 minutes.
  p Purpose: This solution crosslinks the alginate to form a gel like structure.

  h4 Materials
  ul
    li 150 ml of distilled sterile water
    li 1.6647 g of CaCl2

  h4 Setup and protocol
  ol
    li Mix CaCl2 in distilled sterile water.
    li Stir by shaking gently.

  h4 Additional step
  ol
    li Autoclave for 20 minutes at 120°C if sterility cannot be guaranteed otherwise.


  h3 Bead formation

  p Estimated bench time: 30 minutes. Estimated total time: 30 minutes.
  p Purpose: Form regularly sized beads that contain yeast.

  h4 Materials
  ul
    li 100 ml alginate-sodium-cell solution
    li 250 ml bottle filled with 150 ml of 100 mM CaCl solution
    li a stirring magnet and a stir plate
    li a 10 ml syringe (be smart, use whatever you have)

  h4 Setup and protocol (estimated 30 minutes)
  ol
    li Fill the syringe with alginate solution.
    li Open the CaCl2 bottle and drop the sterilized magnet inside.
    li Stir the CaCl2 solution at 400 rpm during the whole experiment.
    li Drop drops of alginate into the bottle while stirring.
    li Continue stirring until 5 minutes have passed since the last bead was made.

  p Tip: If the alginate is dropped from high enough, interfacial forces between the alginate and the air around it will have enough time to separate a faster stream of liquid into evenly sized spherical beads. This makes the process much quicker.


  h3 Bead conservation

  h4 Materials
  ul
    li 100 ml of media (if cell growth is desired)
    li 100 ml of deionized water (otherwise)

  h4 Setup and protocol
  ol
    li Discard CaCl2.
    li Pour the media or water into the bead bottle and keep at 4°C.


  h3 Bead dissolution

  h4 Protocol
  ol
    li Mix about 10 beads in per 5 ml of sodium citrate.
    li Wait for an approximate 20 minutes for bead dissolution.


  h3 Alginate and cell recuperation

  h4 Protocol
  ol
    li Centrifuge the solution at 4000 rpm for 15 min
    li Recuperate supernatant for reuse



  h2 Bacteria transformation and plating<ref authors="New England Biolabs" title="5 Minute Transformation Protocol (C2987H/C2987I)" url="https://international.neb.com/protocols/0001/01/01/5-minute-transformation-protocol-c2987" />

  ol
    li For C2987H: Remove cells from -80°C freezer and thaw in your hand.
    li For C2987I: Thaw a tube of NEB 5-alpha Competent E. coli cells on ice until the last ice crystals disappear. Mix gently and carefully pipette 50 µl of cells into a transformation tube on ice.
    li Add 1-5 µl containing 1 pg-100 ng of plasmid DNA to the cell mixture. Carefully flick the tube 4-5 times to mix cells and DNA. Do not vortex.
    li Place the mixture on ice for 2 minutes. Do not mix.
    li Heat shock at exactly 42°C for exactly 30 seconds. Do not mix.
    li Place on ice for 2 minutes. Do not mix.
    li Pipette 950 µl of room temperature SOC into the mixture. Immediately spread 50-100 µl onto a selection plate and incubate overnight at 37-42°C. NOTE: Selection using antibiotics other than ampicillin may require some outgrowth before plating on selective media. Colonies develop faster at temperatures above 37°C, however some constructs may be unstable at elevated temperatures.



  h2 Colony picking and culture inoculation

  ol
    li Work under the flame.
    li With a sterile pipette, scoop up a colony and release the pipette tip into a 5 ml tube.
    li Add liquid media.
    li Place the solution in the shaker at 30°C.




  h2 Copper concentration measurement


  h3 Cuprizone Preparation

  p Estimated bench time: 15 minutes. Estimated total time: 40 minutes.
  p Purpose: This solution is used for chelating copper, and hence detecting it with a 600 nm absorbance measurement<ref doi="10.1039/b701896g" />. Up to 58 tests can be used from the 250 ml produced.

  h4 Materials
  ul
    li 1 250 ml bottle
    li 1.25 g cuprizone 99%
    li 125 ml deionized water
    li 125 ml ethanol 99%

  h4 Setup and protocol
  ol
    li Add cuprizone, water and ethanol into the bottle.
    li Stir with a magnetic stirrer at 70°C for for 20minutes or until cuprizone is dissolved.
    li Let the bottle cool to about 35°C before using.

  p Tip: The cuprizone solution won't be at the temperature indicated on the stirring plate's screen before a while. Keep the temperature at 200°C during the first 8 minutes for quickly bringing the temperature of the solution to its desired value.


  h3 Copper concentration measurement

  p Estimated bench time: 30 minutes. Estimated total time: 30 minutes.
  p Purpose: This protocol is meant to avoid loss of time when measuring copper concentrations. This protocol can be followed for several samples in parallel, as the time at the bench is periodical.

  h4 Materials
  ul
    li 750 µl sample to measure
    li 4.25 ml cuprizone solution
    li 5 drops of NaOH at about 10%
    li pH paper
    li 1 photospectrophotometer set at 600 nm
    li 1 4 ml cuvette

  h4 Setup and protocol
  ol
    li Mix sample, cuprizone and as much NaOH base as needed to obtain a pH of around 8 (minimum 7 and optimal between 7 and 9 ref: DOI: 10.5740/jaoacint.17-0154). (For more precision: it would be to mix 100ul of NaOH 0.2M into the solution. one drop is about 30ul).
    li wait until the values obtained are stable: 12-18minutes for 2mg and between 17 and 25minutes for 10mg.
    li To determine the concentration from the sample, multiply by the multiplicative factor K<sub>f</sub> determined using the protocol below.


  h3 K<sub>f</sub> measurement

  p Estimated bench time: 30 minutes. Estimated total time: 30 minutes.
  p Purpose: This measurement is needed for calculating the relationship between copper concentration and absorbance. This part can be done simultaneously with the samples, as concentration is not needed for measurements of absorbance.

  h4 Materials
  ul
    li 750 µl sample with known concentration of copper
    li 4.25 ml cuprizone solution
    li 5 drops of NaOH at about 10%
    li pH paper
    li 1 photospectrophotometer
    li 1 4 ml cuvette

  h4 Setup and protocol
  ol
    li Mix sample, cuprizone and as much NaOH base as needed to obtain a pH of around 8 (minimum 7 and optimal between 7 and 9<ref doi="10.5740/jaoacint.17-0154" />).
    li Wait until the values obtained are stable: 16 minutes for 2 mg/L and between 22 for 10 mg/L.
    li The multiplicative factor is equal to the concentration/absorbance ratio.



  h2 Gene PCR<ref authors="ThermoFischer Scientific" title="Invitrogen Platinum&trade; SuperFi&trade; PCR Master Mix" url="https://www.thermofisher.com/order/catalog/product/12358010" />

  ol
    li Thaw, mix and briefly centrifuge each component before use. Avoid generating bubbles when mixing the Master Mix.
    li
      | Add the following components to each PCR tube. Consider the volumes for all components listed in steps 2 and 3 to determine the correct amount of water required to reach your final reaction volume.
      table.table
        thead
          tr
            th Component
            th 50 - µl rxn
            th Final concentration
        tbody
          tr
            td Nuclease-free water
            td to 50 µl
            td
          tr
            td 2X Platinum&trade; SuperFi&trade; PCR Master Mix
            td 25 µl
            td 1X
    li
      | Add your template DNA and primers to each tube for a final reaction volume of 50 μl.
      table.table
        thead
          tr
            th Component
            th 50 - µl rxn
            th Final concentration
        tbody
          tr
            td 10 µM forward primer
            td 2.5 µl
            td 0.5 µM
          tr
            td 10 µM reverse primer
            td 2.5 µl
            td 0.5 µM
          tr
            td Template DNA
            td varies
            td varies
      | Cap each tube, mix, and then briefly centrifuge the contents
    li
      | Incubate reactions in a thermal cycler
      table.table
        thead
          tr
            th(colspan="2") Step
            th Temperature [°C]
            th Time [s]
          tr
            td(colspan="2") Initial denaturation
            td 98
            td 30
          tr
            td(rowspan="3") 30 PCR cycles
            td Denaturation
            td 98
            td 10
          tr
            td Annealing
            td 60.4
            td 10
          tr
            td Extension
            td 72
            td 6.96
          tr
            td(colspan="2") Final extension
            td 72
            td 300 (5 min)
          tr
            td(colspan="2") Storage
            td 4
            td &infin;
    li Add gel loading buffer and analyze with gel electrophoresis. Add gel loading buffer to 10 μl of PCR product, mix, and briefly centrifuge the contents. Analyze the sample using agarose gel electrophoresis. Use your PCR product immediately in down-stream applications, or store it at -20°C.



  h2 Gibson Assembly<ref authors="New England Biolabs" title="Gibson Assembly&reg; Protocol (E5510)" url="https://international.neb.com/protocols/2012/12/11/gibson-assembly-protocol-e5510" />

  ol
    li
      | Set up the following reaction on ice.
      table.table
        thead
          tr
            th
            th 2-3 fragment assembly
            th 4-6 fragment assembly
            th Positive control
        tbody
          tr
            td Total amount of fragments
            td 0.02-0.5 pmols, X µl
            td 0.2-1 pmols, X µl
            td 10 µl
          tr
            td Gibson Assembly Master Mix (2X)
            td 10 µl
            td 10 µl
            td 10 µl
          tr
            td Deinoized H2O
            td 10-X µl
            td 10-X µl
            td 0 µl
          tr
            td Total volume
            td 20 µl
            td 20 µl
            td 20 µl
    li Incubate samples in a thermocycler at 50°C for 15 minutes when 2 or 3 fragments are being assembled or 60 minutes when 4-6 fragments are being assembled. Following incubation, store samples on ice or at -20°C for subsequent transformation.
    li Transform NEB 5-alpha Competent E. coli cells (provided with the kit) with 2 μl of the assembly reaction, following the transformation protocol.



  h2 Miniprep<ref authors="Promega" title="PureYield&trade; Plasmid Miniprep System" url="https://ch.promega.com/products/nucleic-acid-extraction/plasmid-purification/pureyield-plasmid-miniprep-system" />

  p Perform the following procedure at room temperature:

  ol
    li Transfer 600 µl of bacterial culture grown in LB medium to a 1.5 ml microcentrifuge tube.
    li Add 100 µl of Cell Lysis Buffer, and mix by inverting the tube 6 times.
    li The solution should change from opaque to clear blue, indicating complete lysis.
    li Add 350 µl of cold (4 &ndash; 8°C) Neutralization Solution, and mix thoroughly by inverting the tube.
    li The sample will turn yellow when neutralization is complete, and a yellow precipitate will form. Invert the sample an additional 3 times to ensure complete neutralization.
    li Centrifuge at maximum speed in a microcentrifuge for 3 minutes.
    li Transfer the supernatant (~ 900 µl) to a PureYield Minicolumn.
    li Do not disturb the cell debris pellet. For maximum yield, transfer the supernatant with a pipette.
    li Place the minicolumn into a PureYield Collection Tube, and centrifuge at maximum speed in a microcentrifuge for 15 seconds.
    li Discard the flowthrough, and place the minicolumn into the same PureYield Collection Tube.
    li Add 200 µl of Endotoxin Removal Wash to the minicolumn. Centrifuge at maximum speed in a microcentrifuge for 15 seconds. It is not necessary to empty the PureYield Collection Tube.
    li Add 400 µl of Column Wash Solution to the minicolumn. Centrifuge at maximum speed in a microcentrifuge for 30 seconds.
    li Transfer the minicolumn to a clean 1.5 ml microcentrifuge tube, then add 30 µl of Elution Buff er directly to the minicolumn matrix. Let stand for 1 minute at room temperature.
    li Centrifuge at maximum speed in a microcentrifuge for 15 seconds to elute the plasmid DNA. Cap the microcentrifuge tube, and store eluted plasmid DNA at &ndash; 20°C.



  h2 Plasmid digestion<ref authors="New England Biolabs" title="NEB Cloner Double Digestion" url="https://international.neb.com/tools-and-resources/usage-guidelines/double-digests" />

  ol
    li
      | Set up reaction as follows:
      table.table
        thead
          tr
            th Component
            th Amount for 50 µl reaction
        tbody
          tr
            td DNA
            td 1.0 µg
          tr
            td 10X rCutSmart Buffer
            td 50 µl (1X)
          tr
            td Restriction enzyme 1 (BamHI)
            td 1 µl (20 units)
          tr
            td Restriction enzyme 1 (BamHI)
            td 1 µl (20 units)
          tr
            td Nuclease-free water
            td to 50 µl
    li Incubate at 37°C for 5 &ndash; 15 min as both enzymes are Time-Saver qualified.



  h2(id="protocol-pcr-cleanup") PCR Clean-Up<ref authors="Promega" title="Wizard&reg; SV Gel and PCR Clean-Up System" url="https://ch.promega.com/products/nucleic-acid-extraction/clean-up-and-concentration/wizard-sv-gel-and-pcr-clean-up-system" />

  h3 Gel slice and PCR product preparation
  ol
    li
      | Dissolving the gel slice
      ol
        li Following electrophoresis, excise DNA band from gel and place gel slice in a 1.5 ml microcentrifuge tube.
        li Add 10 µl Membrane Binding Solution per 10 mg of gel slice. Vortex and incubate at 50 &ndash; 65°C until gel slice is completely dissolved.
    li
      | Processing PCR amplifications
      ol
        li Add an equal volume of Membrane Binding Solution to the PCR amplification.

  h3 Binding of DNA
  ol
    li Insert SV Minicolumn into Collection Tube.
    li Transfer dissolved gel mixture or prepared PCR product to the Minicolumn assembly. Incubate at room temperature for 1 minute.
    li Centrifuge at 16,000 g for 1 minute. Discard flowthrough and reinsert Minicolumn into Collection Tube.

  h3 Washing
  ol
    li Add 700 µl Membrane Wash Solution (ethanol added). Centrifuge at 16,000 g for 1 minute. Discard flowthrough and reinsert Minicolumn into Collection Tube.
    li Repeat Step 4 with 500 µl Membrane Wash Solution. Centrifuge at 16,000 g for 5 minutes.
    li Empty the Collection Tube and recentrifuge the column assembly for 1 minute with the microcentrifuge lid open (or off) to allow evaporation of any residual ethanol.

  h3 Elution
  ol
    li Carefully transfer Minicolumn to a clean 1.5 ml microcentrifuge tube.
    li Add 50 µl of Nuclease-Free Water to the Minicolumn. Incubate at room temperature for 1 minute. Centrifuge at 16,000 g for 1 minute.
    li Discard Minicolumn and store DNA at 4°C or &ndash; 20°C.



  h2 Yeast transformation<ref authors="Zymo Research" title="Frozen-EZ Yeast Transformation II Kit" url="https://www.zymoresearch.com/products/frozen-ez-yeast-transformation-ii-kit" />

  h3 Preparation of competent cells
  p Grow yeast cells at 30°C in 10 ml YPD broth until mid-log phase (~ 5 &middot; 10<sup>6</sup> &ndash; 2 &middot; 10<sup>7</sup> cells/ml or OD<sub>600</sub> of 0.8 &ndash; 1.0). The following steps are accomplished at room temperature.
  ol
    li Pellet the cells at 500 g for 4 minutes and discard the supernatant.
    li Add 10 ml Frozen-EZ Yeast Solution 1 to wash the pellet. Repellet the cells and discard the supernatant.
    li Add 1 ml Frozen-EZ Yeast Solution 2 to resuspend the pellet.

  h3 Transformation
  ol
    li Mix 50 µl of competent cells with 0.2 &ndash; 1 µg DNA (in less than 5 µl volume); add 500 µl Frozen-EZ Yeast Solution 3 and mix thoroughly.
    li Incubate at 30°C for 45 minutes. Mix vigorously by flicking with finger or vortexing (if appropriate for your DNA) 2&hairsp;&ndash;&hairsp;3 times during this incubation.
    li Spread 50 &ndash; 150 µl of the above transformation mixture on an appropriate plate. It is unnecessary to pellet and wash the cells before spreading.
    li Incubate the plates at 30°C for 2&hairsp;&ndash;&hairsp;4 days to allow for growth of transformants.



  h2 Western Blot

  h3 Tissue lysis and buffer extraction
  ol
    li Prepare fresh PBS-TX 0.1% Milk 5% (e.g. 2.5 g in 50 ml PBS-TX).
    li Collect 108 yeast cells for each sample (e.g. prepare a solution 1.5 ml of OD<sub>600</sub> 1.6 and pellet using centrifuge).
    li Resuspend in 200 µl lysis buffer.
    li Boil 10 minutes at 90°C.
    li Add 5 µl of 4 M acetic acid and vortex.
    li Boil 10 minutes at 90°C.
    li Add 50 µL of loading buffer.

  h3 Gel run
  ol
    li Preparing the gels: remove plastic, rinse away salts in dH<sub>2</sub>O, fill chambers with 2X running buffer.
    li Load in wells (30 &ndash; 40 µL/well for 10 wells/gel). Load four times less 4X loading buffer in empty wells (e.g. 10 µL).
    li Run gel 120 V until protein size is low on the gel.
    li Bend gel using a metal tool to remove the gel from plastic, cut away unnecessary gel.

  h3 Blotting
  ol
    li Put the gel in water on the shaker for a minute, then use iBlot for the transfer.

  h3 Staining
  ol
    li Wash the membrane with PBS-TX and stain with Ponceau S solution for 10 &ndash; 15 minutes.
    li Cut around where the protein is stained.
    li Wash with PBS-TX (3x 5 min) and block 30 min - 1 hour.
    li Incubate the primary antibody(ies) O/N at 4°C or 1h30-2h at RT.
    li Wash 3x 5 min with PBS-TX.
    li Incubate the secondary antibody(ies) for 1 hour at RT.
    li Wash 3x 5 min with PBS-TX.

  h3 Imaging
  ol
    li Prepare the chemiluminescent substrate by mixing each WesternBright Sirius<a href="#" class="ref">3</a> solution (2X) together (1 ml each).
    li Put membrane on the table after drying a little bit on Kleenex.
    li Dispense the solution homogenously on the membrane for 5 min.
    li Dry a little on Kleenex and put in plastic. Turn on Imager and expose.

  h3 Stripping
  ol
    li Place the blot in Restore Western Blot Stripping Buffer and incubate for 5 to 15 minutes at 37°C.
    li Remove the blot from the Restore Western Blot Stripping Buffer and wash with PBS-TX.



  h2 References

  bibliography
