extends templates/description.pug

block hero
  h1 Protocols

block description
  h2 Cloning

  h3 Type II restriction enzymes

  p Nam aliquet neque dui, eu accumsan ex semper quis. Nam sit amet lacinia ipsum. Vestibulum lobortis tincidunt magna eu sagittis. Donec in faucibus ante, eu accumsan ante. Nunc sit amet erat nisi. Aliquam erat volutpat. Aenean cursus aliquam metus, ullamcorper porta eros dictum in. Suspendisse ultrices imperdiet placerat. Maecenas vulputate purus id volutpat maximus. Phasellus tincidunt enim nec ante iaculis aliquam. Aliquam vehicula augue sed porta consectetur. Morbi placerat venenatis dui. Integer tortor neque, varius sit amet mauris non, eleifend interdum sapien.
  p Integer ac eleifend nisl, at lacinia lectus. Cras egestas dignissim enim, at lacinia lectus sagittis a. Aliquam vel finibus odio. Nunc elementum aliquet porta. Phasellus suscipit mauris vitae porttitor ultricies. Nullam scelerisque dolor ex, quis blandit purus ornare laoreet. Aenean malesuada sapien nec congue varius. Fusce mollis bibendum eros et lacinia. Integer dictum ac purus sit amet lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis maximus dolor quam, et suscipit dolor fermentum quis. Fusce non nunc urna. Vestibulum sem risus, maximus at elementum ut, interdum ut mauris.

  ol
    li Scrape a few cells from an E.coli glycerol stock (e.gDH5α), straight from the -80°C freezer onto a marked space on an LB-agar plate (no antibiotic!) Streak out three times with a wire and grow overnight at 37°C
    li Innoculate 5ml of LB, in a 50ml Falcon tube, with one colony and incubate overnight at 37°C,200rpm
    li Innoculate 40ml of LB in a 350mL conical flask with 0.4mL of the overnight culture
    li Grow at 37°C and 200rpm until the OD600 = 0.4-0.5
    li Transfer the culture to a 50mL Falcon tube and gravest by centrifugation at 5000rpm for 10 minutes at 4°C
    li Drain the pellet and re-suspend cells in 8mL of Transformation buffer, TF-1
    li Place on ice for 15 minutes and then spin as above
    li Thoroughly drain the pellet and re-suspend in 4mL of TF-2
    li Create 100μL aliquots in 2mL Eppendorfs and immediately freeze in liquid nitrogen
    li Store aliquots in a labelled box in -80° freezer

  h2 References

  ol.ref-list
    li.ref-item
      .ref-authors Wiberg, K., Assefa, A. T., Sundqvist, K. L., Cousins, I. T., Johansson, J., McLachlan, M. S., Wiberg, K., Assefa, A. T., Sundqvist, K. L., Cousins, I. T., Johansson, J., McLachlan, M. S., Cato, I. (2013).
      .ref-title Managing the dioxin problem in the Baltic region with focus on sources to air and fish. Managing the dioxin problem in the Baltic region with focus on sources to air and fish.
      .ref-journal <i>Environmental Pollution</i> 110(3), 375-391.
      .ref-links
        a.ref-link(href="#") CrossRef
        a.ref-link(href="#") Google Scholar
        // a.ref-link(href="#") Google Scholar Google Scholar Google Scholar Google Scholar Google Scholar Google Scholar Google Scholar Google Scholar
    li.ref-item
      .ref-authors Wiberg, K., Assefa, A. T., Sundqvist, K. L., Cousins, I. T., Johansson, J., McLachlan, M. S., Cato, I. (2013).
      .ref-title Managing the dioxin problem in the Baltic region with focus on sources to air and fish.
      .ref-journal <i>Environmental Pollution</i> 110(3), 375-391.
      .ref-links
        a.ref-link(href="#") CrossRef
        a.ref-link(href="#") Google Scholar
    li.ref-item
      .ref-authors Wiberg, K., Assefa, A. T., Sundqvist, K. L., Cousins, I. T., Johansson, J., McLachlan, M. S., Cato, I. (2013).
      .ref-title Managing the dioxin problem in the Baltic region with focus on sources to air and fish.
      .ref-journal <i>Environmental Pollution</i> 110(3), 375-391.
      .ref-links
        a.ref-link(href="#") CrossRef
        a.ref-link(href="#") Google Scholar
