extends templates/_description

block hero
  img.hero-image(src="assets/background/safety.jpg")
  .hero-contents: h1 Safety

block description
  h2 Safety information

  h3 Chemicals

  p Here is a list of the chemicals that were used during this project and the safety hazards we were aware of for each of them. Generally we adopted personal equipment measures (long pants, closed shoes, lab coat, glasses, gloves).

  table.table
    thead
      tr
        th Compound
        th Safety hazard
    tbody
      tr
        td Nitric acid
        td Oxidizing, corrosive, gas-producing
      tr
        td Sodium hydroxide
        td Corrosive, environmentally damaging
      tr
        td Ethanol
        td Flammable, toxic, health hazard, irritant
      tr
        td Ethylenediaminetetraacetic acid (EDTA)
        td Irritant
      tr
        td Dimethyl sulfoxide
        td &ndash;
      tr
        td Agarose
        td &ndash;
      tr
        td Acetic acid
        td Flammable, corrosive
      tr
        td 2-mercaptoethanol
        td Toxic, health hazard, corrosive, environmentally damaging
      tr
        td Tris hydrochloride
        td Irritant
      tr
        td Bromophenol blue
        td &ndash;
      tr
        td Glycerol
        td &ndash;
      tr
        td Ponceau S solution
        td Irritant
      tr
        td Tris buffer
        td Irritant
      tr
        td Amino acid power/solution (glycine, tryptophane)
        td &ndash;
      tr
        td Polyacrylamide
        td &ndash;
      tr
        td Sodium dodecylsulfate (SDS)
        td Irritant
      tr
        td Methanol
        td Flammable, toxic, health hazard
      tr
        td Phosphate-buffered saline (PBS)
        td Irritant
      tr
        td DAPI
        td &ndash;
      tr
        td Acetone
        td Flammable, irritant

  p The lab was equipped with a CO2 extinguisher, sand, emergency blanket, eye rincer, emergency showers, alarms, emergency exits. Before working in the lab every team member had a security training on chemical and biological risks.

  h3 Particular security measures

  ul
    li Funnel for HNO3 use
    li Preparation under cold water for 2 M NaOH in water (exothermic reaction)
    li All paper based stuff used are immersed into water before putting in the trash
    li Special glasses when using UV lamp
    li Special heat gloves when preparing gel with microwave

  h3 Environmental considerations

  ul
    li Trash can for acidic compound
    li Trash can for basic compound
    li Bleach containing trash can for biological compound
    li Paper and filter in water before trash
    li Clean everything (vessel, bench…) with ethanol
    li Wash glassware with washing machine after water and ethanol for analytical chemistry steps
    li Autoclaved vessels for biological steps
    li Special Trash for GMOs touching equipements (tips…)
    li Funnel and fire to avoid contamination of sample (working with DNA)
