extends templates/layout.pug

block contents
  main.layout-snake
    section
      h2 Diagnosis
      p Next generation diagnostic systems like SHERLOCK can identify pathogens with high precision and accuracy. This enables rapid identification of an individualized therapeutic strategy even in the case of multiresistant superbugs. Using Phactory, we overcome the last remaining obstacles for efficient bacteriophage therapy.
      div: include ../internal-assets/icons/microscope.svg

    section
      h2 Modular Phage Assembly
      p With a cell-free production system we utilize one of the most revolutionary concepts of synthetic biology to produce therapeutic bacteriophages. Based on personalized diagnostics, bacteriophage DNA is chosen from a library and subjected to extensive quality assessment procedures to ensure a safe and effective application.
      div: include ../internal-assets/icons/microscope.svg

    section
      h2 Diagnosis
      p Next generation diagnostic systems like SHERLOCK can identify pathogens with high precision and accuracy. This enables rapid identification of an individualized therapeutic strategy even in the case of multiresistant superbugs. Using Phactory, we overcome the last remaining obstacles for efficient bacteriophage therapy.
      div

    section
      h2 Modular Phage Assembly
      p With a cell-free production system we utilize one of the most revolutionary concepts of synthetic biology to produce therapeutic bacteriophages. Based on personalized diagnostics, bacteriophage DNA is chosen from a library and subjected to extensive quality assessment procedures to ensure a safe and effective application.
      div

    section
      h2 Diagnosis
      p Next generation diagnostic systems like SHERLOCK can identify pathogens with high precision and accuracy. This enables rapid identification of an individualized therapeutic strategy even in the case of multiresistant superbugs. Using Phactory, we overcome the last remaining obstacles for efficient bacteriophage therapy.
      div

    section
      h2 Modular Phage Assembly
      p With a cell-free production system we utilize one of the most revolutionary concepts of synthetic biology to produce therapeutic bacteriophages. Based on personalized diagnostics, bacteriophage DNA is chosen from a library and subjected to extensive quality assessment procedures to ensure a safe and effective application.
      div
