extends templates/layout.pug

block contents
  main.layout-team
    section.team-hero
      h1 Team

    section.team-members
      h2 Team members

      .members
        each val, index in new Array(10).fill(0)
          .members-item
            img.members-image(src="https://thispersondoesnotexist.com/image")
            .members-text
              .members-title Foo Bar #{index}
              .members-desc Curabitur gravida
              .members-expl Suspendisse pharetra velit at nisi condimentum, sed tincidunt neque ullamcorper.
